<div class="core_main Index" id="success">
	<div class="core_title">
    	<span class="core_title_con"></span>
	
        <span class="core_title_edit"></span>
    </div>
    <div class="core_con">
        <div class="message">
        <table class="message">
            <tr>
                <td class="topTd" ></td>
            </tr>
            <tr >
                <th class="tCenter space">{$msgTitle}</th>
            </tr>
            <present name="message" >
            <tr >
                <td >{$message}</td>
            </tr>
            </present>
            <present name="error" >
            <tr >
                <td >{$error}</td>
            </tr>
            </present>
            <present name="closeWin" >
            <tr >
                <td>{:L('系统模板')} <span id="wait">{$waitSecond}</span> {:L('秒后自动关闭，如果不想等待,直接点击')} <a id="href" href="{$jumpUrl}">{:L('这里')}</a> {:L('关闭')}</td>
            </tr>
            </present>
            <notpresent name="closeWin" >
            <tr >
                <td>{:L('系统模板')} <span id="wait">{$waitSecond}</span> {:L('秒后自动关闭,如果不想等待,直接点击')} <a id="href" href="{$jumpUrl}">{:L('这里')}</a> {:L('跳转')}</td>
            </tr>
            </notpresent>
            <tr>
                <td class="bottomTd"></td>
            </tr>
        </table>
        </div>
    </div>
    
    <div class="core_page"></div>
</div>
<script type="text/javascript">
(function(){
var wait = document.getElementById('wait'),href = document.getElementById('href').href;
var interval = setInterval(function(){
	var time = --wait.innerHTML;
	if(time <= 0){
		location.href = href;
		clearInterval(interval);
	}
}, 1000);	
})();
</script>
