<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<!--<li><a class="add" id="download" href="__CONTROLLER__/downloadBak/file/{back_name}" target="dwzExport"><span>下载</span></a></li>
			<li><a class="edit" href="__CONTROLLER__/recover/file/{back_name}" target="ajaxTodo" mask="true" title="确定恢复数据库吗？"><span>恢复</span></a></li>-->
			<li><a class="delete" href="__CONTROLLER__/deletebak/file/{back_name}" target="ajaxTodo" title="确定删除该条备份吗？"><span>删除</span></a></li>
			<li><a class="add" href="javascript:;" title="备份数据库">
				<span onclick="mylocation('__CONTROLLER__/back','备份数据库',500,200)">备份数据库</span>
			</a></li>
			<li><a class="delete" href="__CONTROLLER__/clear" target="dialog" mask="true" width="530" height="200"><span>清空数据库</span></a></li>
			<!-- <li><a class="edit" href="__CONTROLLER__/query_sql" target="dialog" mask="true" width="600" height="400"><span>控制台</span></a></li> -->

	<!--		<li><a class="delete" href="__CONTROLLER__/delectz" target="dialog" mask="true" width="530" height="300"><span>根据时间删除备份</span></a></li>-->
			
		</ul>
	</div>
	
	<table class="table" width="100%" layoutH="138">
		<thead>
		<tr>
			<th>备份文件名</th>
			<th>备份时间</th>
			<th>备份大小</th>
			<th>操作</th>
		</tr>
		</thead>
		<tbody>
		<volist id="vo" name="list">
			<tr target="back_name" rel="{$vo.name}">
				<td>{$vo.shortname}</td>
				<td>{$vo.time}</td>
				<td>{$vo.size}</td><!---->
				<td><a href="/dbbackup/{$vo.name}" target="dwzExport">下载</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
				<a id="{$vo.name}"   title="确定恢复数据库吗？" <php> if(adminshow('cliSwitch')) echo 'href="###" onclick="submitrecover('."'".$vo['name']."'".')"'; else echo 'href="__CONTROLLER__/prerecover/file/'.$vo['name'].'" target="ajaxTodo"'; </php>>恢复</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
				<a href="__CONTROLLER__/deletebak/file/{:urlencode($vo['name'])}" target="ajaxTodo" title="确定删除该条备份吗？">删除</a></td>
			</tr>
		</volist>
		</tbody>
	</table>
</div>
<script>

$(function(){
	// $("#download").click(function(){
	// 	if(typeof($("#back_name").val())=="undefined"){
	// 		alertMsg.error('请选择信息')
	// 		return false;
	// 	}else{
	// 		$(this).attr("href","__CONTROLLER__/downloadBak/file/"+$("#back_name").val());
	// 	}
	// });
	// $("input[name=autobackup]").change(function(){
		
	// 	if($('input[name=autobackup]').attr("checked")==true || $('input[name=autobackup]').attr("checked")=='checked'){
	// 		var is=1;
	// 	}else{
	// 		var is=0;
	// 	}
	// 	//alert(is)
	// 	$.post('__CONTROLLER__/autobackup',{is:is},function(data){
	// 		//alert(data)
	// 	});
	// });
});


function mylocation(url,title,width,height){
	$.pdialog.open(url,'newdialog',title,{width:width,height:height,mask:true,mixable:true,minable:true,resizable:true,drawable:true});
}

var curline = 0;
var flushflag = 1;
if({$if_cli})
	getstate();
function getstate()
{
	$.ajax({
       url:"__CONTROLLER__/getstateajax",
       type:"POST",
       data:null,
       dataType:"JSON",
       global:false,
       success:function(data){
       		if(data.status>0){
	       		flushflag =0;
	       		mylocation('__CONTROLLER__/progress','运行中',500,200);
	       		
       		}else{
       			flushflag=1;
       		}
       }
    });
    if(flushflag==0){
    	setTimeout(arguments.callee, 3000);
    }

}

function submitrecover(name)
{
	postdata = {file:name};
	$.ajax({
       	url:"__CONTROLLER__/prerecover",
       	type:"GET",
       	data:postdata,
       	dataType:"JSON",
       	global:false,
       	success:function(data){
       		if(data.status){
				flushflag =0;
				mylocation('__CONTROLLER__/progress','运行中',500,200);
			}else{
				flushflag=1;
			}
       	}
    });
    //
}
</script>

