<tagLib name="sql"/>


<script language="JavaScript">

//级别改变事件
function level_change(level)
{
	var level = $("#level").children(":selected").val();
	
	//选择应用
	if( level == 1 )
	{
		$('#app_node').unbind('change',load_module);
		$('#parent_tr').hide();
		$('#module_node').hide();
		$('#args_tr').hide();

	}
	//选择模块
	else if( level == 2 )
	{
		$('#app_node').unbind('change',load_module);
		$('#parent_tr').show();
		$('#module_node').hide();
		$('#args_tr').hide();

	}
	//选择操作
	else if( level == 3 )
	{
		$('#app_node').bind('change',load_module);
		$('#parent_tr').show();
		$('#module_node').show();
		$('#args_tr').show();
	}
}
//加载模块节点
function load_module()
{
	var pid = $("#app_node").children(":selected").val();
	$.get('__CONTROLLER__/ajaxLoadModule/id/'+pid,function(data)
	{
		eval("var json="+data);
		if( json.status )
		{
			$('#module_node').empty();
			if( json.data.length == 0 )
			{
				$('#module_node').append( "<option value=''>暂无</option>" );
			}
			else
			{
				$('#module_node').append( "<option value=''>请选择</option>" );
			}
			
			for( i=0;i<json.data.length;i++ )
			{
				$('#module_node').append( "<option value='" + json.data[i].id + "'>" +  json.data[i].title + "</option>" );	
			}
		}
	});
}

</script>


<div class="pageContent">

	<form method="post" action="__CONTROLLER__/update/navTabId/{:md5(__CONTROLLER__.'/index')}" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDoneReload)">
		<input type="hidden" name="callbackType" value="closeCurrent" />
		<input type="hidden" name="id" value="{$vo.id}" />
		<input type="hidden" name="level" value="{$vo.level}" />
		<input type="hidden" name="pid" value="{$pid}" />
		<div class="pageFormContent" layoutH="58">
			<table cellpadding="5" cellspacing="5">
				<tr>
					<th>标识：</th>
					<td>
						<input type="text" class="required alphanumeric" name="name" value="{$vo.name}" />
						<div style="text-align:left;vertical-align:middle;padding-top: 4px;">
						<span style="color:#555555">&nbsp;
						<switch name="vo.level" >
							<case value="1">应用</case>
							<case value="2">模块</case>
							<case value="3">方法</case>
						</switch>						
						的英文名称,区分大小写</span>
						</div>
					</td>
				</tr>
				<tr id="args_tr" style="<eq name='vo.level' value='1'>display:none</eq>">
					<th>参数：</th>
					<td>
						<TEXTAREA class="large bLeft" name="_args"  ROWS="5" COLS="57">{$args_json}</TEXTAREA>
					</td>
				</tr>
				<tr>
					<th>名称：</th>
					<td>
						<input type="text" class="required" name="title" value="{$vo.title}" />
						<div style="text-align:left;vertical-align:middle;padding-top: 4px;">
						<span id="biaoshi" style="color:#555555">&nbsp;中文名称</span>
						</div>
					</td>
				</tr>
				<tr>
					<th>级别：</th>
					<td style="text-align:left">
						<switch name="vo.level" >
							<case value="1">应用</case>
							<case value="2">模块</case>
							<case value="3">方法</case>
						</switch>节点
					</td>
				</tr>
				<tr id="parent_tr" style="<eq name='vo.level' value='1'>display:none</eq>">
					<th>上级：</th>
					<td>
						<select name="pid2" id="app_node" onchange="load_module()">
						<option value="">请选择</option>
						<sql:query model="node" where="level=1" result="app">
						<option value="{$app.id}" <if condition="($app_id eq $app['id']) OR ($vo['pid'] eq $app['id']) ">selected=true</if>>{$app.title}</option>
						</sql:query>
						</select>
						<eq name="vo.level" value="3">
						<select name="pid3" id="module_node">
						<sql:query model="node" where="level=2 and pid='$app_id'" result="module">
						<option value="{$module.id}" <if condition="($vo['level'] eq 3) AND ($vo['pid'] eq $module['id']) ">selected=true</if>>{$module.title}</option>
						</sql:query>
						</eq>
						</select>
					</td>
				</tr>
				<tr>
					<th>排序：</th>
					<td style="text-align:left">
						<input type="text" name="sort" value="{$vo.sort}" /> 
					</td>
				</tr>
				<eq name="vo.level" value="1">
				<tr>
					<th>分组名称：</th>
					<td style="text-align:left">
						<input type="text" name="group" value="{$vo.group}"/>
					</td>
				</tr>
				<tr>
					<th>同步节点：</th>
					<td style="text-align:left">
						<input type="radio" name="is_sync_node" <eq name="vo.is_sync_node" value="1">checked="true"</eq> value="1" id="is_sync_node1" /> <label for="is_sync_node1">启用</label>

						<input type="radio" name="is_sync_node" <eq name="vo.is_sync_node" value="0">checked="true"</eq> value="0" id="is_sync_node0" /> <label for="is_sync_node0">禁用</label>
					</td>
				</tr>
				<tr>
					<th>同步菜单：</th>
					<td style="text-align:left">
						<input type="radio" name="is_sync_menu" <eq name="vo.is_sync_menu" value="1">checked="true"</eq> value="1" id="is_sync_menu1" /> <label for="is_sync_menu1">启用</label>

						<input type="radio" name="is_sync_menu" <eq name="vo.is_sync_menu" value="0">checked="true"</eq> value="0" id="is_sync_menu0" /> <label for="is_sync_menu0">禁用</label>
					</td>
				</tr>
				<tr>
					<th>快捷搜索：</th>
					<td style="text-align:left">
						<input type="radio" name="is_quick_search" <eq name="vo.is_quick_search" value="1">checked="true"</eq> value="1" id="is_quick_search1" /> <label for="is_quick_search1">启用</label>

						<input type="radio" name="is_quick_search" <eq name="vo.is_quick_search" value="0">checked="true"</eq> value="0" id="is_quick_search0" /> <label for="is_quick_search0">禁用</label>
					</td>
				</tr>
				</eq>
				<tr>
					<th>节点类型：</th>
					<td style="text-align:left">
						<input type="radio" name="type" <eq name="vo.type" value="0">checked="true"</eq> value="0" id="type0" /> <label for="type0">管理员</label>

						<input type="radio" name="type" <eq name="vo.type" value="1">checked="true"</eq> value="1" id="type1" /> <label for="type1">会员</label>
					</td>
				</tr>
				<tr>
					<th>状态：</th>
					<td style="text-align:left">
						<input type="radio" name="status" <eq name="vo.status" value="1">checked="true"</eq> value="1" id="status1" /> <label for="status1">启用</label>

						<input type="radio" name="status" <eq name="vo.status" value="2">checked="true"</eq> value="2" id="status2" /> <label for="status2">禁用</label>
					</td>
				</tr>
				<tr>
					<th>描 述：</th>
					<td>
						<TEXTAREA class="large bLeft" name="remark"  ROWS="5" COLS="57">{$vo.remark}</TEXTAREA>
					</td>
				</tr>
			</table>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button id="submit" type="submit">确定</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>