<div class="pageContent">
	<div>
		<div class="pageFormContent" layoutH="60">
			<div>
			<form action="__CONTROLLER__/loginUrl" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDoneReload)">
				<span>会员退出跳转指定地址</span><input name='USER_LOGIN_URL' value='{$USER_LOGIN_URL}'/>　<span style='color:red;'>例如:http://***</span>
				<button type="submit">应用</button>
			</form>
			</div>
			<hr/>
			<foreach name="info" item="vo"> 
			<div style="float:left;margin-bottom:5px;height:148px;overflow:hidden;">
				<div style="float:left;width:260px">
				<a href="__CONTROLLER__/viewLoginTemp/number/{$vo.number}" target="_blank" width="840" height="600" title="点击预览" mask="true">
					<img src="/{$vo.path}" style="width: 240px;height: 146px;"/>
				</a>
				</div>
				<div style="float:left;width:290px"> 
				<ul style="list-style-type:none;padding:20px 20px 5px 5px">
					<li style="padding:2px">状&nbsp;&nbsp;态：<if condition="($vo['status'] eq 1)"><font color="green">已使用</font><else/><font color="red">未使用</font></if></li>
					<li style="padding:2px">模板名称：{$vo.number}</li>
					<li style="padding:2px">多语言：{$vo.multiLang}</li>
<!--					<li style="padding:2px">模板目录：{$vo.catalog}</li>
					<li style="padding:2px">模板描述：{$vo.description}</li>
					<li style="padding:2px">创建时间：{$vo.fileTime}</li>
					<li style="padding:2px"> -->
						<a class="buttonActive" href="__CONTROLLER__/tempChange/number/{$vo.number}/index/0" target="ajaxTodo" mask="true"><span>应用</span></a>
					</li>
				</ul>
				</div>
			</div>
			</foreach>
		</div>
	</div>
</div>
