<div class="pageContent">

			<div>
				<div class="pageFormContent" layoutH="60">     
					<div style="float:left;margin-bottom:5px">
						<div style="float:left;width:260px">
						</div>
						<div style="float:left;width:290px"> 
						<ul style="list-style-type:none;padding:20px 20px 5px 5px">
							<li style="padding:2px;height:20px;line-height:20px;"><span style='color:red'>文档名称</span>：管理系统使用说明书</li>
							<li style="padding:2px;height:20px;line-height:20px;"><span style='color:red'>模板描述</span>：对后台功能的简单简介</li>
							<li style="padding:20px">
								<a class="buttonActive" href="__CONTROLLER__/doaddfile" ><span>下载</span></a>
							</li>
						</ul>
						</div>
					</div>
				         	
				</div>  
			</div>
</div>

