<div class="pageContent">
	<div class="pageFormContent" layoutH="60">         	   
		<foreach name="theme" item="vo"> 
		<div style="float:left;margin-bottom:5px;height:148px;overflow:hidden;">
			<div style="float:left;width:260px">
			<a href="__CONTROLLER__/viewThemeTemp/name/{$vo.name}/imgurl/{:rtrim(strtr(base64_encode('/'.$vo["path"].$vo["name"].'/preview.jpg'),'+/','-'),'=')}" target="dialog" width="840" height="600" title="点击预览" mask="true">
				<img src="/{$vo.path}{$vo.name}/preview.jpg" style="width: 240px;height: 146px;"/>
			</a>
			</div>
			<div style="float:left;width:290px;"> 
			<ul style="list-style-type:none;padding:20px 20px 5px 5px">
				<li style="padding:2px">状&nbsp;&nbsp;态：<if condition="($vo['status'] eq 1)"><font color="green">已使用</font><else/><font color="red">未使用</font></if></li>
				<li style="padding:2px">主题名称：{$vo.name}</li>
				<li style="padding:2px">主题目录：{$vo.catalog}</li>
				<li style="padding:2px">主题描述：{$vo.description}</li>
				<li style="padding:2px">创建时间：{$vo.themeTime}</li>
				<li style="padding:2px">
					<a class="buttonActive" href="__CONTROLLER__/themeChange/themename/{$vo.name}" target="ajaxTodo" mask="true"><span>应用</span></a>
				</li>
			</ul>
			</div>
		</div>
		</foreach>              	
	</div>
</div>
