<style>
.mybordercss table.list td {border: solid 1px #adc5eb;}
.mybordercss table{min-width:600px;}
/*td{
	text-align:left;
}*/
</style>
<form action="__CONTROLLER__/tleupdate" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDoneReload)">
<div layoutH="0" class="mybordercss">
{$content}
 <div class="buttonActive" style="margin-left:350px;margin-top:5px;">
          <div class="buttonContent" >
            <button type="submit">提交</button>
          </div>
    </div>
 </div>
</form>