<include file="Public:header" />
<div class="content fund-list">
	<if condition="count($data['list']) elt 0">
	<h1>{:L('暂无数据')}</h1>
	</if>
	<foreach name='data.list' item='name'>
	<div class="content-block-title">{:L('编号')}:{:($name[L('编号')])}</div>
	<div class="list-block">
		<ul>
			<foreach name="name" item='value' key='name1'>
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{$name1}:</div>
					<div class="item-after">{$name.$name1}</div>
				</div>
			</li>
			</foreach>
		</ul>
	</div>
	</foreach>
	<div class="pager">
		<if condition="$data['nowPage'] neq 1">
		<a href="{$data.firstRow}">&laquo;</a>
		<else/>
		<a href="javascript:void(0)">&laquo;</a>
		</if>

		<a href="{$data.upRow}">&lt;</a>

		<if condition="isset($data['rollPage'][-2])">
		<a href="{$data.rollPage.-2}">{$data['nowPage']-2}</a>
		</if>

		<if condition="isset($data['rollPage'][-1])">
		<a href="{$data.rollPage.-1}">{$data['nowPage']-1}</a>
		</if>

		<a href="javascript:void(0)">{$data.nowPage}/{$data.totalPages}</a>

		<if condition="isset($data['rollPage'][1])">
		<a href="{$data.rollPage.1}">{$data['nowPage']+1}</a>
		</if>

		<if condition="isset($data['rollPage'][2])">
		<a href="{$data.rollPage.2}">{$data['nowPage']+2}</a>
		</if>

		<a href="{$data.downRow}">&gt;</a>

		<if condition="$data['nowPage'] lt $data['totalPages']">
		<a href="{$data.theEndRow}">&raquo;</a>
		<else/>
		<a href="javascript:void(0)">&raquo;</a>
		</if>
	</div>
</div>
<include file="Public:footer" />

