.Contact2{ width:198px; height:110px; background:url(/Admin/Common/install/images/jiemian.gif) no-repeat; margin-left:10px; margin-top:15px;position:relative;}
.Contact2 .LinkWdwd a{position:absolute;right:6px;top:23px;width:78px;height:17px; overflow:hidden; text-indent:-9999px;}
.Contact2 .QQ a{ position:absolute; right:8px; top:50px;background:url(/Admin/Common/install/images/QQT.png) no-repeat; width:32px; height:31px; overflow:hidden; text-indent:-9999px;}
