<script type="text/javascript">
function dialogAjaxDone1(json)
{
	DWZ.ajaxDone(json);
	if (json.statusCode == DWZ.statusCode.ok)
	{
		navTab.reload();
		$.pdialog.closeCurrent(); //关闭添加节点对话框
	}
}
</script>
<div class="pageContent">
	
<form action="__CONTROLLER__/productfunction_addSave" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDone1)">
        <div class="pageFormContent" layoutH="58">
			<table cellpadding="5" cellspacing="5">
				<tr>
					<td class="right" style="width:120px;">功能名称：</td>
					<td class="left">
					  <input type="text" class="required" name="gongneng_name" value="" />
					</td>
				</tr>
				<tr>
				  <td class="right">所属功能：</td>
				  <td class="left">
				  <foreach name="sales" item="salename">
				     <input type="checkbox" name="jiedian[]" value="{$salename}"/>{$salename}
				  </foreach>
				  </td>
			    </tr>
				<tr>
				  <td class="right">状态：</td>
				  <td class="left">
				    <select class="required combox"  name="status">
				      <option value="使用">使用</option>
				      <option value="不使用">不使用</option>
			        </select>
				  </td>
			    </tr>
			</table>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button id="submit" type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
</form>
	
</div>
