<script type="text/javascript">
function dialogAjaxDoneReload(json)
{
	DWZ.ajaxDone(json);
	if (json.statusCode == DWZ.statusCode.ok)
	{
		navTab.reload();
		$.pdialog.closeCurrent(); //关闭添加节点对话框
	}
}
</script>
<div class="pageContent">
	<form action="__CONTROLLER__/productfunction_editSave" method="post" class="pageForm required-validate" onsubmit="return iframeCallback(this,dialogAjaxDoneReload)">
		<input type="hidden" name="callbackType" value="closeCurrent"/>
		<input type="hidden" name="id" value="{$_GET['id']}"/>
	    <div class="pageFormContent" layoutH="58">
		<table cellpadding="3" cellspacing="3" >
            <tr>
                <td class="tRight" style="text-align:right;width:80px">名称：</td>
                <td style="text-align:left" >
                   <input type="text" name="gongneng_name" class="required" value="{$res.名称}" />
                </td>
            </tr>
            <tr>
                <td style="text-align:right;width:80px">所属功能：</td>
                <td style="text-align:left" >
                <foreach name="sales" item="salename">
                  <input type="checkbox" name="jiedian[]" value="{$salename}" <php>if(in_array($salename,$jiedian)){ </php> checked <php>}</php> />{$salename}
                </foreach>
                </td>
            </tr>
            	<tr>
				  <td align="right">状态：</td>
				  <td align="left">
				    <select class="required combox"  name="status">
				      <option value="使用" <if condition="$res['状态'] eq '使用'"> selected </if>>使用</option>
				      <option value="不使用" <if condition="$res['状态'] eq '不使用'"> selected </if>>不使用</option>
			        </select>
				  </td>
			    </tr>     
        </table>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button id="submit" type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
  </form>	
</div>