<include file="Public:header" />
<div class="content">
	<div class="list-block">
		<form  name="usereditform" method="post" action="__MODULE__/User/update">
		<ul>
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('用户编号')}：</div>
					<div class="item-input">{$userinfo.编号}</div>
				</div>
			</li><!--
			<li class="item-content">
				<div class="face-img">
					<div class="rline float-l">
						<if condition="empty($userinfo['头像']) neq true">
						<img src="{$userinfo['头像']}" alt="face">
						<else />
						<img src="__TMPL__Public/img/face.png" alt="face">
						</if>
					</div>
					
					<div class="float-l">
					<a href="__CONTROLLER__/uploadPhoto">
					<img src="__TMPL__Public/img/new.png" alt="newface">
					</a>
					</div>  
				</div>
			</li>-->
			<!--
			<li class="item-content">
				<div class="item-inner">
					<input type="file" name="face-img" class="upimg-bt">
				</div>
			</li> -->
			<if condition="in_array('name',$show) eq true">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('姓名')}：</div>
					<div class="item-input">
						<if condition="in_array('name',$edit) eq true">
						<input id="layer-val" name="name" type="text" value="{$userinfo.姓名}">
						<else/>{$userinfo.姓名}</if>
					</div>
				</div>
			</li>
			</if>
			<if condition="in_array('alias',$show) eq true">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('昵称')}：</div>
					<div class="item-input">
						<if condition="in_array('alias',$edit) eq true">
						<input name="alias" type="text"  value="{$userinfo.昵称}">
						<else />{$userinfo.昵称}</if>
					</div>
				</div>
			</li>
			</if>
			<if condition="in_array('sex',$show) eq true">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('性别')}：</div>
					<div class="item-input">
						<if condition="in_array('sex',$edit) eq true">
						<select name="sex" id="sex">
						<option value="男" <eq name="userinfo['性别']" value="男"> selected="true"</eq>>{:L('男')}</option>
						<option value="女" <eq name="userinfo['性别']" value="女"> selected="true"</eq>>{:L('女')}</option>
						</select>
						<else />{$userinfo.性别}</if>
					</div>
				</div>
			</li>
			</if>
			<if condition="$reg_safe eq true && $MIBAO_NUM egt 1 && $mibao_null eq 0">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label"><span class="tab_font">{:L('密保问题1')}：</span></div>
					<div class="item-input">
						<input type="text" name="mibao_q1" value="{$mibao_q1}" readonly="readonly" />
					</div>
                    <span class="msg">*</span>
				</div>
			</li>
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label"><span class="tab_font">{:L('密保答案1')}：</span></div>
					<div class="item-input">
					<input type="text" name="mibao_a1" value="{$mibao_a1}" />
					</div>
                    <span class="msg">*</span>
				 </div>
			 </li>
			</if>
            <if condition="$reg_safe eq true && $MIBAO_NUM egt 2 && $mibao_null eq 0">
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title label"><span class="tab_font">{:L('密保问题2')}：</span></div>
                    <div class="item-input">
                        <input type="text" name="mibao_q2" value="{$mibao_q2}" readonly="readonly" />
                    </div>
                    <span class="msg">*</span>
                </div>
            </li>
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title label"><span class="tab_font">{:L('密保答案2')}：</span></div>
                    <div class="item-input">
                    <input type="text" name="mibao_a2" value="{$mibao_a2}" />
                    </div>
                    <span class="msg">*</span>
                 </div>
             </li>
            </if>
            <if condition="$reg_safe eq true && $MIBAO_NUM egt 3 && $mibao_null eq 0">
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title label"><span class="tab_font">{:L('密保问题3')}：</span></div>
                    <div class="item-input">
                        <input type="text" name="mibao_q3" value="{$mibao_q3}" readonly="readonly" />
                    </div>
                    <span class="msg">*</span>
                </div>
            </li>
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title label"><span class="tab_font">{:L('密保答案3')}：</span></div>
                    <div class="item-input">
                    <input type="text" name="mibao_a3" value="{$mibao_a3}" />
                    </div>
                    <span class="msg">*</span>
                 </div>
             </li>
            </if>
            <!--会员没有密保时-->
            <if condition="$reg_safe eq true && $MIBAO_NUM egt 1 && $mibao_null eq 1">
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title label"><span class="tab_font">{:L('密保问题1')}：</span></div>
                    <div class="item-input">
                        <select name="secretsafe_name1" id="dna_ques_1"  class="select_text" style="width:80%;height:26px"  >
                            <option value="a" selected="selected" >{:L('请选择')}</option>
                            <foreach name="mb" item="mibao">
                                <option value="{$mibao}"  >{$mibao}</option>
                            </foreach>
                        </select>
                    </div>
                    <span class="msg">*</span>
                </div>
            </li>
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title label"><span class="tab_font">{:L('密保答案1')}：</span></div>
                    <div class="item-input">
                    <input type="text" name="mibao_a1" value="" />
                    </div>
                    <span class="msg">*</span>
                 </div>
             </li>
            </if>
            <if condition="$reg_safe eq true && $MIBAO_NUM egt 2 && $mibao_null eq 1">
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title label"><span class="tab_font">{:L('密保问题2')}：</span></div>
                    <div class="item-input">
                        <select name="secretsafe_name2" id="dna_ques_2"  class="select_text" style="width:80%;height:26px"  >
                            <option value="a" selected="selected" >{:L('请选择')}</option>
                            <foreach name="mb" item="mibao">
                                <option value="{$mibao}"  >{$mibao}</option>
                            </foreach>
                        </select>
                    </div>
                    <span class="msg">*</span>
                </div>
            </li>
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title label"><span class="tab_font">{:L('密保答案2')}：</span></div>
                    <div class="item-input">
                    <input type="text" name="mibao_a2" value="" />
                    </div>
                    <span class="msg">*</span>
                 </div>
             </li>
            </if>
            <if condition="$reg_safe eq true && $MIBAO_NUM egt 3 && $mibao_null eq 1">
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title label"><span class="tab_font">{:L('密保问题3')}：</span></div>
                    <div class="item-input">
                        <select name="secretsafe_name3" id="dna_ques_3"  class="select_text" style="width:80%;height:26px"  >
                            <option value="a" selected="selected" >{:L('请选择')}</option>
                            <foreach name="mb" item="mibao">
                                <option value="{$mibao}"  >{$mibao}</option>
                            </foreach>
                        </select>
                    </div>
                    <span class="msg">*</span>
                </div>
            </li>
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title label"><span class="tab_font">{:L('密保答案3')}：</span></div>
                    <div class="item-input">
                    <input type="text" name="mibao_a3" value="" />
                    </div>
                    <span class="msg">*</span>
                 </div>
             </li>
            </if>
			<if condition="in_array('reciver',$show) eq true and adminshow('baodan_wuliu') eq true">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('收货人')}：</div>
					<div class="item-input">
						<if condition="in_array('reciver',$edit) eq true">
						<input name="reciver" type="text"  value="{$userinfo.收货人}" placeholder="收货人">
						<else />{$userinfo.收货人}</if>
					</div>
				</div>
			</li>
			</if>

			<if condition="in_array('area',$show) eq true">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('国家')}：</div>
					<div class="item-input">
                        <if condition="in_array('area',$edit) eq true">
                        <select name="country" id="country_id">
                            <option value="">请选择</option>
                        </select>
                        <else/>{$userinfo.国家}</if>
                    </div>
				</div>
			</li>
            <li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('省/州')}：</div>
					<div class="item-input">
						<if condition="in_array('area',$edit) eq true">
                        <select name="province" id="province_id">
                            <option value="">请选择</option>
                        </select>
                        <else />{$userinfo.省份}</if>
					</div>
				</div>
			</li>
            <li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('城市')}：</div>
					<div class="item-input">
						<if condition="in_array('area',$edit) eq true" >
                        <select name="city" id="city_id">
                            <option value="">请选择</option>
                        </select>
                        <else />{$userinfo.城市}</if>
					</div>
				</div>
            </li>
            <li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('地区')}：</div>
					<div class="item-input">
						<if condition="in_array('area',$edit) eq true">
                        <select name="county" id="county_id">
                            <option value="">请选择</option>
                        </select>
                        <else />{$userinfo.地区}</if>
					</div>
				</div>
			</li>
            <li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('街道')}：</div>
					<div class="item-input">
						<if condition="in_array('area',$edit) eq true">
                        <select name="town" id="town_id">
                            <option value="">请选择</option>
                        </select>
                        <else />{$userinfo.街道}</if>
					</div>
				</div>
			</li>
			</if>
			<if condition="in_array('address',$show) eq true">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('详细地址')}：</div>
					<div class="item-input address">
						<if condition="in_array('address',$edit) eq true">
						<input name="address" type="text" value="{$userinfo.地址}">
						<else />{$userinfo.地址}</if>
					</div>
				</div>
			</li>
			</if>
			<if condition="in_array('id_card',$show) eq true">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('证件号码')}：</div>
					<div class="item-input">
						<if condition="in_array('id_card',$edit) eq true">
						<input name="id_card" type="text" value="{$userinfo.证件号码}">
						<else />{$userinfo.证件号码}</if>
					</div>
				</div>
			</li>
			</if>
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('钱包地址')}：</div>
					<div class="item-input">
						<input name="bank_address" type="text" value="{$userinfo.钱包地址}">
					</div>
				</div>
			</li>
			<if condition="in_array('bank_apply_name',$show) eq true">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('开户银行')}：</div>
					<div class="item-input">
						<if condition="in_array('bank_apply_name',$edit) eq true">
						<select name="bank_apply_name" id="bank">
							<option value="">{:L('请选择')}</option>
							<foreach name="banklist" item="bank">
							<option <eq name="userinfo.开户银行" value="$bank.开户行"> selected="true" </eq>>
							{$bank['开户行']}
							</option>
							</foreach>
						</select>
						<else />{$userinfo.开户银行}</if>
					</div>
				</div>
			</li>
			</if>
			<if condition="in_array('bank_card',$show) eq true">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('银行卡号')}：</div>
					<div class="item-input">
						<if condition="in_array('bank_card',$edit) eq true">
						<input name="bank_card" type="text"  value="{$userinfo.银行卡号}">
						<else />{$userinfo.银行卡号}</if>
					</div>
				</div>
			</li>
			</if>
			<if condition="in_array('bank_name',$show) eq true">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('开户名')}：</div>
					<div class="item-input">
						<if condition="in_array('bank_name',$edit) eq true">
						<input name="bank_name" type="text"  value="{$userinfo.开户名}">
						<else />{$userinfo.开户名}</if>
					</div>
				</div>
			</li>
			</if>
			<if condition="in_array('bank_apply_addr',$show) eq true">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('开户地址')}：</div>
					<div class="item-input">
						<if condition="in_array('bank_apply_addr',$edit) eq true">
						<input name="bank_apply_addr" type="text"  value="{$userinfo.开户地址}">
						<else />{$userinfo.开户地址}</if>
					</div>
				</div>
			</li>
			</if>
			<if condition="in_array('email',$show) eq true">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">Email：</div>
					<div class="item-input">
						<if condition="in_array('email',$edit) eq true">
						<input name="email" type="text" id="email" value="{$userinfo.email}">
						<else />{$userinfo.email}</if>
					</div>
				</div>
			</li>
			</if>
			<if condition="in_array('qq',$show) eq true">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">QQ：</div>
					<div class="item-input">
						<if condition="in_array('qq',$edit) eq true">
						<input name="qq" type="text"  value="{$userinfo.qq}">
						<else />{$userinfo.qq}</if>
					</div>
				</div>
			</li>
			</if>
			<if condition="in_array('weixin',$show) eq true">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('微信号')}：</div>
					<div class="item-input">
						<if condition="in_array('weixin',$edit) eq true">
						<input name="weixin" type="text"  value="{$userinfo.微信账号}">
						<else />{$userinfo.微信账号}</if>
					</div>
				</div>
			</li>
			</if>
			<if condition="in_array('alipay',$show) eq true">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('支付宝')}：</div>
					<div class="item-input">
						<if condition="in_array('alipay',$edit) eq true">
						<input name="alipay" type="text"  value="{$userinfo.支付宝}">
						<else />{$userinfo.支付宝}</if>
					</div>
				</div>
			</li>
			</if>
			<if condition="in_array('country_code',$show) eq true ">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('国家代码')}：</div>
					<div class="item-input">
						 <select name='country_code' id="country_code">
							<foreach name='NumCheck' item='data' key='code'>
								<option value="{$code}" data-pattern="{$data.exp}" <eq name="userinfo['国家代码']" value="$code">selected</eq>>{$data.zh-cn}</option>
							</foreach>
						 </select>
					</div>
				</div>
			</li>
			</if>
			<if condition="in_array('mobile',$show) eq true">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('移动电话')}：</div>
					<div class="item-input">
					<if condition="in_array('mobile',$edit) eq true">
					<input id="mobile" name="mobile" type="text" maxlength="11" value="{$userinfo.移动电话}">
					<else />{$userinfo.移动电话}</if>
				</div>
			</li>
			</if>
			<if condition="adminshow('smsSwitch') && CONFIG('verifiregmobliesmsSwitch') eq 1 && CONFIG('verifiregmobliesmsContent') neq ''">
            <li class="item-content sms-verfy" style="display:none">
            	<div class="item-inner">
                    <div class="item-title label">{:L('短信验证码')}：</div>
                    <div class="item-input">
                    <div class="row">
                    	<div class="col-50"><input name="regMobileSmsVerfy" type="text" maxlength="6" id="regMobileSmsVerfy" /></div>
                    	<div class="col-50">
		                    <span><input type="button" id="sendMess" class="send-msg  button button-fill button-sms" value="{:L('获取验证码')}" /></span>
		                    <span class="msg" id="state_regMobileSmsVerfy"></span>
                   		</div>
                    </div>
                    </div>
				</div>
			</li>
			</if>
			<if condition="(adminshow('googleAuthSwitch') && CONFIG('altDatagaSwitch'))">
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{:L('设置动态验证')}：</div>
					<div class="item-input">
						<div>
							<div style="float:left;margin-left:5px;height:38px;width:38px;background:url(/Public/Images/googleAuth/button.png) -393px -135px/auto no-repeat;" id="getgoogleAuthqr"></div>
							<div style="float:left;margin-left:5px;margin-top:12px;" id="set"><if condition="$secret">已设置<else />未设置</if></div>
						</div>
					</div>
				</div>
			</li>
			</if>

		</ul>
		<div class="content-padded">
			<button class="button button-success button-fill button-big mobile-modify" type="submit" style="background: #4781ca !important;">{:L('确定')}</button>
		</div>
		</form>
	</div>
</div>
<include file="Public:footer" />

<script src="__PUBLIC__/jquery-2.x.min.js"></script>
<script src="__TMPL__Public/js/area_select.js"></script>
<script>
$$.area_default_show=true;
$$.area_default_country="{$userinfo['国家']}";
$$.area_default_province="{$userinfo['省份']}";
$$.area_default_city="{$userinfo['城市']}";
$$.area_default_county="{$userinfo['地区']}";
$$.area_default_town="{$userinfo['街道']}";
$$.area_select_bind( 'country_id' , 'province_id' , 'city_id' , 'county_id', 'town_id' );

<if condition="(adminshow('googleAuthSwitch') && CONFIG('altDatagaSwitch'))">
$("#getgoogleAuthqr").click(function(){
	<if condition="$secret">
	$.confirm('已设置了动态验证，确定要更改？',function(){
		set();
	});
	<else/>
		set();
	</if>
});
function set(){
	$.get('__URL__/googleAuth',function(data){
      eval('var data='+data);
     if(data.status == 1){
         $.modal({
              title: '二维码',
              text: '<div style="padding:2px 50px"><img src="'+data.data+'"/></div>',
              buttons: [
                {
                  text: '下一步',
                  onClick: function() {
                      nextstep();
                  }
                },
                {
                  text: '取消',
                  onClick: function() {
                      return false;
                  }
                },
              ]
          });
	} else {
        $.modal({text: "{:L('网路异常!')}",buttons: [{text: "{:L('确定')}"}]});
    }
});
}
function nextstep(){
    $.modal({
         title: '验证',
         text: '<input type="text" id="dynamicVerify" placeholder="动态验证码" style="display:block;width:100px;height:30px;padding:6px 10px;margin:50px auto;color:#555;background-color:#fff;border:1px solid #ccc;border-radius:4px;"/>',
         buttons: [
            {
              text: '验证',
              onClick: function() {
                  verify();
              }
            },
            {
              text: '取消',
              onClick: function() {
                  return false;
              }
            ]
	});
	$("#dynamicVerify").focus();
}
function verify(index){
	var verCode=$("#dynamicVerify").val();
	if(!verCode){ $.modal({text: "{:L('请输入验证码')}",buttons: [{text: "{:L('确定')}"}]});return; }
	$.get('__URL__/googleAuth',{verCode:verCode},function(data){
		eval('var data='+data);
		if(data.status == 1) {
            $.closeModal();
            $.modal({
                 title: '验证',
                 text: '验证成功',
             buttons: [
                {
                  text: '完成',
                  onClick: function() {
                      $("#set").html('已设置');
                  }
                },
                {
                  text: '取消',
                  onClick: function() {
                      return false;
                  }
                  ]
            });
		} else {
            $.closeModal();
            $.modal({
                 title: '验证',
                 text: '验证失败',
                buttons: [
                {
                  text: '继续设置',
                  onClick: function() {
                      set();
                  }
                },
                {
                  text: '取消',
                  onClick: function() {
                      return false;
                  }
                  ]
            });
		}
	});
}
</if>
</script>
<script>
    var mibao_option = $("#dna_ques_1").html();

    $(".select_text").change(function(){
        var name = this.name;
            // 初始化除自身外的其他select
            $(".select_text").each(function(){
                if(this.name == name){
                    return true;
                }
                var selected = this.value;
                $(this).empty(); // 清空
                $(this).prepend(mibao_option); // 初始化
                $("#"+this.id+" option[value="+selected+"]").attr('selected','selected');
            });

        $(".select_text").each(function(){
            var value = this.value;
            var name = this.name;
            if(value == 'a'){ // 过滤初始值
                return true;
            }
            // 当前节点已选定的从其他节点删除掉
            $(".select_text").each(function(){
                if(this.name == name){ // 过滤自身
                    return true;
                }
                $("#"+this.id+" option[value="+value+"]").remove(); //删除
            });
        });

    });
</script>

<if condition="adminshow('smsSwitch') && CONFIG('verifiregmobliesmsSwitch') eq 1 && CONFIG('verifiregmobliesmsContent') neq ''">
<!-- 短信验证码 -->
<script src="__PUBLIC__/js/sendsms_mobile.js"></script>
<script src="__PUBLIC__/layer/layer_mobile.js"></script>
<script>
var	characters	= {title:"{:L('提示')}",determ:"{:L('确定')}",clickget:"{:L('点击获取')}",resend:"{:L('重新发送')}"};
var type		= '注册手机号验证真实性';
var mobile      = '*****';
var smsObj;

//手机号修改验证
$("#mobile").keyup(function(){
	var mobile = $("#mobile").val();
	var oldmobile = '{$userinfo.移动电话}';
	
	var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/; 
	if(myreg.test(mobile)){
		$(".sms-verfy").attr("style","");
		$("#mobile").attr("style","");
	}
	if(myreg.test(mobile) && mobile != oldmobile){
		$(".sms-verfy").attr("style","");
		document.usereditform.regMobileSmsVerfy.focus()
	}else{
		$(".sms-verfy").attr("style","display: none;");
	}
});

    
$(".send-msg").click(function()
{
	smsObj = this;
	if("{$picVerify}" === "false"){
		time(smsObj);
	}else{
    layer.open({
        title:['{:L("填写验证码")}','background-color:#0894ec;'],
        skin: 'layui-layer-rim', //加上边框
        area: ['300px', '200px'], //宽高
        btn: ['{:L("确定")}'],
        yes: function(index, layero){
          //点击按钮之后，直接触发AJAX..
          var postval = $("#verifyss").val();
          if(postval == ''){
          	postval = '***';
          }
          $.ajax({
            url:"__CONTROLLER__/verify_s/id/"+postval,
            type:"GET",
            dataType:"JSON",
            data:postval,
            success:function(data){
            data = JSON.parse(data);
                if( data.status == 0 )
                {
                    $('#msg').html(data.tip);
                    var timenow = new Date().getTime();
                    $('#qqsmsverifyImg').attr('src', '__CONTROLLER__/verifyImg/adv/1/' + timenow);
                }
                else
                {
                    layer.close(index);     //关闭弹出层
                    time(smsObj);
                }
            }
            });
        },
        content: '<div style="margin:0 75px;"><img id="qqsmsverifyImg" src="__CONTROLLER__/verifyImg" onClick="smsfreshVerify(this)" border="0" alt="点击刷新验证码" ><br /><span id="msg" style="color:red"></span><br />'+'<input id="verifyss" maxlength="4" type="text" name="verifyss" value="" style="line-height:1.2rem;"></div>',
    });
    }
});
function smsfreshVerify() {
    //重载验证
    var timenow = new Date().getTime();
    if (type) {
        $('#qqsmsverifyImg').attr('src', '__CONTROLLER__/verifyImg/adv/1/' + timenow);
    } else {
        $('#qqsmsverifyImg').attr('src', '__CONTROLLER__/verifyImg/' + timenow);
    }
}
$(".mobile-modify").click(function(){
	var newmobile = $("#mobile").val();
	var oldmobile = '{$userinfo["移动电话"]}';
	var mobilelength = $("#mobile").val().length;
	var smslength    = $("#regMobileSmsVerfy").val().length;
	if(mobilelength < 11){
		document.usereditform.mobile.focus()
		$("#mobile").attr("style","border: 1px solid #b22222;");
		return false;
	}
	if(newmobile != oldmobile && smslength < 6){
		document.usereditform.regMobileSmsVerfy.focus()
		$("#regMobileSmsVerfy").attr("style","border: 1px solid #b22222;");
		return false;
	}
});
$("#regMobileSmsVerfy").keyup(function(){
	$("#regMobileSmsVerfy").attr("style","");
});
</script>
</if>
