<div layoutH="0" id="treeContent" name="placetreeContent{$firstUserInfo['id']}" style="overflow:scroll;">
  <div class="core_con">
  	<php>
  	if(count($topids)>1){
	</php>
	<div style="width:100%;margin:2px auto 4px auto;text-align:center;">
	<ul style="display:inline;">
	<foreach name="topids" item='topuser'>
	<a href="__CONTROLLER__/showLineTree:__XPATH__/uid/{$topuser['编号']}" target="navTab" rel="{:md5(__MODULE__.'/Admin/NetTree/showLineTree:'.__XPATH__)}"><li style="display:inline;padding:5px;<eq name='topuser["编号"]' value='$topid'>background:#cc6633;<else/>background:#3070DE;</eq>height:25px;line-height:25px;font-size:20px;margin:2px;"><font color="#FFFFFF">{$topuser["编号"]}</font></li></a>
	</foreach>
	<ul>
	</div>
	<php>}</php>
    <if condition="$firstUserInfo">
      <table align="center" cellpadding="0" cellspacing="0" width="100%">
        <tr>
         <td><table width="auto" border="0" align="center" style="margin:0 auto;">
              <tbody>
                <tr>
                  <td height="30" align="center"> {// 表单查询 }
                    <form action="__CONTROLLER__/showLineTree:__XPATH__" method="post" name="form1" id="form1" onsubmit="return navTabSearch(this)">
                      <span id="Label1" style="float:left;height:25px;line-height:25px">{$userNode:name}编号：</span>
                      <span style="float:left;padding-right:5px"><input type="text" name="uid" value="" size="12"/></span>
                      <div class="buttonActive" style="padding-right:5px">
					  <div class="buttonContent"><button type="submit">搜索</button> </div></div>
                   	  <if condition="isset($upuser['编号'])">
                   		<a class="button"  href="__MODULE__/Admin/NetTree/showLineTree:__XPATH__/uid/{$upuser['编号']}"  target="navTab"  ><span>上一层</span></a>
						<a class="button"  href='__MODULE__/Admin/NetTree/showLineTree:__XPATH__'  target="navTab"  ><span>置顶</span></a>
                   	  </if>
                    </form></td>
                </tr>
              </tbody>
            </table></td>
        </tr>
        <!-- 拓扑图开始 -->
        {// 第一层 }
        <tr>
        <td valign="top"><table width="100" border="1" bordercolor="#BBBBBB" cellpadding="0" cellspacing="1" bgcolor="#517DBF" align="center" style="margin:0px auto 0 auto;">
            <tbody>
            <tr>
            <td align="center" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="1" cellpadding="0" id="overUser_{$firstUserInfo.编号}">
                <tbody>
                  <tr> {//编号}
                    <td style="height:20px;line-height:20px;text-align:center;border-bottom:1px solid #A5D1EC;background-color:<eq name='firstUserInfo.状态' value='有效'>#3070DE<else/>#AAAAAA</eq>"><font color="ffffff"><strong>{$firstUserInfo.编号}({$firstUserInfo['序号']})</strong></font></td>
                  </tr>
                  <tr> {//姓名}
                      <td style="height:20px;line-height:20px;text-align:center;border-bottom:1px solid #A5D1EC;background-color:<eq name='firstUserInfo.状态' value='有效'>#3070DE<else/>#AAAAAA</eq>"><font color="ffffff"><strong><empty name="firstUserInfo.姓名">[暂无]<else/>{$firstUserInfo['姓名']}</empty></strong></font></td>
                  </tr>
                  {//审核时间 或 注册时间}
                  <tr>
                  <td style="color:#ffffff;height:20px;line-height:20px;text-align:center;border-bottom:1px solid #A5D1EC;background-color:<eq name='firstUserInfo.状态' value='有效'>#3070DE<else/>#AAAAAA</eq>"><empty name="firstUserInfo.审核时间">{:date('Y-m-d',$firstUserInfo['注册时间'])}
                      <else/>
                      {:date('Y-m-d',$firstUserInfo['审核时间'])}</empty></td>
                </tr>
                <foreach name="levelsArr" item="level" key='levelname'>
                  <tr>
                    <td align="center" bgcolor="#E7F2FB"style="line-height:20px">{:($level[$firstUserInfo[$levelname]])}</td>
                  </tr>
                </foreach>
                </tr>
                <tr><td height="25" align="center" valign="bottom" >
					<table width="100%" border="0" background="__PUBLIC__/Images/admin/tab_05.gif" >
					<tbody><tr>
					<td colspan="2" align="center">层:{:$firstUserInfo['排序']}</td>
					</tr>
					</tbody>
					</table>
				</td></tr>
                </tbody>
              </table></td>
            </tr>
            </tbody>
          </table></td>
        </tr>
        {//第一层结束}
        {// 向下递归遍历网络图的所有子节点 }
        {:print_tree($netTree,$firstUserInfo,$netName,$levelsArr,1);} 
      </table>
      <else/>
      <table class='list' style="width:500px">
        <thead>
          <tr>
            <th>&nbsp;提示信息</th>
          </tr>
        </thead>
        <tbody>
          <tr style="height:150px">
            <td><b>该网络暂无人员！</b></td>
          </tr>
        </tbody>
      </table>
    </if>
	 </body>
    </html>
    <php> 
      /*
      * 递归遍历网络图函数
      */
      function print_tree($netTree,$parent,$netName,$levelsArr,$layer)
      {
      		if(isset($netTree[$layer])){
      			$userInfo = $netTree[$layer];
      			$layer++;
      		}else{
        		return; 
        	}
      </php>
		    {//下面上下线}
		    <php> $i=1; </php>
		    <notempty name="userInfo">
		    <tr><td>
		    <table border="0" align="center" cellspacing="0" cellpadding="0" style="margin:0px auto 0 auto;">
		      <tbody>
		      <tr>
		      <td valign="top">
		      <table border="0" cellspacing="0" cellpadding="0">
		        <tbody>
		        <tr>
		          <td valign="top">
		          {//上面上下线}
		          <table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:0px auto 0 auto;">
		            <tbody>
		            <tr>
		            <td align="center" valign="top" style="height:10px;line-height:10px">
		            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="topppppppppppppppppp">
		              <tbody>
		                <tr> {// 左右轨迹条显示,这里判断是显示在 左边 还是 右边 }
		                  <td width="100%" height="1" 
		                  <gt name="i" value="1">bgcolor="#fec749"</gt>
		                  >
		              </td>
		              </tr>
		              </tbody>
		            </table>
		            {// 上下轨迹条显示} <img style="width:1px;height:20px;line-height:20px" alt="" src="/Public/Images/admin/line2.gif" border="0">
		            </td>
		            </tr>
		            </tbody>
		          </table>
		          {//会员信息主体}
		          <table width="100" border="1" bordercolor="#BBBBBB" cellpadding="0" cellspacing="1" bgcolor="#517DBF" align="center" style="margin:0px auto 0 auto;">
		            <tbody>
		            <tr>
		              <td align="center" bgcolor="#FFFFFF"> {//输出会员的相关信息 }
		                <table width="100%" border="0" cellspacing="1" cellpadding="0" id="overUser_{$userInfo['编号']}">
		                  <tbody>
		                  	
		                  {//编号}    
		                  <tr>
		                    <td style="height:20px;line-height:20px;text-align:center;border-bottom:1px solid #A5D1EC;background-color:<eq name='userInfo.状态' value='有效'>#3070DE<else/>#AAAAAA</eq>"><a href="__CONTROLLER__/showLineTree:__XPATH__/uid/{$userInfo['编号']}/u_num/{$userInfo['排序']}" target='navTab' ><font color="ffffff"><strong>{$userInfo['编号']}({$userInfo['序号']})</strong></font></a></td>
		                  </tr>
		                  <tr> {//姓名}
		                      <td style="height:20px;line-height:20px;text-align:center;border-bottom:1px solid #A5D1EC;background-color:<eq name='userInfo.状态' value='有效'>#3070DE<else/>#AAAAAA</eq>"><font color="ffffff"><strong><empty name="userInfo.姓名">[暂无]<else/>{$userInfo['姓名']}</empty></strong></font></td>
		                  </tr>
		                  {//审核时间 或 注册时间}
		                  <tr>
		                    <td style="color:#ffffff;height:20px;line-height:20px;text-align:center;border-bottom:1px solid #A5D1EC;background-color:<eq name='userInfo.状态' value='有效'>#3070DE<else/>#AAAAAA</eq>"><empty name="userInfo.审核时间">{:date('Y-m-d',$userInfo['注册时间'])}
		                        <else/>
		                        {:date('Y-m-d',$userInfo['审核时间'])}</empty></td>
		                  </tr>
		                  <foreach name="levelsArr" item="level" key='levelname'>
		                    <tr>
		                      <td align="center" bgcolor="#E7F2FB"style="line-height:20px">{:($level[$userInfo[$levelname]])}</td>
		                    </tr>
		                  </foreach>
		                  <tr><td height="25" align="center" valign="bottom" >
							<table width="100%" border="0" background="__PUBLIC__/Images/admin/tab_05.gif" >
							<tbody><tr>
							<td colspan="2" align="center">层:{:$userInfo['排序']}</td>
							</tr>
							</tbody>
							</table>
							</td></tr>
		                  </tbody>
		                </table></td>
		            </tr>
		            </tbody>
		          </table>
		          </td>
		        </tr>
		        </tbody>
		      </table>
		      </td>
		      </tr>
		      </tbody>
		    </table>
		    </td></tr>
		    {// 向下递归遍历网络图的所有子节点 }
		    {:print_tree($netTree,$userInfo,$netName,$levelsArr,$layer)}
    		</notempty>
    <php>}</php>
    <php>
  </div>
</div>