<form id="js-setting">

<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
<tr>
<td height="49"><img src="/Public/{$Think.MODULE_NAME}/Common/images/Step-step3-{$lang}.gif" /></td>
<td></td>
</tr>
<tr>
<td valign="top">
<div id="wrapper">





  <h3>{$langs['db_account']}</h3>

<table width="450" class="list">

<tr>
    <td width="90" align="left">{$langs['db_host']}</td>
    <td align="left"><input type="text" name="js-db-host"  value="{$oldconfig.DB_HOST}" /></td>
</tr>
<tr>
    <td width="90" align="left">{$langs['db_port']}</td>
    <td align="left"><input type="text" name="js-db-port"  value="{$oldconfig.DB_PORT}" /></td>
</tr>
<tr>
    <td width="90" align="left">{$langs['db_user']}</td>
    <td align="left"><input type="text" name="js-db-user"  value="{$oldconfig.DB_USER}" /></td>
</tr>
<tr>
    <td width="90" align="left">{$langs['db_pass']}</td>
    <td align="left"><input type="password" name="js-db-pass"  value="{$oldconfig.DB_PWD}" /></td>
</tr>
<tr>
    <td width="90" align="left">{$langs['db_name']}</td>
    <td align="left"><input type="text" name="js-db-name"  value="{$oldconfig.DB_NAME}"/>
        <select name="js-db-list">
            <option>{$langs['db_list']}</option>
        </select>
        <input type="button" name="js-go" class="button" value="{$langs['go']}" />
   </td>
</tr>
<tr>
    <td width="90" align="left">&nbsp;</td>
    <td align="left">
		<span style="color:red" name="checkresult" id='checkresult'></span>
   </td>
</tr>
</table>


<div id="js-monitor" style="display:none;text-align:left;position:absolute;top:45%;left:35%;width:300px;z-index:1000;border:1px solid #000;">
    <h3 id="js-monitor-title">{$langs['monitor_title']}</h3>
    <div style="background:#fff;padding-bottom:20px;">
        <img id="js-monitor-loading" src='/Public/{$Think.MODULE_NAME}/Common/images/loading.gif' /><br /><br />
        <strong id="js-monitor-wait-please" style='color:blue;width:65%;float:left;margin-left:3px;'></strong>
        <span id="js-monitor-view-detail" style="color:gray;cursor:pointer;;float:right;margin-right:3px;"></span>
    </div>
    <div id="js-monitor-notice" name="js-monitor-notice" style="display:block;">
        <div id="js-notice" style="background:#fff;margin:0px;padding:5px 0 0 3px;height:100%;font:12px  Arial, Helvetica, sans-serif;line-height:130%; border-color: #BBDDE5 -moz-use-text-color #BBDDE5 #BBDDE5;border-style: dashed;border-width: 1px 0 0 0;"></div>
        <a id="js-bottom"></a>
    </div>
    <img id="js-monitor-close" src='/Public/{$Think.MODULE_NAME}/Common/images/close.gif' style="position:absolute;top:10px;right:10px;cursor:pointer;" />
</div>

<h3>{$langs['admin_account']}</h3>
<table width="450" class="list">
<tr>
    <td width="90" align="left">{$langs['admin_name']}</td>
    <td align="left"><input type="text" id="super_admin" name="js-admin-name"  value="admin" /></td>
</tr>
<tr>
    <td width="90" align="left">{$langs['admin_password']}</td>
    <td align="left"><input type="password" name="js-admin-password"  value="admin" /><span id="js-admin-password-result"></span></td>
</tr>
<tr>
    <td width="90" align="left">{$langs['password_intensity']}</td>
    <td align="left"><table width="132" cellspacing="0" cellpadding="1" border="0">
              <tbody><tr align="center">
                <td width="33%" id="pwd_lower" style="border-bottom: 2px solid red;">{$langs['pwd_lower']}</td>
                <td width="33%" id="pwd_middle" style="border-bottom: 2px solid rgb(218, 218, 218);">{$langs['pwd_middle']}</td>
                <td width="33%" id="pwd_high" style="border-bottom: 2px solid rgb(218, 218, 218);">{$langs['pwd_high']}</td>
              </tr>
            </tbody></table></td>
</tr>
<tr>
    <td width="90" align="left">{$langs['admin_password2']}</td>
    <td align="left"><input type="password" name="js-admin-password2"  value="admin" /><span id="js-admin-confirmpassword-result"></span></td>
</tr>
<tr>
    <td width="90" align="left">{$langs['admin_email']}</td>
    <td align="left"><input type="text" name="js-admin-email"  value="" /></td>
</tr>
</table>

<h3>{$langs['mix_options']}</h3>
<table width="450" class="list">
<!-- <tr>
    <td width="90" align="left">{$langs['set_timezone']}</td>
    <td align="left">
     <select name="js-timezones">
            <option value="UTC" selected="true">{$langs['timezone']['UTC']}</option>
            <option value="PRC" >{$langs['timezone']['PRC']}</option>
            <option value="Asia/Shanghai" selected="true">{$langs['timezone']['Asia/Shanghai']}</option>
            <option value="Asia/Taipei" >{$langs['timezone']['Asia/Taipei']}</option>
            <option value="Asia/Chongqing" >{$langs['timezone']['Asia/Chongqing']}</option>
            <option value="Asia/Harbin" >{$langs['timezone']['Asia/Harbin']}</option>
            <option value="Asia/Urumqi" >{$langs['timezone']['Asia/Urumqi']}</option>
            <option value="Asia/Hong_Kong" >{$langs['timezone']['Asia/Hong_Kong']}</option>
            <option value="Asia/Macau" >{$langs['timezone']['Asia/Macau']}</option>
            <option value="Asia/Singapore" >{$langs['timezone']['Asia/Singapore']}</option>
            <option value="Asia/Seoul" >{$langs['timezone']['Asia/Seoul']}</option>
            <option value="Asia/Tokyo" >{$langs['timezone']['Asia/Tokyo']}</option>
            <option value="Europe/Berlin" >{$langs['timezone']['Europe/Berlin']}</option>
            <option value="Europe/Dublin" >{$langs['timezone']['Europe/Dublin']}</option>
            <option value="Europe/Paris" >{$langs['timezone']['Europe/Paris']}</option>
   </select>
    </td>
</tr> -->
<!--
<tr>
    <td width="90" align="left">{$langs['disable_captcha']}</td>
    <td align="left"><input type="checkbox" class="p" name="js-disable-captcha"  /> <span class="comment"> ({$langs['captcha_notice']})</span></td>
</tr>-->
</table>



</div>
</td>
<include file="right" />
</tr>



<tr>
<td align="center" style="padding-top:10px;">
	{$langs['select_setup_app']}:
	<foreach name="app_list" item="vo">
		<input type="checkbox" name="app[]" id="app_{$vo.app}" value="{$vo.app}<if condition="isset($vo['group'])">:{$vo.group}</if>" <if condition="$vo['checked'] eq true">checked</if>  /> <label for="app_{$vo.app}">{$key}</label>
	</foreach>
</td>
</tr>
<tr>
  <td>
  <div id="install-btn">
  <input type="button" id="js-pre-step" class="button" value="{$langs['prev_step']}{$langs['check_system_environment']}" /> 
  <input id="js-install-at-once" type="submit" class="button" value="{$langs['install_at_once']}" />
  </div>
  </td><td></td>
</tr>
</table>
</form>