<php>
function printStatus($status)
{
	if($status==0)
	{
		return L("未汇款");
	}elseif($status==1)
	{
		return L("未审核");
	}elseif($status==2)
	{
		return L("已审核");
	}
	else
	{
		return L("已撤销");
	}
}
</php>
<div class="core_main FunBank" id="rem">
	<div class="core_title">
    	<span class="core_title_con"><span>{:L('当前位置')}</span>：{$nowtitle}</span>    
    </div>
    <div class="core_con">
        <table class="tablebg">
        <TR class="datafield" >
			<TH ><nobr>{:L('提供资助会员')}</nobr></TH>
			<TH ><nobr>{:L('接受资助会员')}</nobr></TH>
			<TH ><nobr>{:L('金额')}</nobr></TH>
            <TH ><nobr>{:L('匹配时间')}</nobr></TH>
            <TH ><nobr>{:L('状态')}</nobr></TH>
            <TH ><nobr>{:L('操作')}</nobr></TH>
            <TH ><nobr>{:L('申诉情况')}</nobr></TH>
        </TR>
        <foreach name='data.list' item='vo'>
        <TR class="datalist">
			<TD ><nobr>{$vo.付款会员}</nobr></TD>
			<TD ><nobr>{$vo.收款会员}</nobr></TD>
			<TD ><nobr>{$vo.金额}</nobr></TD>
            <TD ><nobr><if condition="$vo['匹配时间'] gt 0"> {:date('Y-m-d H:i:s',$vo['匹配时间'])}</if></nobr></TD>
            <TD ><nobr>{:printStatus($vo['状态'])}</nobr></TD>
            <TD ><nobr><if condition="($vo['状态'] eq 1  or $vo['状态'] eq 0)"><if condition="$vo['超时时间'] egt $nowTime">{:L(剩余)}{:($vo['超时时间']-$nowTime)/3600|floor}{:L(小时)}<else />{:L(无剩余时间)}</if></if>
            <if condition="($vo['状态'] eq 0) or ($vo['状态'] eq 1)"><a href="__MODULE__/FunInvest/add_rem_two/id/{$vo.id}">{:L('汇款')}</a>|<a href="__MODULE__/FunInvest/tigong_shensu:__XPATH__/id/{$vo.id}">{:L('申诉')}</a>|</if>            <a href="__MODULE__/FunInvest/showShoukuanren:__XPATH__/bh/{$vo.收款会员}">{:L('收款人信息')}</a></nobr></TD>
           <TD ><nobr>{$vo.申诉情况}</nobr></TD>
        </TR>
        </foreach>
        <TR class="datalist">
            <TD colspan='13'><nobr>{:L('提示：超时将冻结会员，信誉度清零。接受汇款会员可以操作延时一次')}。</nobr></TD>
        </TR>
        </table>
    </div>
    <div class="core_page">
    <span>{:L('共')}{$data.count}{:L('条记录')} {$data.nowPage}/{$data.totalPages}{:L('页')} &nbsp;</span>
    <if condition="$data['nowPage'] neq 1">
    <a href="{$data.firstRow}">{:L('首页')}</a>&nbsp;&nbsp;
    <else/><span>{:L('首页')}&nbsp;&nbsp;</span>
    </if>
    <a href="{$data.upRow}">{:L('上一页')}</a>&nbsp;&nbsp;
    <if condition="isset($data['rollPage'][-2])">
    <a href="{$data.rollPage.-2}">{$data['nowPage']-2}</a>&nbsp;&nbsp;
    </if>
    <if condition="isset($data['rollPage'][-1])">
    <a href="{$data.rollPage.-1}">{$data['nowPage']-1}</a>&nbsp;&nbsp;
    </if>
    {$data.nowPage}&nbsp;&nbsp;
    <if condition="isset($data['rollPage'][1])">
    <a href="{$data.rollPage.1}">{$data['nowPage']+1}</a>&nbsp;&nbsp;
    </if>
    <if condition="isset($data['rollPage'][2])">
    <a href="{$data.rollPage.2}">{$data['nowPage']+2}</a>&nbsp;&nbsp;
    </if>
    <a href="{$data.downRow}">{:L('下一页')}</a>&nbsp;&nbsp;
    <if condition="$data['nowPage'] lt $data['totalPages']">
    <a href="{$data.theEndRow}">{:L('尾页')}</a>
    <else/><span>{:L('尾页')}</span>
    </if>
    </div>    
</div>

