<div class="core_main Sale" id="acclist">
	<div class="core_title">
    	<span class="core_title_con"><span>{:L('当前位置')}</span>：{$nowtitle}</span>
    </div>
    <div class="core_con">
        <table class="tablebg">
            <TR class="datafield">
                <foreach name="data.field" item="vo">
                <TH ><nobr>{$vo}</nobr></TH>
                </foreach>
            </TR>
            <foreach name="data.list" item="vo">
            <TR class="datalist">
                <foreach name="vo" item="vo1">
                <TD ><nobr>{$vo.$key}</nobr></TD>
                </foreach>
            </TR>
            </foreach>
        </table>
    </div>
    <div class="core_page">
    <span>{:L('共')}{$data.count}{:L('条记录')} {$data.nowPage}/{$data.totalPages}{:L('页')} &nbsp;</span>
    <if condition="$data['nowPage'] neq 1">
    <a href="{$data.firstRow}">{:L('首页')}</a>&nbsp;&nbsp;
    <else/><span>{:L('首页')}&nbsp;&nbsp;</span>
    </if>
    <a href="{$data.upRow}">{:L('上一页')}</a>&nbsp;&nbsp;
    <if condition="isset($data['rollPage'][-2])">
    <a href="{$data.rollPage.-2}">{$data['nowPage']-2}</a>&nbsp;&nbsp;
    </if>
    <if condition="isset($data['rollPage'][-1])">
    <a href="{$data.rollPage.-1}">{$data['nowPage']-1}</a>&nbsp;&nbsp;
    </if>
    {$data.nowPage}&nbsp;&nbsp;
    <if condition="isset($data['rollPage'][1])">
    <a href="{$data.rollPage.1}">{$data['nowPage']+1}</a>&nbsp;&nbsp;
    </if>
    <if condition="isset($data['rollPage'][2])">
    <a href="{$data.rollPage.2}">{$data['nowPage']+2}</a>&nbsp;&nbsp;
    </if>
    <a href="{$data.downRow}">{:L('下一页')}</a>&nbsp;&nbsp;
    <if condition="$data['nowPage'] lt $data['totalPages']">
    <a href="{$data.theEndRow}">{:L('尾页')}</a>
    <else/><span>{:L('尾页')}</span>
    </if>
    </div>
    
</div>


