<div layoutH="0">
<form action="__APP__/DmsAdmin/User/bulkUpLevelExecute" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone)">
<table align="left">
<tr>
<td valign="top" align="left">
	<table   class="list" style="float:left">
	<thead>
	<tr>
	<th colspan="4" align="left" valign="middle">批量升级</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	<td align="left" colspan="4" >
	输入要升级的会员编号,每行一人
	</td>
	</tr>
	<tr height='30'>
	<td align="left" >
		级别类型:
	</td>
	<td>
		<select id='levels' name='levels'>
		<foreach name="level" item="lv" key="key">
			<option value='{$key}'>{$key}</option>
		</foreach>
		</select>
	</td>
	<td>
		赠送级别:
	</td>
	<td>
		<select id='lval' name='lval'>
		</select>
	</td>
	</tr>
	<tr>
	<td colspan="4" >
	<textarea name="iddata" id="iddata" cols="50" rows="10"></textarea>
	</td>
	</tr>
	<tr>
	<td colspan="4" >
	<div class="buttonActive" style="margin-left:290px;margin-top:5px;">
          <div class="buttonContent" >
            <button type="submit">执行升级</button>
          </div>
          </div>
	</td>
	</tr>
</tbody>
</table>
</form>
<script>
$(function (){
$('#levels',navTab.getCurrentPanel()).change(function(){
<foreach name="level" item="lv" key="key">
if($(this).children('option:selected').val() == '{$key}')
{
		$("#lval").html('');
		<foreach name="lv.con" item="lv2" key="key2">
			$("#lval").append("<option value='{$key2}'>{$lv2}</option>");
		</foreach>
}
</foreach>
})
$('#levels').change();
});
</script>