<style>
.diffred{
	color:red;
}
#disp1 td,#disp2 td,#disp3 td,#disp4 td{line-height:25px; border:none:color:none;background-color:none;}

table th {
    border-bottom: 1px solid #D0D0D0;
    font-weight: bolder;
    line-height: 21px;
    padding: 1px 2px;
	background-color:#F1F1F1;
	line-height:30px;
	text-align:left;
	font-size:14px;

}
td table{margin-bottom:12px;}

</style>

<div layoutH="0">
<form action="__CONTROLLER__/update" id="form2" style="width:600px;" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDoneOpen)">
<input type="hidden" name="id" value="{$id}" />
<input type="hidden" name="callbackType" value="closeCurrent" />
<input type="hidden" name="navTabId" value="{:md5(__CONTROLLER__.'/'.$action)}"/>
<input type="hidden" name="forwardUrl" value="__CONTROLLER__/{$action}{$relodargs}"/>
<php>if($action=="index"){</php>
<input type="hidden" name="navTabTitle" value="{$name}查询"/>
<php>}elseif($action=='noConfirm'){</php>
<input type="hidden" name="navTabTitle" value="未激活{$name}"/>
<php>}</php>
<table align="left">
<tr>
<td valign="top" align="left">
	<table width="260"  style="float:left;" id='disp1' class='user_edit_title'>
	<thead>
	<tr>
	<th colspan="4" align="left" valign="middle">&nbsp; &nbsp;  基本资料</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	<td style="text-align:right;padding-top:10px;">编号：</td>
	<td style="border-right:none;text-align:left">
	<php>
	//判断是否是豪华版还是简化版 如果是简化版的话是不能修改奖金比例的
     if(adminshow('user_id') == '1'){
	</php>
	<input type='text' value='{$vo.编号}' name='userbh'/>
	<php>
	}
	else
	{
	</php>
	{$vo.编号}
	<php>
	}
	</php>

	</td>
	</tr>
	<tr>
	<td   style="text-align:right">
	<if condition="in_array('name',$require) eq true ">*</if>姓名：</td>
	<td  style="text-align:left">
	<input type="text" name="name" value="{$vo.姓名}" <if condition="$vo['姓名']!=$olduserary['姓名']">class='diffred'</if>>
	</td>
	</tr>
	<tr>
	<td style="text-align:right">
	<if condition="in_array('alias',$require) eq true ">*</if>昵称：</td>
	<td style="text-align:left">
	<input type="text" name="alias" value="{$vo.昵称}" <if condition="$vo['昵称']!=$olduserary['昵称']">class='diffred'</if>>
	</td>
	</tr>
	<tr>
		<td style="text-align:right">一级密码：</td>
		<td style="border-right:none;text-align:left"><input type="password" autocomplete="off" name="pass1" value="!!noeditpass!!" <if condition="$vo['pass1']!=$olduserary['pass1']">class='diffred'</if>></td>
		</tr>
		<tr>
		<td style="text-align:right">二级密码：</td>
		<td style="border-right:none;text-align:left"><input type="password" autocomplete="off" name="pass2" value="!!noeditpass!!" <if condition="$vo['pass2']!=$olduserary['pass2']">class='diffred'</if>></td>
		</tr>
		<eq name="pwd3Switch" value="true">
		<tr>
		<td style="text-align:right">三级密码：</td>
		<td style="border-right:none;text-align:left"><input type="password" autocomplete="off" name="pass3" value="!!noeditpass!!" <if condition="$vo['pass3']!=$olduserary['pass3']">class='diffred'</if>></td>
		</tr>
		</eq>
	<tr>
	<if condition="adminshow('mibao') && $MIBAO_NUM egt 1 && $mibao_null eq 0 ">
	<tr>
		<td style="text-align:right">密保问题1:</td>
		<td style="border-right:none;text-align:left">
			<input type="text" name="mb_q1" readonly="readonly" value="{$mibao_q1}" />
		</td>
	</tr>
	<tr>
		<td style="text-align:right">密保答案1:</td>
		<td style="border-right:none;text-align:left">
			<input type="text" name="mb_a1" value="{$mibao_a1}" />
		</td>
	</tr>
	</if>
	<if condition="adminshow('mibao') && $MIBAO_NUM egt 2 && $mibao_null eq 0 ">
	<tr>
		<td style="text-align:right">密保问题2:</td>
		<td style="border-right:none;text-align:left">
			<input type="text" name="mb_q2" readonly="readonly" value="{$mibao_q2}" />
		</td>
	</tr>
	<tr>
		<td style="text-align:right">密保答案2:</td>
		<td style="border-right:none;text-align:left">
			<input type="text" name="mb_a2" value="{$mibao_a2}" />
		</td>
	</tr>
	</if>
	<if condition="adminshow('mibao') && $MIBAO_NUM egt 3 && $mibao_null eq 0 ">
	<tr>
		<td style="text-align:right">密保问题3:</td>
		<td style="border-right:none;text-align:left">
			<input type="text" name="mb_q3" readonly="readonly" value="{$mibao_q3}" />
		</td>
	</tr>
	<tr>
		<td style="text-align:right">密保答案3:</td>
		<td style="border-right:none;text-align:left">
			<input type="text" name="mb_a3" value="{$mibao_a3}" />
		</td>
	</tr>
	</if>
	<td style="text-align:right">
	<if condition="in_array('sex',$require) eq true ">*</if>性别：</td>
	<td style="border-right:none;text-align:left">
		<select name="sex"  style="padding:0px" id="sex" <if condition="$vo['性别']!=$olduserary['性别']">class='diffred'</if>>
			<option value="男" <eq name="vo.性别" value="男"> selected</eq>>男</option>
	    	<option value="女" <eq name="vo.性别" value="女"> selected</eq>>女</option>
		</select>
	</td>
	</tr>
	<present name="credit">
		<tr>
		<td  style="text-align:right">
		信用额度:</td>
		<td style="border-right:none;text-align:left">
		<input type="text" name="id_card" value="{$vo.信用额度}" <if condition="$vo['信用额度']!=$olduserary['信用额度']">class='diffred'</if>>
		</td>
		</tr>
	</present>
	<tr>
	<td style="text-align:right">
	<if condition="in_array('id_card',$require) eq true ">*</if>证件号码：</td>
	<td style="border-right:none;text-align:left">
	<input type="text" name="id_card" value="{$vo.证件号码}" <if condition="$vo['证件号码'] != $olduserary['证件号码']">class='diffred'</if>>
	</td>
	</tr>

	<tr>
	<td style="text-align:right">
	<if condition="in_array('bank_apply_name',$require) eq true ">*</if>开户银行：</td>
	<td style="border-right:none;text-align:left">
	<select name="bank_apply_name" id="bank" <if condition="$vo['开户银行']!=$olduserary['开户银行']">class='diffred'</if>><!-- class="combox" -->
		<option value="">请选择</option>
		<foreach name="banklist" item="bank">
		<option value="{$bank.开户行}" <eq name="vo['开户银行']" value="$bank['开户行']"> selected="true"</eq>>{$bank.开户行}</option>
		</foreach>
		</select>
	  </td>
	</tr>
	<tr>
	<td style="text-align:right">
	<if condition="in_array('bank_card',$require) eq true ">*</if>银行卡号：</td>
	<td style="border-right:none;text-align:left">
	<input type="text" name="bank_card" value="{$vo.银行卡号}" <if condition="$vo['银行卡号']!=$olduserary['银行卡号']">class='diffred'</if>>
	</td>
	</tr>
	<tr>
	<td style="text-align:right">
	<if condition="in_array('bank_name',$require) eq true ">*</if>开户名：</td>
	<td style="border-right:none;text-align:left">
	<input type="text" name="bank_name" value="{$vo.开户名}" <if condition="$vo['开户名']!=$olduserary['开户名']">class='diffred'</if>>
	</td>
	</tr>
	<tr>
	<td style="text-align:right">
	<if condition="in_array('bank_apply_addr',$require) eq true ">*</if>开户地址：</td>
	<td style="border-right:none;text-align:left">
	<input type="text" name="bank_apply_addr" value="{$vo.开户地址}" <if condition="$vo['开户地址']!=$olduserary['开户地址']">class='diffred'</if>>
	</td>
	</tr>
	<volist name="funval" id="fun" key='funkey'>
	<tr>
	<td style="text-align:right">{$fun}</td>
	<td style="border-right:none;text-align:left">&nbsp;<if condition="$admineditary[$fun]"><input type="text" name="{$fun}" value="{$vo[$fun]}" ><else/>{$vo[$fun]}</if></td>
	</tr>
	</volist>
	</tbody>
	</table>
	<table width="250"  style="float:left; " id='disp2'>
	<thead>
	<tr>
	<th colspan="4" align="left" valign="middle">&nbsp;&nbsp;</th>
	</tr>
	</thead>
	<tbody>
		<tr>
		<td style="text-align:right;padding-top:10px;">
		<if condition="in_array('area',$require) eq true ">*</if>国家：</td>
		<td style="border-right:none;text-align:left" >
		<select name="country" style="padding:0px" id="country_id" <if condition="$vo['国家']!=$olduserary['国家']">class='diffred'</if>>
		<option value="{$vo.国家}"><notempty name="$vo.国家">{$vo.国家}<else/>请选择</notempty></option>
		</select>
		</td>
		</tr>
		<tr>
		<td style="text-align:right">
		<if condition="in_array('area',$require) eq true ">*</if>省/州：</td>
		<td style="border-right:none;text-align:left" >
		<select name="province" style="padding:0px" id="province_id" <if condition="$vo['省份']!=$olduserary['省份']">class='diffred'</if>>
		<option value="{$vo.省份}"><notempty name="$vo.省份">{$vo.省份}<else/>请选择</notempty></option>
		</select>
		</td>
		</tr>
		<tr>
		<td style="text-align:right">
		<if condition="in_array('area',$require) eq true ">*</if>城市：</td>
		<td style="border-right:none;text-align:left" >
		<select name="city" style="padding:0px" id="city_id" <if condition="$vo['城市']!=$olduserary['城市']">class='diffred'</if>>
		<option value="{$vo.城市}"><notempty name="$vo.城市">{$vo.城市}<else/>请选择</notempty></option>
		</select>
		</td>
		</tr>
		<tr>
		<td style="text-align:right">
		<if condition="in_array('area',$require) eq true ">*</if>地区：</td>
		<td style="border-right:none;text-align:left" >
		<select name="county" style="padding:0px" id="county_id" <if condition="$vo['地区']!=$olduserary['地区']">class='diffred'</if>>
		<option value="{$vo.地区}"><notempty name="$vo.地区">{$vo.地区}<else/>请选择</notempty></option>
		</select>
		</td>
		</tr>
		<tr>
		<td style="text-align:right">
		<if condition="in_array('area',$require) eq true ">*</if>街道：</td>
		<td style="border-right:none;text-align:left" >
		<select name="town" style="padding:0px" id="town_id" <if condition="$vo['街道']!=$olduserary['街道']">class='diffred'</if>>
		<option value="{$vo.街道}"><notempty name="$vo.街道">{$vo.街道}<else/>请选择</notempty></option>
		</select>
		</td>
		</tr>
		</if>
		<if condition="in_array('country_code',$show) eq true ">
		<tr>
		<td style="text-align:right">
		<if condition="in_array('country_code',$require) eq true ">*</if>国家代码：</td>
		<td style="border-right:none;text-align:left">
		     <select name='country_code' id="country_code" style="width: 152px;height: 21px">
		     	<foreach name='NumCheck' item='data' key='code'>
		     		<option value="{$code}" data-pattern="{$data.exp}" <eq name="vo['国家代码']" value="$code">selected</eq>>{$data.zh-cn}</option>
		     	</foreach>
		     </select>
		</td>
		</tr>
		</if>
		<tr>
		<td style="text-align:right">
		<if condition="in_array('mobile',$require) eq true ">*</if>移动电话：</td>
		<td style="border-right:none;text-align:left">
		<input type="text" name="mobile" value="{$vo.移动电话}" <if condition="$vo['移动电话']!=$olduserary['移动电话']">class='diffred'</if>>
		</td>
		</tr>
		<tr>
		<td style="text-align:right"><if condition="in_array('email',$require) eq true ">*</if>Email：</td>
		<td style="border-right:none;text-align:left">
		<input type="text" name="email" value="{$vo.email}" <if condition="$vo['email']!=$olduserary['email']">class='diffred'</if>>
		</td>
		</tr>
		<tr>
		<td style="text-align:right">
		<if condition="in_array('qq',$require) eq true ">*</if>QQ：</td>
		<td style="border-right:none;text-align:left">
		<input type="text" name="qq" value="{$vo.qq}" <if condition="$vo['qq']!=$olduserary['qq']">class='diffred'</if>>
		</td>
		</tr>
		<tr>
		<td style="text-align:right">
		<if condition="in_array('weixin',$require) eq true ">*</if>微信账号：</td>
		<td style="border-right:none;text-align:left">
		<input type="text" name="weixin" value="{$vo.微信账号}" <if condition="$vo['微信账号']!=$olduserary['微信账号']">class='diffred'</if>>
		</td>
		</tr>
		
		<tr>
		<td style="text-align:right">
		<if condition="in_array('alipay',$require) eq true ">*</if>支付宝：</td>
		<td style="border-right:none;text-align:left">
		<input type="text" name="alipay" value="{$vo.支付宝}" <if condition="$vo['支付宝']!=$olduserary['支付宝']">class='diffred'</if>>
		</td>
		</tr>
		
		<tr>
		<td style="text-align:right">
		<if condition="in_array('reciver',$require) eq true ">*</if>收货人：</td>
		<td style="border-right:none;text-align:left">
		<input type="text" name="reciver" value="{$vo.收货人}" <if condition="$vo['收货人']!=$olduserary['收货人']">class='diffred'</if>>
		</td>
		</tr>
		<tr>
		<td style="text-align:right"><if condition="in_array('address',$require) eq true ">*</if>地址：</td>
		<td style="border-right:none;text-align:left">
		<input type="text" name="address" value="{$vo.地址}" <if condition="$vo['地址']!=$olduserary['地址']">class='diffred'</if>>
		</td>
		</tr>
	</tbody>
	</table>
	<table width='515'>
	<tr>
	<td width='80' style="text-align:right">
	备注：
	</td>
	<td style="text-align:left">
	<textarea name='memo' style='width:300px;height:100px'>{$vo.备注}</textarea>
	</td>
	</tr>
	</table>
	<table width="515" id='disp3' style="float:left;clear:both;">
	<thead >
	<tr>
	<th colspan="4" align="left" valign="middle" class="tab_12" >&nbsp;&nbsp;结算资料</th>
	</tr>
	</thead>
	<tbody >
	<tr><td ></td></tr>
	<if condition="$shop">
		<tr>
		<td width="150" style="text-align:right">服务中心功能：</td>
		<td  style="border-right:none;text-align:left">&nbsp;
		<select name="isshop" <if condition="$vo['服务中心']!=$olduserary['服务中心']">class='diffred'</if>>
		<option  value="1" <eq name="vo['服务中心']" value="1">selected</eq> >是</option>
		<option   value="0" <eq name="vo['服务中心']" value="0">selected</eq> >否</option>
		</select>
		</td>
		</tr>
	</if>
	<foreach name="level" item="lv" key="key">
	<tr style='display:none'>
	<td width="150" style="text-align:right ;">{$key}：</td>
	<td style="border-right:none;text-align:left">&nbsp;
	<select name="{$key}" <if condition="$vo[$key]!=$olduserary[$key]">class='diffred'</if>>
	<foreach name="lv.con" item="con" key="k">
	<option value="{$k}" <eq name="k" value="$vo[$key]"> selected</eq> >{$con}</option >
	</foreach>
	</select>
	</td>
	</tr>
	<if condition="$lv['regEdit']">
		<tr>
		<td width="150" style="text-align:right">申请{$key}：</td>
		<td style="border-right:none;text-align:left">&nbsp;
		<select name="申请{$key}" <if condition="$vo['申请'.$key]!=$olduserary['申请'.$key]">class='diffred'</if>>
		<foreach name="lv.con" item="con" key="k">
		<option value="{$k}"  <eq name="k" value="$vo.申请$key"> selected</eq> >{$con}</option >
		</foreach>
		</select></td>
		</tr>
	</if>
	<if condition="$lv['giveEdit']">
		<tr>
		<td width="150" style="text-align:right">赠送{$key}：</td>
		<td style="border-right:none;text-align:left">&nbsp;
		<select name="赠送{$key}" <if condition="$vo['赠送'.$key]!=$olduserary['赠送'.$key]">class='diffred'</if>>
		<foreach name="lv.con" item="con" key="k">
		<option value="{$k}"  <eq name="k" value="$vo.赠送$key"> selected</eq> >{$con}</option >
		</foreach>
		</select></td>
		</tr>
	</if>
	</foreach>

	<noempty name="funlock">
	<foreach name="funlock" item="fun_lock">
	<tr>
	<td width="150" style="text-align:right">{$fun_lock}：</td>
	<td style="border-right:none;text-align:left">&nbsp;
	<select name="{$fun_lock}" <if condition="$vo[$fun_lock]!=$olduserary[$fun_lock]">class='diffred'</if>>
	<option  value="1" <eq name="vo[$fun_lock]" value="1">selected</eq> >是</option>
	<option   value="0" <eq name="vo[$fun_lock]" value="0">selected</eq> >否</option>
	</select>
	</td>
	</tr>
	</foreach>
	</notempty>
	<noempty name="funbank">
	<foreach name="funbank" item="fun_bank" key="byname">
	<tr>
	<td width="150" style="text-align:right">{$byname}锁定：</td>
	<td style="border-right:none;text-align:left">&nbsp;
	<select class="bank_lock" name="{$fun_bank}锁定" <if condition="$vo[$fun_bank.'锁定']!=$olduserary[$fun_bank.'锁定']">class='diffred'</if>>
	<option  value="1" <php>if($vo[$fun_bank.'锁定']==1)echo 'selected';</php> >是</option>
	<option   value="0" <php>if($vo[$fun_bank.'锁定']==0)echo 'selected';</php> >否</option>
	</select>&nbsp;&nbsp;
	<span id="{$fun_bank}锁定类型" <if condition="$vo[$fun_bank.'锁定'] eq 0">style="display:none"</if>>
	<input name="{$fun_bank}锁定类型[]" type="checkbox" value="reg" style="margin:0" <if condition="in_array('reg', explode(',',$vo[$fun_bank.'锁定类型']))">checked="checked" </if>/>注册
	<input name="{$fun_bank}锁定类型[]" type="checkbox" value="up" style="margin:0" <if condition="in_array('up', explode(',',$vo[$fun_bank.'锁定类型']))">checked="checked" </if>/>升级
	<input name="{$fun_bank}锁定类型[]" type="checkbox" value="buy,shop" style="margin:0" <if condition="in_array('buy', explode(',',$vo[$fun_bank.'锁定类型'])) && in_array('shop', explode(',',$vo[$fun_bank.'锁定类型']))">checked="checked" </if>/>购物
	<input name="{$fun_bank}锁定类型[]" type="checkbox" value="transfer" style="margin:0" <if condition="in_array('transfer', explode(',',$vo[$fun_bank.'锁定类型']))">checked="checked" </if>/>转账
	<input name="{$fun_bank}锁定类型[]" type="checkbox" value="getm" style="margin:0" <if condition="in_array('getm', explode(',',$vo[$fun_bank.'锁定类型']))">checked="checked" </if>/>提现
	</span>
	</td>

	</foreach>
	</notempty>
		<foreach name='netname' item='name'>
		<tr>
		<td width="150" style="text-align:right">{$name}网络显示：</td>
		<td style="border-right:none;text-align:left">&nbsp;
		<select name="{$name}网络显示" <if condition="$vo[$name.'网络显示']!=$olduserary[$name.'网络显示']">class='diffred'</if>>
		<option  <if condition="$vo[$name.'网络显示'] eq '自动'">selected</if> >自动</option>
		<option  <if condition="$vo[$name.'网络显示'] eq '是'">selected</if> >是</option>
		<option  <if condition="$vo[$name.'网络显示'] eq '否'">selected</if> >否</option>
		</select>
		</td>
		</tr>
		</foreach>
	</tbody>
	</table>
	<if condition="adminshow('jiangjin_bili') eq true">
	<table width="250" class="" id='disp4' style='float:left'>
	<thead>
	<tr>
	<th colspan="4" align="left" valign="middle" class="tab_12">奖金比例</th>
	</tr>
	</thead>
	<tbody>
	<tr><td height=10px;></td></tr>

	<foreach name="rewardMoneys" item="reward">
	<tr>
	<td width="150" style="text-align:right">{$key}：</td>
	<td style="border-right:none;text-align:left">&nbsp;<input type="text" name="{$reward}" value="{$vo[$reward]}" style="width:60px!important" <if condition="$vo[$reward]!=$olduserary[$reward]">class='diffred'</if> />%</td>
	</tr>
	</foreach>

	</tbody>
	</table>
	</if>
</td>
</tr>
<tr>
<td colspan="" style="border-top: 1px solid #D0D0D0;">
<div class="buttonActive" style="margin-left:150px;margin-top:10px; ">
       <div class="buttonContent" ><button type="submit">保存修改</button></div>
</div>
<div class="button" style="margin-top:10px;">
	<div class="buttonContent" ><button type="button" onclick="navTab.closeCurrentTab('{:md5('__APP__/DmsAdmin/User/index')}')">取消返回</button></div>
</div>
</td>
</tr>
</table>
</form>
</div>
<script type="text/javascript">
$.area_default_show=true;
$.area_default_country="{$vo['国家']}";
$.area_default_province="{$vo['省份']}";
$.area_default_city="{$vo['城市']}";
$.area_default_county="{$vo['地区']}";
$.area_default_town="{$vo['街道']}";
$.area_select_bind( 'country_id' , 'province_id' , 'city_id' , 'county_id', 'town_id' );
</script>

<script>
$('.bank_lock').change(function(){
	var name = $(this).attr('name');
	$('#'+name+'类型').toggle();
})
</script>