<div class="pageContent">
	<form method="post" action="__CONTROLLER__/deletesave" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDoneReload)">
		<input type="hidden" name="callbackType" value="closeCurrent"/>
		<div class="pageFormContent" layoutH="58">
			<table cellpadding="5" cellspacing="5">
				<tr>
					<th>管理员密码：</th>
					<td>
						<input type="password" autocomplete="off" class="required" name="repwd" value=""/>
						<input type="hidden" name="id" value="{$id}"/>
					</td>
				</tr>
			</table>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button id="submit" type="submit">确定</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
<script>$("[name='repwd']").focus();</script>
