<!--<style type="text/css">
	.pageHeader{
		display:none;
	}
</style>
<div class="pageContent">
	  	<table class="list">
			<tr>
			<td align='center' width="50px">会员ID:</td>	<td  width="20px">{$id}</td>
			<td  width="100px">注册时间:</td>	<td  width="50px">{$user_zcrq}</td>
			<td  width="100px">审查时间:</td>	<td  width="50px">{$user_shrq}</td>
			<td  width="100px">最后登录IP:</td>	<td  width="50px">{$user_zhip}</td>
			<td  width="70px">登录次数:</td><td  width="20px">{$user_dlcs}</td>
			</tr>
		</table>
		<hr />
		
		<table class="list">	
		<tr>
			<td align='center' width="280px">操作时间</td>
			<td align='center' width="240px">操作内容</td>
			<td align='center' width="160px">登录IP</td>
			<td align='center' width="280px">登录地址</td>
			</tr>
			<foreach name="showData" item="keys">
				<tr>
					<td align='center' >{$keys['create_time']|date="Y-m-d H:i:s",###}</td>
					<td align='center' >{$keys['content']}</td>
					<td align='center' >{$keys['ip']}</td>
					<td align='center' >{$keys['address']}</td>
				</tr>
			</foreach>
		</table>
		<div class="result page" align="right" >{$page}</div>
</div>-->{$list}
