<div class="core_main Saleshop" id="buy_shop">
    	<div class="core_title">
    	<span class="core_title_con"><span>{:L('当前位置')}</span>：{$nowtitle}</span>
    </div>
    <div class="core_con">
    	 <form name="form2" method="post" action="__MODULE__/Saleshop/buy_shop:__XPATH__" id="form2">
    	 <table class="tablebg" id="table1">
         <TR>
        <td><span>{:L('商品分类')}</span>
        <select name="fenlei" id="fenlei">
         <option value="">{:L('请选择')}</option>
         <foreach name='fenleis' item="vos">
         <option value="{$vos.名称}" <if condition="$fenlei eq $vos['名称']">selected</if>>{$vos.名称}</option>
         </foreach>
        </select>
            <span>{:L('商品名称')}：</span> <input type="text" value="{$pro_name}" size="16" name="pro_name" />
            <span>{:L('零售价')}：</span>   <input type="text" value="{$lingshou_start}" size="6" name="lingshou_start" />  -<input type="text" value="{$lingshou_end}" size="6" name="lingshou_end" />
           <input type="submit" value="{:L('查询')}" size="6"  name="search" style="cursor:pointer"/>
           </td>
            </TR>       
        </table>
        </form>
        <form name="form1" method="post" action="__MODULE__/Saleshop/buySave:__XPATH__" id="form">
        <table class="tablebg" id="table1">
            <if condition="$sale:accBank neq ''">
            <foreach name="banks" item="bank">
            <tr>
                <td class="tbkey" >{:L($bank->byname.'余额')}：</td>
                <td class="tbval" >{:$userinfo[$bank->name]} 元</td>
                <td>&nbsp;<span id="state_{$bank:xpath}"></span></td>
            </tr>
            </foreach>
            </if>
            <php>
              if($discount!=1){
            </php>
            <tr>
                <td class="tbkey" >{:L('享受折扣')}：</td>
                <td class="tbval" ><php>echo $discount*10;</php>折</td>
                <td>&nbsp;<span id="state_discount"></span></td>
            </tr>
            <php>}</php>
            <if condition="$sale:logistic eq true">
	         <TR>
	                <td class="tbkey" >{:L('物品收费标准')}：</td>
	                <td class="tbval" ><if condition="$areafei">首重{$areafei.首重}Kg以下的为{$areafei.首重价格}，续重价格{$areafei.续重价格}/Kg（随填写收货地区后可能有所变化）<else />基本标准：暂无（随填写收货地区后可能有所变化）</if>&nbsp;</td>
	          </TR>
	          </if>
        </table>
       <table class="tablebg" id="table1">
         <tr>
		      <td colspan="6">
			      <foreach name='data.list' item='vos'>
				      <dl>
					      <dt><a href="__CONTROLLER__/chanpinxiangxi:__XPATH__/id/{$vos.id}" class="titles" ><img src="{$vos.图片}" width='180px' height="180px"/></a></dt>
	                      <dd><span class="name_top"><a href="__CONTROLLER__/chanpinxiangxi:__XPATH__/id/{$vos.id}" class="titles">{$vos.名称}</a></span><b></b></dd>
	                      <dd><span>{:L('零售价')}：<span class="red">￥<php>echo $vos[$sale->productMoney];</php></span></span><b></b></dd>
	                      <eq name="sale:productPV" value="true">
	                      <dd><span>{:L('价值PV')}：<span class="red">{$vos.pv}</span></span><b></b></dd>
	                      </eq>
					  </dl>
				  </foreach>
			  </td>
	    </tr>
     </table>
    </form>
   <div style="text-align:right;padding-right:20px;clear:both;padding-top:30px">
<span>{:L('共')} {$data.count} {:L('条记录')} {$data.nowPage}/{$data.totalPages} {:L('页')} &nbsp;</span>
<if condition="$data['nowPage'] neq 1">
<a href="{$data.firstRow}">{:L('首页')}</a>&nbsp;&nbsp;
<else/><span>{:L('首页')}&nbsp;&nbsp;</span>
</if>
<a href="{$data.upRow}">{:L('上一页')}</a>&nbsp;&nbsp;
<if condition="isset($data['rollPage'][-2])">
<a href="{$data.rollPage.-2}">{$data['nowPage']-2}</a>&nbsp;&nbsp;
</if>
<if condition="isset($data['rollPage'][-1])">
<a href="{$data.rollPage.-1}">{$data['nowPage']-1}</a>&nbsp;&nbsp;
</if>
{$data.nowPage}&nbsp;&nbsp;
<if condition="isset($data['rollPage'][1])">
<a href="{$data.rollPage.1}">{$data['nowPage']+1}</a>&nbsp;&nbsp;
</if>
<if condition="isset($data['rollPage'][2])">
<a href="{$data.rollPage.2}">{$data['nowPage']+2}</a>&nbsp;&nbsp;
</if>
<a href="{$data.downRow}">{:L('下一页')}</a>&nbsp;&nbsp;
<if condition="$data['nowPage'] lt $data['totalPages']">
<a href="{$data.theEndRow}">{:L('尾页')}</a></div>
<else/><span>{:L('尾页')}</span>
</if>
</div>
    </div>
    
    <div class="core_page"></div>
</div>

<style type="text/css">
dl{float:left;width:200px;padding:5px;margin-left:20px;padding-left:10px;padding-top:20px;}
dt{width:180px;height:180px;}
.name_top{padding:10px 0px;display:block;color:#4D4D4D;font-size:13px;height:50px}
dd{text-align:left;font-size:12px}
.red{color:#F65F2A;font-weight:bold}
</style>