<div class="core_main Saleshop" id="chanpinxiangxi">
	<div class="core_title">
    	<span class="core_title_con"><span>{:L('当前位置')}</span>：{$product['名称']}{:L('产品详情')}</span>
    </div>
    <div class="core_con">
        <form name="form1" method="post" action="__MODULE__/Saleshop/buygouwu:__XPATH__" id="form">
        <table class="tablebg" id="table1">
              <tr>
                <td colspan="2">
                <img src="{$product.图片}" width="360" height="360" style="border:1px solid #CDCDCD;padding:10px;">
                </td>
            </tr>
             <tr>
                <td class="tbkey" >{:L('产品描述')}：</td>
                <td class="tbval" > <p style=" text-indent:2em;letter-spacing:2px;font-size:13px;padding:6px;color:#006DCC"><if condition="$product['描述']">{:htmlspecialchars_decode($product['描述'])}<else />{:L('暂无')}</if></p></td>
            </tr>
            <tr>
                <td class="tbkey" >{:L('零售价')}：</td>
                <td class="tbval" ><php>echo $product[$sale->productMoney];</php></td>
            </tr>
             <eq name="sale:productPV" value="true">
               <tr>
                <td class="tbkey" >PV：</td>
                <td class="tbval" >{$product.pv}</td>
               </tr>
            </eq>
            <tr>
                <td class="tbkey" >{:L('可订购库存')}：</td>
                <td class="tbval" >{$product['可订购数量']}</td>
            </tr>
            <tr>
                <td class="tbkey" >{:L('购买数量')}：</td>
                <td class="tbval" >
                <input type="text" name="buynum" id="shuliang"style="width:50px" value="1" />{:L('件')}</td>
            </tr>
        </table>
        <input type="hidden" name="proid" value="{$product.id}" />
        <table class="tablebg" id="table3" style="clear:both">
            <TR>
                <td colspan="2" >
                    <INPUT class=button_text type="submit" value="{:L('加入购物车')}" > 
                    <input class=button_text  type="button"  value="{:L('返回')}"  onClick="back();"/>
                </TD>
            </TR>
        </table>
    </form>
    </div>
    <div class="core_page"></div>
</div>

<script>
   function back(){
		location.href='__MODULE__/Saleshop/buy_shop:__XPATH__';
   }

$("#shuliang").keyup(function(){
    var num = $(this).val();
    num = parseInt(num.replace(/\b(0+)/gi,""));
    if(!(num > 0 && (!isNaN(num)))){
        $(this).val('');
    }else{
        $(this).val(num);
    }
})
</script>