<load href="__PUBLIC__/layer/layer.js" />
<div class="core_main Saleshop" id="chongxiao_gouwuche">
	<div class="core_title">
    	<span class="core_title_con"><span>{:L('当前位置')}</span>：{:L($buycar)}</span>
    </div>
    <div class="core_con">
    <form name="form1" method="post" action="__MODULE__/Saleshop/buygouwu_chongxiao:__XPATH__" id="form">
        <table class="tablebg">
            <tr class="datafield">
                <th width="10%"><nobr>{:L('图片')}</nobr></th>
                <!--<th width="7%"><nobr>商品编码</nobr></th>-->
                <th width="23%"><nobr>{:L('商品名称')}</nobr></th>
                <th width="7%"><nobr>{:L('零售价')}</nobr></th>
                <eq name="sale:productPV" value="true">
                <th width="7%"><nobr>PV</nobr></th>
                </eq>
                <th width="10%"><nobr>{:L('可订购库存')}</nobr></th>
                <th width="10%"><nobr>{:L('购买数量')}</nobr></th>
                <th width="10%"><nobr>{:L('购买金额')}</nobr></th>
                <th width="8%"><nobr>{:L('操作')}</nobr></th>
            </tr>
            <if condition="empty($list) eq false">
            <foreach name="list" item="vo" key="key">
            <tr <eq name='vo.状态' value='不使用'> style="background:rgb(235, 235, 228)"</eq> class="datalist" id="tr{$key}">
                <td  ><nobr><img src="{$vo.图片}" width="100" height="100" /></nobr></td>
                <!--<td  >{$vo.产品编码}</td>-->
                <td  >{$vo.名称}<eq name='vo.状态' value='不使用'>&nbsp;(已下架)</eq></td>
                <td  ><nobr>{$vo[$sale:productMoney]}</nobr></td>
                 <eq name="sale:productPV" value="true">
                    <td  ><nobr>{$vo.pv}</nobr></td>
                 </eq>
                <td  ><nobr>{$vo.可订购数量}</nobr></td>
                <td  ><nobr>
                 <input <eq name='vo.状态' value='不使用'>disabled="disabled"</eq> type="text" style="width:50px;text-align:center" value="{$vo.buynum}"  name="buynum[{$vo['wuliuid']}]" onkeyup="getnum(this.value,{$vo[$sale:productMoney]},this)"  />
                </nobr></td>
                <td  ><nobr><span class="allsum">{$vo.sum_price}</span></td>
                <td  ><nobr><a href="javascript:laConfirm('__MODULE__/Saleshop/buygouwuchongxiao_del:__XPATH__/id/{$vo.wuliuid}');">{:L('移除')}</a></nobr></td>
            </tr>
            </foreach>
            <else /><tr><td colspan="7" style="height:120px;text-align:center;font-size:18px;color:#aaa;">{:L('购物车还是空的')}..</td></tr>
            </if>
        </table>
        <table class="tablebg" id="table3" style="clear:both">
            <TR>
                <if condition="empty($list) eq false">
                <td colspan="9" align="right">
	                <input class=button_text  type="button"  value="{:L('继续浏览商品')}" onclick="see_back()" />
	                <input class=button_text  type="button"  value="{:L('清空购物车')}" onclick="laConfirmAll();"/>
	                <input class=button_text  type="submit"  value="{:L('下一步')}" > 
	            </td>
                <else />
                <td colspan="9" align="right" style="padding-right:20px;">
                	<input class=button_text  type="button"  value="{:L('浏览商品')}" onclick="see_back()" />
               	</td>
                </if>
            </TR>
        </table>
     </form>
    </div>
    <div class="core_page">
       {$page}
    </div>
</div>
<script>
	function getnum(num,price,e){
        num = parseInt(num.replace(/\b(0+)/gi,""));
        if(!(num > 0 && (!isNaN(num)))){
            $(e).val('');
        }else{
            $(e).val(num);
        }
        price_all = num*price;
		$(e).parents('tr').find(".allsum").html(price_all);
	}
	function see_back(){
		location.href='__MODULE__/Saleshop/buy_shop:__XPATH__';
	}
	function laConfirmAll() {
        layer.confirm("{:L('您真的要清空购物车里的所有商品吗')}?", { title:"{:L('提示')}",btn: ["{:L('确认')}", "{:L('取消')}"]}, function(index){ 
			location.href='__MODULE__/Saleshop/gouwuchechongxiao_del:__XPATH__';
            layer.close(index); 
        })
    }
	function laConfirm(url) {
        layer.confirm("{:L('您确定要移除购物车里的商品吗')}?", { title:"{:L('提示')}",btn: ["{:L('确认')}", "{:L('取消')}"]}, function(index){ 
			location.href = url;
            layer.close(index); 
        })
    }
</script>