<script src="__PUBLIC__/js/xstable.js" type="text/javascript"></script>
<div class="core_main FunBank" id="get">
     <div class="core_title">
    	<span class="core_title_con"><span>{:L('当前位置')}</span>：{$nowtitle}</span>

    </div>
    <div class="core_con">
      <form action="__MODULE__/FunBank/getSaveold:__XPATH__" method="post"  id="register" >
      <table class="tablebg">
      <!--
        <if condition="($bank:getMoneyBank eq 1) OR ($bank:getMoneyBank eq true)">
       <TR class="datalist">
        <TD class="tbkey">{:L('银行卡号')}：</TD>
        <TD class="tbval">
         <span><input type="text" value="" name="cardnumble" /></span>
        </TD>
      </TR>
      <TR class="datalist">
        <TD class="tbkey">{:L('开户行')}：</TD>
        <TD class="tbval">
         <span><input type="text" value="" name="bankname" /></span>
         <span></span>
        </TD>
      </TR>
      <TR class="datalist">
        <TD class="tbkey">{:L('开户地址')}：</TD>
        <TD class="tbval">
         <span><input type="text" value="" name="cardaddress" /></span>
        </TD>
      </TR>
      <TR class="datalist">
        <TD class="tbkey">{:L('开户名')}：</TD>
        <TD class="tbval">
         <span><input type="text" value="" name="cardname" /></span>
        </TD>
      </TR>
      <TR class="datalist">
        <TD class="tbkey">{:L('钱包地址')}：</TD>
        <TD class="tbval">
         <span><input type="text" value="" name="bank_address" /></span>
        </TD>
      </TR>
      <else/>
        <TR class="datalist">
          <TD class="tbkey">{:L('开户银行')}：</TD>
          <TD class="tbval">{$userinfo['开户银行']}</TD>
        </TR>
        <TR class="datalist">
          <TD class="tbkey">{:L('银行卡号')}：</TD>
          <TD class="tbval">{$userinfo.银行卡号}</TD>
        </TR>
        <TR class="datalist">
          <TD class="tbkey">{:L('开户名')}：</TD>
          <TD class="tbval">{$userinfo.开户名}</TD>
        </TR>
      </if>
      -->
        <TR class="datalist">
        <TD class="tbkey">{:L('钱包地址')}：</TD>
        <TD class="tbval">
          <if condition="$userinfo['钱包地址'] neq ''">
         <span>{$userinfo['钱包地址']}</span>
         <else/>
         <span><input type="text" value="" name="bank_address" /></span>
         </if>
        </TD>
      </TR>
        <TR class="datalist">
          <TD class="tbkey">{:L('可提现余额')}：</TD>
          <TD class="tbval">{:$userinfo[$bank->name]}</TD>
        </TR>
        <TR class="datalist">
          <TD class="tbkey">{:L('提现金额')}：</TD>
          <TD class="tbval">
            <span><input type="text" value="" name="getsum" /></span>
            <span id="getsum_convert" style="color:red;"></span>
            <if condition="$bank:getMoneyInt neq 0">{:L('必须为')}{$bank:getMoneyInt}{:L('的整数倍')}</if>
          </TD>
        </TR>
        <TR class="datalist">
          <TD class="tbkey"><span>{:L('手续费')}</span>({$bank:getMoneyTax}%)：</TD>
          <TD class="tbval"><span id="tax">0</span><span id="tax_convert" style="color:red;"></span></TD>
        </TR>
      <if condition="($bank:getMoneyPass2 eq true)">
      <TR class="datalist">
        <TD class="tbkey">{:L('二级密码')}：</TD>
        <TD class="tbval">
         <span><input type="password" value="" name="pass2" /></span>
        </TD>
      </TR>
      </if>
      <if condition="($bank:getMoneyPass3 eq true)">
      <TR class="datalist">
        <TD class="tbkey">{:L('三级密码')}：</TD>
        <TD class="tbval">
         <span><input type="password" value="" name="pass3" /></span>
        </TD>
      </TR>
      </if>
      <if condition="adminshow('smsSwitch') && $bank:getMoneySmsSwitch eq 1 && $bank:getMoneySmsContent neq ''">
      <tr class="datalist">
        <TD class="tbkey">{:L('短信验证码')}：</td>
        <TD class="tbval">
        <input name="getSmsVerfy" type="text" id="getSmsVerfy" >
        <if condition="isset($smsif_arr['text'])">
        	<input style="margin-left:10px" type="button" id="sendMess" class="send-msg" value="{:L('获取短信')}" onclick="first_verify()" />
        </if>
        <if condition="isset($smsif_arr['audio'])">
        	<input style="margin-left:10px" type="button" id="sendAudio" class="send-msg" value="{:L('获取语音')}" onclick="first_verify()"/>
        </if>
        </td>
      </tr>
      </if>
      <if condition="(($reg_safe eq true) and ($bank:getSecretSafe eq true and empty($usermibao) eq false))">
	  <tr>
	    <td class="tbkey">{:L('密保问题')}：</td>
	    <td class="tbval">
	    	<select name="mibaoq" class="cash-select">
            	<foreach name="usermibao" item="val" key='key'>
            	<option value="{$key}" >{$val}</option>
            	</foreach>
            </select>
	    </td>
	  </tr>
	  <tr>
	    <td class="tbkey">{:L('密保答案')}：</td>
	    <td class="tbval"><input type="text" value="" name="getsafeanswer" autocomplete="off"/>
	    </td>
	  </tr>
	  </if>
      <tr>
        <td colspan="2">
        <if condition="($onlyLock eq true)">
	        {:L('您有一笔未审核的提现记录，暂不能继续提现')}
		<else/>
			<input class="button_text" type="button" value="{:L('确认')}" name="subbut"  id='subbut' onclick="tijiao()" />
		</if>
        </td>
      </tr>

     </table>
     {__TOKEN__}
    </form>
     </div>
    <div class="title">
    	<span class="core_title_con">{:L($name)} {:L('列表')}</span>
        <if condition="isset($data['edit'])">
      	<span class="core_title_edit"><a href="#" onclick="ShowDialog('{$data.edit}',330);return false;">{:L('编辑')}</a></span>
      	</if>
    </div>
    <div class="core_con">
        <table class="tablebg">
        <TR class="datafield">
            <foreach name='data.field' item='name'>
            <TH >{$name}</TH>
            </foreach>
        </TR>
        <foreach name='data.list' item='name'>
        <TR class="datalist">
            <foreach name="name" item='value' key='name1'>
            <TD><nobr>{$name.$name1}</nobr></TD>
            </foreach>
        </TR>
        </foreach>
        </table>
    </div>
    <div class="core_page">
	    <span>{:L('共')} {$data.count} {:L('条记录')} {$data.nowPage}/{$data.totalPages}{:L('页')} &nbsp;</span>
	    <if condition="$data['nowPage'] neq 1">
	    <a href="{$data.firstRow}">{:L('首页')}</a>&nbsp;&nbsp;
	    <else/><span>{:L('首页')}&nbsp;&nbsp;</span>
	    </if>
	    <a href="{$data.upRow}">{:L('上一页')}</a>&nbsp;&nbsp;
	    <if condition="isset($data['rollPage'][-2])">
	    <a href="{$data.rollPage.-2}">{$data['nowPage']-2}</a>&nbsp;&nbsp;
	    </if>
	    <if condition="isset($data['rollPage'][-1])">
	    <a href="{$data.rollPage.-1}">{$data['nowPage']-1}</a>&nbsp;&nbsp;
	    </if>
	    {$data.nowPage}&nbsp;&nbsp;
	    <if condition="isset($data['rollPage'][1])">
	    <a href="{$data.rollPage.1}">{$data['nowPage']+1}</a>&nbsp;&nbsp;
	    </if>
	    <if condition="isset($data['rollPage'][2])">
	    <a href="{$data.rollPage.2}">{$data['nowPage']+2}</a>&nbsp;&nbsp;
	    </if>
	    <a href="{$data.downRow}">{:L('下一页')}</a>&nbsp;&nbsp;
	    <if condition="$data['nowPage'] lt $data['totalPages']">
	    <a href="{$data.theEndRow}">{:L('尾页')}</a>
	    <else/><span>{:L('尾页')}</span>
	    </if>
    </div>
</div>
<script>
$(function(){
    $("input[name='getsum']").focus();
    $("input[name='getsum']").keyup(function(){
        var sum = $(this).val();
        if(sum !="" && !isNaN(sum)){
            var tax = sum * ({$bank:getMoneyTax}/100);
            tax = XtoFixed(tax,2);
            if(tax < {$bank:getMoneyTaxMin}){
                tax = {$bank:getMoneyTaxMin};
            }else if({$bank:getMoneyTaxMax}!=0 && tax > {$bank:getMoneyTaxMax}){
                tax = {$bank:getMoneyTaxMax};
            }
            $("#tax").html(tax);
        }else{
            $("#tax").html("0");
        }
        <php>if($bank->getMoneyRatio!=1){</php>
	        var rmb=sum * ({$bank:getMoneyRatio});
	        rmb = XtoFixed(rmb,2);
	        $("#getsum_convert").html(rmb+"人民币");
	        var rmbt=tax*({$bank:getMoneyRatio});
	        rmbt = XtoFixed(rmbt,2);
	        $("#tax_convert").html("&nbsp;&nbsp;&nbsp;("+rmbt+"人民币)");
        <php>}</php>
    });
});
function tijiao(){
var mess = "";
    /*<if condition="($bank:getMoneyBank eq 1) OR ($bank:getMoneyBank eq true)">
    if($("input[name='cardname']").val()==""){
        mess = "{:L('开户名不能为空')}！\r\n" + mess;
        $("input[name='cardname']").focus();
    }
    if($("input[name='cardaddress']").val()==""){
        mess = "{:L('开户地址不能为空')}！\r\n" + mess;
        $("input[name='cardaddress']").focus();
    }
    if($("input[name='bankname']").val()==""){
        mess = "{:L('开户行不能为空')}！\r\n" + mess;
        $("input[name='bankname']").focus();
    }
    if($("input[name='cardnumble']").val()==""){
        mess = "{:L('银行卡号不能为空')}！\r\n" + mess;
        $("input[name='cardnumble']").focus();
    }else if(isNaN($("input[name='cardnumble']").val())){
        mess = "{:L('银行卡号必须为数字')}！\r\n"+ mess;
        $("input[name='cardnumble']").focus();
    }
    </if>*/
    if($("input[name='bank_address']").val()==""){
        mess = "{:L('钱包地址不能为空')}！\r\n" + mess;
        $("input[name='bank_address']").focus();
    }
    if($("input[name='getsum']").val()==""){
        mess = "{:L('提现金额不能为空')}！\r\n" + mess;
        $("input[name='getsum']").focus();
    }else if(isNaN($("input[name='getsum']").val())){
        mess = "{:L('提现金额必须为数字')}！\r\n"+ mess;
        $("input[name='getsum']").focus();
    }
    <if condition="$bank:getMoneyInt neq 0">
        else if($("input[name='getsum']").val()%{$bank:getMoneyInt}!=0){
            mess = "{:L('提现金额必须为')}{$bank:getMoneyInt}{:L('的整数倍')}！\r\n"+ mess;
            $("input[name='getsum']").focus();
        }
    </if>
    if(mess !=""){
        alert(mess);
        $('#subbut').attr('disabled',false);
        $('#subbut').val("{:L('提交')}");
        return false;

    }else{
    	$('#subbut').attr('disabled',true);
	    $('#subbut').val("{:L('正在提交,请等待...')}");
	    $('#register').submit();
      //  return true;
    }

}
</script>

<!-- 短信验证码 -->
<if condition="adminshow('smsSwitch') && $bank:getMoneySmsSwitch eq 1 && $bank:getMoneySmsContent neq ''">
<script src="__PUBLIC__/js/sendsms.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>
<script>
var characters = {title:"{:L('提示')}",determ:"{:L('确定')}",clickget:"{:L('点击获取')}",resend:"{:L('重新发送')}"};
var type = '{$bank:name}提现';
var isaudio     = 0;
var smsObj;

function first_verify() {
	if($(this).attr("id") == "sendMess"){
		smsObj = $("#sendMess");
	}else{
		smsObj = $("#sendAudio");
	}
	if("{$picVerify}" === "false"){
		time(smsObj);
	}else{
    layer.open({
        type: 1,
        title:'填写验证码',
        skin: 'layui-layer-rim', //加上边框
        area: ['300px', '200px'], //宽高
        btn: ['确定'],
        yes: function(index, layero){
          //点击按钮之后，直接触发AJAX..
          var postval = $("#verifyss").val();
          if(postval == ''){
          	postval = '***';
          }
          $.ajax({
            url:"__CONTROLLER__/verify_s/id/"+postval,
            type:"GET",
            dataType:"JSON",
            data:postval,
            success:function(data){
                if( data.status == 0 )
                {
                    $('#msg').html(data.tip);
                    var timenow = new Date().getTime();
                    $('#qqsmsverifyImg').attr('src', '__CONTROLLER__/verifyImg/adv/1/' + timenow);
                }
                else
                {
                    layer.close(index);     //关闭弹出层
                    time(smsObj);
                }
            }
            });
        },
        content: '<div style="margin:10px 75px 0 75px;"><input id="verifyss" maxlength="4" type="text" name="verifyss" value="">'+'<img id="qqsmsverifyImg" src="__CONTROLLER__/verifyImg" onClick="smsfreshVerify(this)" border="0" alt="点击刷新验证码" ><span id="msg" style="color:red"></span></div>',
    });
    }
}
function smsfreshVerify() {
    //重载验证
    var timenow = new Date().getTime();
    if (type) {
        $('#qqsmsverifyImg').attr('src', '__CONTROLLER__/verifyImg/adv/1/' + timenow);
    } else {
        $('#qqsmsverifyImg').attr('src', '__CONTROLLER__/verifyImg/' + timenow);
    }
}
</script>
</if>
<!-- 短信验证码 -->
