<script>
	function dialogAjaxDoneReload(json)
	{
		DWZ.ajaxDone(json);

		if (json.statusCode == DWZ.statusCode.ok)
		{
			//关闭当前窗口
			$.pdialog.closeCurrent(); 
	        navTab.reload();
		}
	}
</script>
<div class="pageContent">

	<form method="post" action="__CONTROLLER__/saveEditexpress" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDoneReload);">
		<input name="id" value="{$express.id}" type="hidden">
		<div class="pageFormContent nowrap" layoutH="57">
				<dl>
					<dt>公司名称:</dt>
					<dd style="width:auto"><input name="company" type="text" class="required" value="{$express['company']}" /></dd>
				</dl>
				<dl>
					<dt>联系人:</dt>
					<dd style="width:auto"><input name="contact" type="text" class="" value="{$express['contact']}" /></dd>
				</dl>
				<dl>
					<dt>联系电话:</dt>
					<dd style="width:auto"><input name="tel" type="text" class="" value="{$express['tel']}" /></dd>
				</dl>
				<dl>
					<dt>地址:</dt>
					<dd style="width:auto"><input name="address" type="text" class="" value="{$express['address']}" size="60" /></dd>
				</dl>
				<dl>
					<dt>网址:</dt>
					<dd style="width:auto"><input name="url" type="text" class="" value="{$express['url']}" size="60" /></dd>
				</dl>
				<dl>
					<dt>状态:</dt>
					<dd style="width:auto">
						<input name="state" type="radio" value="是" <if condition="$express['state'] eq '是'">checked</if>>启用
						<input name="state" type="radio" value="否" <if condition="$express['state'] eq '否'">checked</if>>禁用
					</dd>
				</dl>
				</dl>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button id="submit" type="submit" name="submit">确定</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>

</div>