@charset "utf-8";

@font-face {
    font-family: 'PingFang-SC-Bold';
    src: url('PingFang Bold_5.ttf') ;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PingFang-SC-Medium';
    src: url('PingFang Medium_5.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JiaLiChaoCuYuanJ';
    src: url('tengjiaxiang.ttf') ;
    font-weight: normal;
    font-style: normal;
}

.quiz-num {
    font-family: JiaLiChaoCuYuanJ;
}
