<div class="core_main core_Sale" id="up">
	<div class="core_title">
    	<span class="core_title_con">{:L($msgTitle)}</span>
    </div>
    <div class="core_con">
    
        	<table class="message"  cellpadding=0 cellspacing=0 >
            <tr>
                <td height='3'  class="topTd" ></td>
            </tr>
           
            <present name="message" >
            <tr class="row">
                <td style="color:blue">{$message}</td>
            </tr>
            </present>
            <present name="error" >
            <tr class="row">
                <td style="color:red">{$error}</td>
            </tr>
            </present>
            <present name="closeWin" >
                <tr class="row">
                <td>{:L('系统模板')} <span id="wait" style="color:blue;font-weight:bold">{$waitSecond}</span> 
        
        {:L('秒后自动关闭，如果不想等待,直接点击')} <a id="href" href="{$jumpUrl}">{:L('这里')}</a> {:L('关闭')}</td>
            </tr>
            </present>
            <notpresent name="closeWin" >
            <tr class="row">
                <td>{:L('系统模板')} <span id="wait" style="color:blue;font-weight:bold">{$waitSecond}</span> 
        
        {:L('秒后自动关闭,如果不想等待,直接点击')} <a id="href" href="{$jumpUrl}">{:L('这里')}</a> {:L('跳转')}</td>
            </tr>
            </notpresent>
            <tr>
                <td height='3' class="bottomTd"></td>
            </tr>
            </table>
    </div>
    
    <div class="page"></div>
</div>
<meta http-equiv='Refresh' content='{$waitSecond};URL={$jumpUrl}'>

<style type="text/css">
.message
{
color:#972D01;

}
</style>
<div class="main Public" id="success">
	<div class="core_con">
    	<div class="message">

        </div>
    </div>
</div>
<script type="text/javascript">
(function(){
var wait = document.getElementById('wait'),href = document.getElementById('href').href;
var interval = setInterval(function(){
	var time = --wait.innerHTML;
	(time == 0) && (location.replace(href));
}, 1000);	
})();
document.getElementById('href').onclick = function () {
    location.replace('{$jumpUrl}');
}
</script>



