<form action="__CONTROLLER__/save" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDoneReload)">
<div layoutH="0">
	<table class="list" style="width:1000px">
		<thead>
		   <tr>
		   <th colspan="6" style="text-align:left;"><img style="vertical-align:middle" src="__PUBLIC__/Images/cog.png" />&nbsp;&nbsp;系统功能开关设置</th>
		   </tr>
		</thead>
		<tbody>
			<tr>
				<td width="13%" style="font-weight:bold;color:#483D8B">模块</td>
				<td width="22%" style="font-weight:bold;">功能</td>
				<td width="15%" style="font-weight:bold;color:#D2691E">后台</td>
				<td width="10%" style="font-weight:bold;color:#FF8C00">前台</td>
				<td width="10%" style="font-weight:bold;color:#DEB887">客户控制</td>
				<td width="30%" style="font-weight:bold;color:red">说明</td>
			</tr>
			<tr>
				<td rowspan="14" style="font-weight:bold;color:#483D8B">会员管理</td>
				<td>空点回填(转实单|正)：</td>
				<td>
					回填功能开启<input type="checkbox" name="admin_backfill" value="1" <if condition="in_array('admin_backfill',$viewarr) eq true">checked</if>/><br />
					空点功能开启<input type="checkbox" name="admin_blank" value="1" <if condition="in_array('admin_blank',$viewarr) eq true">checked</if>/><br />
					升级选择回填<input type="checkbox" name="admin_up_backfill" value="1" <if condition="in_array('admin_up_backfill',$viewarr) eq true">checked</if>/><br />
					是否货币转正<input type="checkbox" name="admin_bank_backfill" value="1" <if condition="in_array('admin_bank_backfill',$viewarr) eq true">checked</if>/> <br /><font color='red'>(可提前扣货币)</font>
				</td>
				<td>货币转正菜单<input type="checkbox" name="user_bank_backfill" value="1" <if condition="in_array('user_bank_backfill',$viewarr) eq true">checked</if>/> <br /><font color='red'>(提前扣货币)</font></td>
				<td>&nbsp;</td>
				<td style="color:red;"><a href='http://sc.yidong.9885.net:84/index.php?s=/Nodelc/view/id/10' target="_blank">回填流程（点击）</a><br /><br />空点如果不产生奖金，xml需要配置报单类别!='空单'</td>
			</tr>
			<tr>
				<td>前台注册回执跳转：</td>
				<td>&nbsp;</td>
				<td>
					我的会员订单<input type="checkbox" name="admin_receipt_myreg" value="1" <if condition="in_array('admin_receipt_myreg',$viewarr) eq true">checked</if>/><br />
					会员订单审核<input type="checkbox" name="admin_receipt_acclist" value="1" <if condition="in_array('admin_receipt_acclist',$viewarr) eq true">checked</if>/><br />
					推荐网络<input type="checkbox" name="admin_receipt_net_rec" value="1" <if condition="in_array('admin_receipt_net_rec',$viewarr) eq true">checked</if>/> <br />
					管理网络<input type="checkbox" name="admin_receipt_net_place" value="1" <if condition="in_array('admin_receipt_net_place',$viewarr) eq true">checked</if>/> <br />
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>前台手机号登录：</td>
				<td>&nbsp;</td>
				<td>
					<input type="checkbox" name="phone_login" value="1" <if condition="in_array('phone_login',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td style="color:red;">开启后会验证手机号唯一性 并且编号不能为纯数字</td>
			</tr>
			<tr>

				<td>未激活会员分离显示：</td>
				<td>
					<input type="checkbox" name="user_noacc" value="1" <if condition="in_array('user_noacc',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">数据量大或客户要求，和正式会员分开，便于直接审核</td>
			</tr>
			<tr>

				<td>会员升级记录：</td>
				<td>
					<input type="checkbox" name="showlv" value="1" <if condition="in_array('showlv',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">会员查询里，显示会员的升级记录</td>
			</tr>
			<tr>
				<td>修改会员编号功能：</td>
				<td>
					<input type="checkbox" name="user_id" value="1" <if condition="in_array('user_id',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">后台开启或关闭修改会员编号功能</td>
			</tr>
			<tr>
				<td>是否可以删除已结算会员：</td>
				<td>
					<input type="checkbox" name="deluser" value="1" <if condition="in_array('deluser',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">后台允许或禁止删除已计算会员功能</td>
			</tr>
			<tr>
				<td>服务中心单独显示：</td>
				<td>
					<input type="checkbox" name="user_shop" value="1" <if condition="in_array('user_shop',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">数据量大或客户要求，和正式会员分开，便于直接审核</td>
			</tr>
			<tr>
				<td>是否修改奖金比例：</td>
				<td><input type="checkbox" name="jiangjin_bili" value="1" <if condition="in_array('jiangjin_bili',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		   <tr>
				<td>批量升级：</td>
				<td><input type="checkbox" name="piliangshengji" value="1" <if condition="in_array('piliangshengji',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>是否需要推广链接：</td>
				<td>&nbsp;</td>
				<td>
					<input type="checkbox" name="tj_tuiguang" value="1" <if condition="in_array('tj_tuiguang',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>

			<tr>
				<td>只有服务中心才可以报单：</td>
				<td>&nbsp;</td>
				<td><input type="checkbox" name="USER_SHOP_SALEONLY" value="1" <if condition="$USER_SHOP_SALEONLY eq 1">checked</if>/></td>
				<td><input type="checkbox" name="SHOW_SHOPSET" value="1" <if condition="$SHOW_SHOPSET eq 1">checked</if>/>
				</td>
				<td style="color:red;">系统中有服务中心功能才会生效</td>
			</tr>
			<tr>
				<td>强制会员下线：</td>
				<td><input type="checkbox" name="mustout" value="1" <if condition="in_array('mustout',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
			<tr>
				<td>开启注册协议：</td>
				<td><input type="checkbox" name="agreement" value="1" <if condition="in_array('agreement',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
<!--
			<tr>
				<td>主页业绩统计显示：</td>
				<td><input type="checkbox" name="user_yeji" value="1" <if condition="in_array('user_yeji',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">统计本日，周，月，年的业绩</td>
			</tr>-->
		</tbody>
		<tbody>
			<tr style="background-color:#fff">
				<td rowspan="11" style="font-weight:bold;">订单管理</td>
				<td>购物PV显示：</td>
				<td><input type="checkbox" class="show_pv" name="sale_pv" value="pv" <if condition="in_array('sale_pv',$viewarr) eq true"> checked</if>></td>
				<td><input type="checkbox" name="sale_pv_head" value="1" <if condition="in_array('sale_pv_head',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
		    	<td>报单PV显示：</td>
				<td><input type="checkbox" class="show_pv" name="bd_pv" value="pv" <if condition="in_array('bd_pv',$viewarr) eq true"> checked</if>></td>
				<td><input type="checkbox" name="bd_pv_head" value="1" <if condition="in_array('bd_pv_head',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>推广链接单独审核：</td>
				<td>
					<input type="checkbox" name="order_tuiguang" value="1" <if condition="in_array('order_tuiguang',$viewarr) eq true">checked</if>/>
				<td>&nbsp;</td>
				</td>
				<td>&nbsp;</td>
				<td style="color:red;">和其他订单的审核分离，会员的推广链接功能需开启</td>
			</tr>
			<tr>
 				<td>订单审核显示确认框：</td>
 				<td>&nbsp;</td>
 				<td><input type="checkbox" name="confirmBox" value="1" <if condition="in_array('confirmBox',$viewarr) eq true">checked</if>/></td>
 				<td>&nbsp;</td>
 				<td>&nbsp;</td>
 			</tr>
 			<tr>
				<td>物流发货显示：</td>
				<td>
					<input type="checkbox" name="baodan_wuliu" value="1" <if condition="in_array('baodan_wuliu',$viewarr) eq true">checked</if> />
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
<!--
			<tr>
				<td>订单发货：</td>
				<td>无产品<input type="checkbox" name="baodan_wuliu" value="1" <if condition="in_array('baodan_wuliu',$viewarr) eq true">checked</if>/>--有产品<input type="checkbox" name="baodan_wuliu_pro" value="1" <if condition="in_array('baodan_wuliu_pro',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>发货选择快递：</td>
				<td>无产品<input type="checkbox" name="kuaidi" value="1" <if condition="in_array('kuaidi',$viewarr) eq true">checked</if>/>--有产品<input type="checkbox" name="kuaidi_pro" value="1" <if condition="in_array('kuaidi_pro',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td  style="color:red;">‘订单发货’功能需开启</td>
			</tr>
			<tr>
				<td>发货时收货信息编辑：</td>
				<td>无产品<input type="checkbox" name="kuaidi_edit" value="1" <if condition="in_array('kuaidi_edit',$viewarr) eq true">checked</if>/>--有产品<input type="checkbox" name="kuaidi_edit_pro" value="1" <if condition="in_array('kuaidi_edit_pro',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td  style="color:red;">‘订单发货’功能需开启</td>
			</tr>
-->
			<tr>
				<td>选择发货方式：</td>
				<td>&nbsp;</td>
				<td>
					<input type="checkbox" name="sale_sendtype" value="1" <if condition="in_array('sale_sendtype',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>

			<tr>
				<td>产品出入库：</td>
				<td>
					<input type="checkbox" name="prostock" value="1" <if condition="in_array('prostock',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>产品套餐显示：</td>
				<td>
					<input type="checkbox" name="pro_tc" value="1" <if condition="in_array('pro_tc',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>开启购物协议：</td>
				<td><input type="checkbox" name="Buy_agreement" value="1" <if condition="in_array('Buy_agreement',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td rowspan="5" style="font-weight:bold;color:#483D8B">网络管理</td>
			</tr>
			<foreach name="nets" item="vo" key="k">
				<tr>
					<td>{$vo['name']}网络修改：</td>
					<td><input type="checkbox" name="edit_wangluo_{$vo['pos']}" value="1" <if condition="in_array('edit_wangluo_'.$vo['pos'],$viewarr) eq true">checked</if>/></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td style="color:red;">&nbsp;</td>
				</tr>
			</foreach>
			<tr>
				<td>网络打印：</td>
				<td><input type="checkbox" name="edit_wangluoprint" value="1" <if condition="in_array('edit_wangluoprint',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
		  	<tr>
				<td>管理网络业绩分析：</td>
				<td><input type="checkbox" name="place_analysis" value="1" <if condition="in_array('place_analysis',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>

			<tr>
			 	<td>&nbsp;</td>
				<td>会员网络删除：</td>
				<td><input type="checkbox" name="user_downnetdel" value="1" <if condition="in_array('user_downnetdel',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
		</tbody>
		<tbody>
			<tr style="background-color:#fff">
				<td rowspan="8" style="font-weight:bold;color:#483D8B">财务管理</td>
				<td>添加汇款是否选择银行图片：</td>
				<td>&nbsp;</td>
				<td>
					<input type="checkbox" name="bankset" value="1" <if condition="in_array('bankset',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
			<tr>
				<td>添加汇款方式：</td>
				<td>
					<input type="checkbox" name="huikuan" value="1" <if condition="in_array('huikuan',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
			<tr>
				<td>汇款通知未审核可添加：</td>
				<td>
					<input type="checkbox" name="unaudited_submit_again" value="1" <if condition="in_array('unaudited_submit_again',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
			<tr>
				<td>老版本提现：</td>
				<td>
					<input type="checkbox" name="oldtixian" value="1" <if condition="in_array('oldtixian',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
			<tr>
				<td>信息统计：</td>
				<td>
					<input type="checkbox" name="infoSta" value="1" <if condition="in_array('infoSta',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
			<tr>
				<td>是否开启转账未激活会员：</td>
				<td>
					<input type="checkbox" name="zhuanzhang" value="1" <if condition="in_array('zhuanzhang',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
			<tr>
				<td>前台销售奖金状态列是否显示：</td>
				<td>&nbsp;</td>
				<td>
					<input type="checkbox" name="jiangjin_sta" value="1" <if condition="in_array('jiangjin_sta',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
			<tr>
				<td>前台销售奖金未发放前台是否显示：</td>
				<td>&nbsp;</td>
				<td>
					<input type="checkbox" name="qiantaishow" value="1" <if condition="in_array('qiantaishow',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
		</tbody>

			<tbody>
			<tr>
				<td rowspan="4" style="font-weight:bold;color:#483D8B">奖金管理</td>
				<td>奖金开关设置：</td>
				<td>
					<input type="checkbox" name="PrizeSwitch" value="1" <if condition="in_array('PrizeSwitch',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
			<!--<tr>
				<td>奖金是否自动结算：</td>
				<td><input type="checkbox" name="autojisuan" value="1" <if condition="in_array('autojisuan',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>-->
			<tr>
				<td>奖金总账是否显示每个奖金所占比例：</td>
				<td><input type="checkbox" name="allzongzhang" value="1" <if condition="in_array('allzongzhang',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
			<tr>
				<td>销售奖金总账删除结算：</td>
				<td><input type="checkbox" name="ledgerDelSettle" value="1" <if condition="in_array('ledgerDelSettle',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
			<tr>
				<td>是否显示层碰奖明细：</td>
				<td><input type="checkbox" name="layerdetail" value="1" <if condition="in_array('layerdetail',$viewarr) eq true">checked</if>/></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
		</tbody>

		<tbody>
			<tr>
				<td rowspan="2" style="font-weight:bold;color:#483D8B">信息管理</td>
				<td>会员之间是否可以互发邮件：</td>
				<td>&nbsp;</td>
				<td>
					<input type="checkbox" name="mailset" value="1" <if condition="in_array('mailset',$viewarr) eq true">checked</if>/>
				</td>
				<td>&nbsp;</td>
				<td style="color:red;">&nbsp;</td>
			</tr>
		</tbody>
		</table>
		<table class="list" style="width:600px">
		<thead>
		   <tr>
		   <th colspan="3" style="text-align:left"><img style="vertical-align:middle" src="__PUBLIC__/Images/cog.png" />&nbsp;&nbsp;短信邮件在线支付开关</th>
		   </tr>
		</thead>
		<tbody>
			<tr>
				<td width="200">短信功能：</td>
				<td>
					<input type="checkbox" name="smsSwitch" value="1" <if condition="in_array('smsSwitch',$viewarr) eq true">checked</if>/>开启
				</td>
			</tr>
			<tr>
				<td width="200">验证是否发送短信：</td>
				<td>
					<input type="checkbox" name="sms_send" value="1" <if condition="in_array('sms_send',$viewarr) eq true">checked</if>/>开启
				</td>
			</tr>
			<tr>
				<td>在线支付：</td>
				<td>
					<input type="checkbox" name="payOnlineSwitch" value="1" <if condition="in_array('payOnlineSwitch',$viewarr) eq true">checked</if>/>开启
				</td>
			</tr>
			<tr>
				<td>邮件发送：</td>
				<td>
					<input type="checkbox" name="emailSwitch" value="1" <if condition="in_array('emailSwitch',$viewarr) eq true">checked</if>/>开启
				</td>
			</tr>
		</tbody>
		</table>
		<table class="list" style="width:600px">
		<thead>
		   <tr>
		   <th colspan="2" style="text-align:left"><img style="vertical-align:middle" src="__PUBLIC__/Images/cog.png" />&nbsp;&nbsp;密码相关设置</th>
		   </tr>
		</thead>
		<tbody>
			<tr>
				<td width="200">密码安全级别显示：</td>
				<td>
					<input type="checkbox" name="passlv" value="1" <if condition="in_array('passlv',$viewarr) eq true">checked</if>/>开启
				</td>
			</tr>
				<tr>
				<td width="200">三级密码：</td>
				<td>
					<input type="checkbox" name="pwd3Switch" value="1" <if condition="in_array('pwd3Switch',$viewarr) eq true">checked</if>/>开启
				</td>
			</tr>
			<tr>
				<td>开启密码找回功能：</td>
				<td>
					<input type="checkbox" name="mimazhaohui" value="1" <if condition="in_array('mimazhaohui',$viewarr) eq true">checked</if>/>开启
				</td>
			</tr>
			<tr>
				<td>密保问题功能：</td>
				<td>
					<input type="checkbox" name="mibao" value="1" <if condition="in_array('mibao',$viewarr) eq true">checked</if>/>开启
				</td>
			</tr>
			<tr>
				<td>显示密保问题个数：</td>
				<td>
				<select name="MIBAO_NUM"  >
                    <option value="1" <if condition="$MIBAO_NUM eq 1">selected</if> >1</option>
                    <option value="2" <if condition="$MIBAO_NUM eq 2">selected</if> >2</option>
                    <option value="3" <if condition="$MIBAO_NUM eq 3">selected</if> >3</option>
                </select>
                </td>
			</tr>
			<tr>
			<td>开启后台纯数字验证码：</td>
				<td>
					<input type="checkbox" name="numVerify" value="1" <if condition="in_array('numVerify',$viewarr) eq true">checked</if>/>开启
				</td>
			</tr>
		</tbody>
		</table>
	   	<table class="list" style="width:600px">
		<thead>
		   <tr>
		   <th colspan="2" style="text-align:left"><img style="vertical-align:middle" src="__PUBLIC__/Images/cog.png" />&nbsp;&nbsp;备份还原结算相关设置</th>
		   </tr>
		</thead>
		<tbody>
			<tr>
				<td width="200px">CLI模式：</td>
				<td>
					<input type="checkbox" name="cliSwitch" value="1" <if condition="in_array('cliSwitch',$viewarr) eq true">checked</if>/>开启
				</td>
			</tr>
	   </tbody>
	   	</table>
	   	<if condition='count($autoary) gt 0'>
	   	<table class="list" style="width:600px">
		<thead>
		   <tr>
		   <th colspan="2" style="text-align:left"><img style="vertical-align:middle" src="__PUBLIC__/Images/cog.png" />&nbsp;&nbsp;WOEKERMAN进程守护</th>
		   </tr>
		</thead>
		<tbody>
			<foreach name="autoary" item="autoset" key='autoname'>
			<tr>
				<td width="200px">{$autoset['showName']}：</td>
				<td>
					<input type="checkbox" name="AUTO_{$autoname}" value="1" <if condition="in_array('AUTO_'.$autoname,$viewarr) eq true">checked</if>/>开启
				</td>
			</tr>
			</foreach>
	   	</tbody>
	   	</table>
	   	</if>
		<table class="list" style="width:600px">
	   	 <thead>
		   <tr>
		   <th colspan="2" style="text-align:left"><img style="vertical-align:middle" src="__PUBLIC__/Images/cog.png" />&nbsp;&nbsp;登陆设置</th>
		   </tr>

<!-- 			<tr>
				<td  width="200px">后台扫码登录：</td>
				<td>
					<input type="checkbox" id="admin_scode" name="admin_scode" value="1" <if condition="in_array('admin_scode',$viewarr) eq true">checked</if>/>开启
				</td>
			</tr> -->


		</thead>
		<tbody>
			<tr>
				<td  width="200px">登录手机版：</td>
				<td>
					<input type="checkbox" name="phone_auto" value="1" <if condition="in_array('phone_auto',$viewarr) eq true">checked</if>/>开启
				</td>
			</tr>
			<!--
			未发现ACTION处理代码
			<tr>
				<td width="200px">二维码登陆：</td>
				<td>
					<input type="checkbox" name="dl_qrcode" value="1" <if condition="in_array('dl_qrcode',$viewarr) eq true">checked</if>/>开启
					<span style="color:red;padding-left:10px;">(开启后，登陆页显示二维码图标)</span>
				</td>
			</tr>
			-->
			</tbody>
	</table>
	<table class="list" style="width:600px">
	   	 <thead>
		   <tr>
		   <th colspan="2" style="text-align:left"><img style="vertical-align:middle" src="__PUBLIC__/Images/cog.png" />&nbsp;&nbsp;模板设置</th>
		   </tr>
		</thead>
		<tbody>
			<tr>
				<td  width="200px">系统设置中快捷菜单显示开关：</td>
				<td>
					<input type="checkbox" name="systemcai" value="1" <if condition="in_array('systemcai',$viewarr) eq true">checked</if>/>开启
				</td>
			</tr>
			</tbody>
	</table>
	<table class="list" style="width:600px">
	<tr>
				 <td colspan="6" style="vertical-align: middle;padding:5px 0" >
				   <div class="buttonActive" style="margin-left:250px;">
						  <div class="buttonContent" >
							<button type="submit">确定</button>
						  </div>
					</div>
				 </td>
			</tr>
</table>

</div>
</form>