<script language="JavaScript">
function dialogAjaxDoneFunstockAdd(json)
{
	DWZ.ajaxDone(json);

	if (json.statusCode == DWZ.statusCode.ok)
	{
		navTab.reload('__CONTROLLER__/index:__XPATH__');
		$.pdialog.closeCurrent();
	}
}
</script>
<div class="pageContent">
	<form method="post" action="__CONTROLLER__/save:__XPATH__" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDoneFunstockAdd);">
		<div class="pageFormContent nowrap" layoutH="57">
				<dl>
					<dt>{$username}:</dt>
					<dd style="width:auto"><input name="编号" type="text" class="required" value="" /></dd>
				</dl>
				<dl>
					<dt>{$stocknumName}:</dt>
					<dd style="width:auto"><input name="num" type="text" class="required" value="" /></dd>
				</dl>
				<dl>
					<dt>{$stockprizeName}:</dt>
					<dd style="width:auto"><input name="price" type="text" class="required" value="{$stockprize}" /></dd>
				</dl>
				<dl>
					<dt>交易类型:</dt>
					<dd style="width:auto">
					<select name="type" class="combox required">
					<option value="">请选择</option>
					<foreach name="type" item="type1" key="key">
					  <option value="{$key}">{$type1}</option>
			     	</foreach>
					</select>
					</dd>
				</dl>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button id="submit" type="submit" name="submit">确定</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>

<script>
function dialogAjaxDone(json){

      DWZ.ajaxDone(json);

      if (json.statusCode == DWZ.statusCode.ok){
            //if (json.navTabId){

            navTab.reload('__CONTROLLER__/banks', {}, json.navTabId);

            //}

            $.pdialog.closeCurrent();

      }

}

</script>
	
</div>