<div class="pageContent">
	<form id="form" method="post" action="__CONTROLLER__/buildMUI" class="pageForm required-validate" onsubmit="return validateCallback(this, langdialogAjaxDone);">
	<div layoutH="36">
    <table width="95%" cellpadding="5" cellspacing="0" class="view_list">
		<tr>
            <td colspan="4" style="text-align:left;padding-left:20px"><b>语种管理</b></td>
		</tr>
		<tr>  
			<td style="width:15%;text-align:right;">系统支持语言：</td>
			<td style="width:30%;text-align:left;">
				<foreach name="langsets" item="langname" key="key">
				<p>
				<span style="width:100px;padding:10px;">{$langhave[$key]['name']}</span>&nbsp;&nbsp;
				<if condition="$langdefault neq $key">
				<a href="javascript:void(0)" onclick="langdelete('{$key}')">删除</a>&nbsp;&nbsp;
				<a href="javascript:void(0)" onclick="langdefault('{$key}')">默认</a>
				<else/>
				<span style="color:#99abe8">默认</span>
				</if>
				</p>
				</foreach>
			</td>
		</tr>
		<tr>  
			<td style="width:15%;text-align:right;">前台默认语言：</td>
			<td style="width:30%;text-align:left;padding:10px 5px;color:#99abe8">
				{$langhave[$langdefault]['name']}
			</td>
		</tr>
		<tr>  
			<td style="width:15%;text-align:right;">添加语言：</td>
			<td style="width:30%;text-align:left;padding:10px 5px">
				<select name="mui" id="mui" style="width:200px">
					<option value="">请选择</option>
					<foreach name="langgets" item="val" key="key">
					<option value="{$key}">{$val.name}</option>
					</foreach>
				</select>
			</td>
		</tr>
		
	</table>
	</div>
		<div class="formBar">
			<ul>
				<li>
					<div class="buttonActive"><div class="buttonContent"><button type="submit" id="submit">保存</button></div></div>
				</li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
<script>
	function langdialogAjaxDone(json){
		DWZ.ajaxDone(json);
		if (json.statusCode == DWZ.statusCode.ok){
			navTab.reload();
			$.pdialog.reload("__CONTROLLER__/langCtgMng");
		}
	}
	function langdefault(langkey){
		$.post('__CONTROLLER__/langdefault',{langkey:langkey},function(data){
			eval("var json = "+data);
			if(json.status==0){
				alertMsg.error(json.message);
			}else{
				alertMsg.correct(json.message);
				$.pdialog.reload("__CONTROLLER__/langCtgMng");
			}
			});
	}
	function langdelete(langkey){
		$.post('__CONTROLLER__/langdelete',{langkey:langkey},function(data){
			eval("var json = "+data);
			if(json.status==0){
				alertMsg.error(json.message);
			}else{
				alertMsg.correct(json.message);
				navTab.reload();
				$.pdialog.reload("__CONTROLLER__/langCtgMng");
			}
			});
	}
</script>