<div class="pageContent">
	<form id="form" method="post" action="__CONTROLLER__/multiLangOpen" class="pageForm required-validate" onsubmit="return validateCallback(this, langdialogAjaxDone);">
	
	<div layoutH="58">
    <table width="95%" cellpadding="5" cellspacing="0" class="view_list">
		<tr>
            <td colspan="4" style="text-align:left;padding-left:20px"><b>多语言设置</b></td>
		</tr>
		<tr>
			<td style="width:30%;text-align:right;">多语言开关：</td>
			<td style="width:60%;text-align:left;padding:10px 5px">
				<input type="checkbox" name="multiLang" id="multiLang" value="1" <if condition="$use eq true">checked</if>/>开启
			</td>	
		</tr>
		<tr>
			<td style="width:30%;text-align:right;">百度翻译接口appid：</td>
			<td style="width:30%;text-align:left;padding:10px 5px">
				<input type="text" name="appid" id="appid" value=""/>&nbsp;<span><a href="__CONTROLLER__/doaddfile" style="color: #06c;">下载说明文档</a></span>
			</td>	
		</tr>
		<tr>
			<td style="width:30%;text-align:right;">百度翻译接口key：</td>
			<td style="width:30%;text-align:left;padding:10px 5px">
				<input type="text" name="key" id="key" value=""/>
			</td>	
		</tr>
		<tr>
			<td style="width:30%;text-align:right;">申请百度翻译接口：</td>
			<td style="width:30%;text-align:left;padding:10px 5px">
				<a href="http://api.fanyi.baidu.com/api/trans/product/index" target="_blank">http://api.fanyi.baidu.com/api/trans/product/index</a>
			</td>	
		</tr>
	</table>
	</div>
		<div class="formBar">
			<ul>
				<li>
					<div class="buttonActive"><div class="buttonContent"><button type="submit" id="submit">保存</button></div></div>
				</li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
<script>
	function langdialogAjaxDone(json){
		DWZ.ajaxDone(json);
		if (json.statusCode == DWZ.statusCode.ok){
			navTab.reload();
			$.pdialog.closeCurrent();
		}
	}
	//默认情况下
	if($("#multiLang").prop('checked')){
		$("#appid").val('{$api.APPID}');
		$("#key").val('{$api.KEY}');
	}else{
		$("#appid").val('');
		$("#key").val('');
	}
	//改变情况下
	$("#multiLang").change(function(){
		if($("#multiLang").prop('checked')){
			if(!$("#appid").val() && !$("#key").val()){
				$("#appid").val('{$api.APPID}');
				$("#key").val('{$api.KEY}');
			}
		}else{
			$("#appid").val('');
			$("#key").val('');
		}
	});
</script>