<div layoutH="0">
<form action="__CONTROLLER__/buySave:__XPATH__" method="post"  class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone)">
<input type="hidden" name="callbackType" value="forward" />
<table width="600px" class="list">
<thead>
  <tr>
    <th colspan="3" style="text-align:left"><img style="vertical-align:middle" src="__PUBLIC__/Images/coins_add.png" />&nbsp;&nbsp;{$name}</th>
  </tr>
</thead>
<tfoot>
  <tr>
    <td width="20%" style="height:25px;vertical-align: middle;border-bottom:1px solid #ededed">{$user:name}编号：</td>
    <td width="75%" style="height:25px;text-align:left;border-bottom:1px solid #ededed">
    <input type="text" value="" size="20" name="userid" id="userid" autocomplete="off"/>
    </td>
  </tr>
  <if condition="$sale:setNumber eq true">
  <tr>
 	<td  style="height:25px;vertical-align: middle;">单数：</td>
    <td width="75%" style="height:25px;text-align:left;border-bottom:1px solid #ededed">
	<input type="text" name="setNumber" value="" />
    </td>
  </tr>	
  </if>
  <if condition="$sale:setMoney eq true">
  <tr>
    <td width="20%" style="height:25px;vertical-align: middle;border-bottom:1px solid #ededed">{$sale:name}金额：</td>
    <td width="75%" style="height:25px;text-align:left;border-bottom:1px solid #ededed">
	<input type="text" name="setMoney" value="" />
    </td>
  </tr>
  </if>
  <if condition="($sale:setMoney neq true) and ($sale:money gt 0)">
  <tr>
 	<td  style="height:25px;vertical-align: middle;">所需{$name}金额：</td>
    <td  style="height:25px;text-align:left;">{$sale:money} 元
	</td>
  </tr>
  </if>
  <notempty name="sale:fromNoName">
    <tr>
		<td align="right" valign="middle"  >{$sale:fromNoName}：</td>
		<td style="height:25px;text-align:left;" >
		 <input type="text" value="" name="shop"/><span id="state_shop" ><if condition="$sale:fromNoinnull eq false">*</if></span> 
		</td>
	</tr>
    </notempty>
  </tbody>
</table>
  	<present name="productArr">
		<include file="product" />
	</present>
  
	<div class="buttonActive" style="margin-left:290px;margin-top:5px;">
          <div class="buttonContent" >
            <button type="submit">确定</button>
          </div>
    </div>
 </form>
</div>