<include file="Public:header" />
<div class="content">
	<form action="__MODULE__/FunBank/rem_save_two" method="post"  id="register" name='register' enctype="multipart/form-data">
		<div class="list-block">
			<ul>
				<if condition="$hkzhxz eq 'select_hrzh'">
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title label">{:L('汇入账户')}：</div>
						<div class="item-input"><input type="text" id="tobank" name="汇入账户" value="" onkeyup='checkAjax()' placeholder="请选择汇入账户"></div>
					</div>
				</li>
				<else/>
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title label">{:L('汇入账户')}：</div>
						<div class="item-input">
							<input type="hidden" name="编号" value="{$userinfo.编号}"/>
							<select name="汇入账户" id="tobank" placeholder="请选择汇入账户">
								<foreach name="bank" item="vo">
								<option <eq name="userinfo.开户银行" value="$vo.开户行"> selected="true" </eq>>{$vo.卡号}(<span>{$vo.开户行}</span>,<span>{$vo.户名}</span>)</option>
								</foreach>
							</select>
						</div>
					</div>
				</li>
				</if>
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title label">{:L('汇款银行')}：</div>
						<div class="item-input">
							<input type="text" id="bank" name="开户银行" value="{$userinfo['开户银行']}" placeholder="{:L('请输入开户银行')}">
						</div>
					</div>
				</li>
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title label">{:L('汇款卡号')}：</div>
						<div class="item-input">
							<input type="text" id="bank_no" name="银行卡号" value="{$userinfo['银行卡号']}" placeholder="{:L('请输入银行卡号')}">
						</div>
					</div>
				</li>
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title label">{:L('汇款开户名')}：</div>
						<div class="item-input">
							<input type="text" name="开户名" value="{$userinfo['开户名']}" placeholder="{:L('请填写开户名')}">
						</div>
					</div>
				</li>
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title label">{:L('汇款金额')}：</div>
						<div class="item-input">
							<input type="text" name="金额" id="money" placeholder="{:L('请输入汇款金额')}">
						</div>
					</div>
				</li>
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title label">{:L('汇款时间')}：</div>
						<div class="item-input">
							<input type="text" name="汇款时间" title="点击选择汇款日期" id="giveTime" placeholder="{:L('点击选择汇款日期')}">
						</div>
					</div>
				</li>
				<li class="item-content align-top">
					<div class="item-inner">
						<div class="item-title label">{:L('汇款留言')}：</div>
						<div class="item-input">
							<textarea name="备注" placeholder="{:L('汇款留言')}"></textarea>
						</div>
					</div>
				</li>
			</ul>
			<div class="content-block">
				<div class="row">
					<div class="col-50"><a href="javascript:tijiao();" class="button button-big button-fill button-danger">{:L('确认')}</a></div>
					<div class="col-50"><a href="javascript:window.location.href='__MODULE__/FunBank/rem';" class="button button-big button-fill button-success back">{:L('返回')}</a></div>
				</div>
			</div>
		</div>
	</form>
</div>
<include file="Public:footer"/>
<script type="text/javascript"> 
$("#giveTime").datetimePicker({lang:'ch'});

function tijiao(){
	if($('#tobank').val()=='' || $('#tobank').val()==null) {
		$.alert("{:L('请选择汇入账户')}！");
		return false;
	}
    if($('#bank').val()=='') {
        $.alert("{:L('请输入开户银行')}！");
		$('#bank').focus();
		return false;
    }
	if($('#bank_no').val()=='') {
		$.alert("{:L('请输入银行卡号！')}！");
		$('#bank_no').focus();
		return false;
	}
	if($('#money').val()=='') {
		$.alert("{:L('请输入汇款金额！')}！");
		$('#money').focus();
		return false;
	}
    if(isNaN($('#money').val())) {
		$.alert("{:L('汇款金额必须为数字！')}！");
		$('#money').focus();
		return false;
	}
	if($('#giveTime').val()=='') {
		$.alert("{:L('请输入汇款时间！')}！");
		$('#giveTime').focus();
		return false;
	}
	$('#register').submit();
}
$(function(){
	$('#money').keyup(function(){
		var str=$(this).val();
		if({$USER_REMIT_MIN} != 0 && {$USER_REMIT_MAX}!=0){
			if(parseInt(str)<parseInt({$USER_REMIT_MIN})){
				$('#hkts').html("{:L('填写金额小于最低汇款金额限制')}"+{$USER_REMIT_MIN}+'元');
				$('#subbut').attr('disabled',true);
			}else{
				$('#hkts').html('');
				$('#subbut').attr('disabled',false);
			}
		}
		if({$USER_REMIT_MIN} == 0 && {$USER_REMIT_MAX}!=0){
			if(parseInt(str)>parseInt({$USER_REMIT_MAX})){
				$('#hkts').html("{:L('填写金额大于最高汇款金额限制')}"+{$USER_REMIT_MAX}+'元');
				$('#subbut').attr('disabled',true);
			}else{
				$('#hkts').html('');
				$('#subbut').attr('disabled',false);
			}
		}
		if({$USER_REMIT_MIN} != 0 && {$USER_REMIT_MAX}!=0){
			if(parseInt(str)<parseInt({$USER_REMIT_MIN})){
				$('#hkts').html("{:L('填写金额小于最低汇款金额限制')}"+{$USER_REMIT_MIN}+'元');
				$('#subbut').attr('disabled',true);
			}
			if(parseInt(str)>parseInt({$USER_REMIT_MAX})){
				$('#hkts').html("{:L('填写金额大于最高汇款金额限制')}"+{$USER_REMIT_MAX}+'元');
				$('#subbut').attr('disabled',true);
			}
			if(parseInt(str)>=parseInt({$USER_REMIT_MIN}) && parseInt(str)<parseInt({$USER_REMIT_MAX}) || parseInt(str)>parseInt({$USER_REMIT_MIN}) && parseInt(str)<=parseInt({$USER_REMIT_MAX})){
				$('#hkts').html('');
				$('#subbut').attr('disabled',false);
			}
		}
		if(str==''){
			$('#hkts').html('');
			$('#subbut').attr('disabled',false);
		}
	});
	$('#money').blur(function(){
		var str=$(this).val();
		if({$USER_REMIT_MIN} != 0 && {$USER_REMIT_MAX}!=0){
			if(parseInt(str)<parseInt({$USER_REMIT_MIN})){
				$('#hkts').html('填写金额小于最低汇款金额限制'+{$USER_REMIT_MIN}+'元');
				$('#subbut').attr('disabled',true);
			}else{
				$('#hkts').html('');
				$('#subbut').attr('disabled',false);
			}
		}
		if({$USER_REMIT_MIN} == 0 && {$USER_REMIT_MAX}!=0){
			if(parseInt(str)>parseInt({$USER_REMIT_MAX})){
				$('#hkts').html('填写金额大于最高汇款金额限制'+{$USER_REMIT_MAX}+'元');
				$('#subbut').attr('disabled',true);
			}else{
				$('#hkts').html('');
				$('#subbut').attr('disabled',false);
			}
		}
		if({$USER_REMIT_MIN} != 0 && {$USER_REMIT_MAX}!=0){
			if(parseInt(str)<parseInt({$USER_REMIT_MIN})){
				$('#hkts').html('填写金额小于最低汇款金额限制'+{$USER_REMIT_MIN}+'元');
				$('#subbut').attr('disabled',true);
			}
			if(parseInt(str)>parseInt({$USER_REMIT_MAX})){
				$('#hkts').html('填写金额大于最高汇款金额限制'+{$USER_REMIT_MAX}+'元');
				$('#subbut').attr('disabled',true);
			}
			if(parseInt(str)>=parseInt({$USER_REMIT_MIN}) && parseInt(str)<parseInt({$USER_REMIT_MAX}) || parseInt(str)>parseInt({$USER_REMIT_MIN}) && parseInt(str)<=parseInt({$USER_REMIT_MAX})){
				$('#hkts').html('');
				$('#subbut').attr('disabled',false);
			}
		}
		if(str==''){
			$('#hkts').html('');
			$('#subbut').attr('disabled',false);
		}
	});
})
</script>
