<div class="core_main Sale" id="mysale">
	<div class="core_title">
    	<span class="core_title_con">当前位置：股票管理&gt;&gt;出售详情</span>
    </div>
    <div class="core_con">
        <table class="tablebg">
            <tr class="datafield">
                <foreach name="data.field" item="vo">
                <th ><nobr>{$vo}</nobr></th>
                </foreach>
            </tr>
            <foreach name="data.list" item="vo">
            <tr class="datalist">
                <foreach name="vo" item="vo1">
                <td  ><nobr>{$vo.$key}</nobr></td>
                </foreach>
            </tr>
            </foreach>
             <tr>
                <td colspan="6"style="padding:3px;"><nobr><input class="button_text" type="button"  id="but" value="返回" name="but" onClick="history.back();"></nobr></td>
            </tr>
        </table>
    </div>
    <div class="core_page">
        <span>共{$data.count}条记录 {$data.nowPage}/{$data.totalPages}页 &nbsp;</span>
        <if condition="$data['nowPage'] neq 1">
        <a href="{$data.firstRow}">首页</a>&nbsp;&nbsp;
        <else/><span>首页&nbsp;&nbsp;</span>
        </if>
        <a href="{$data.upRow}">上一页</a>&nbsp;&nbsp;
        <if condition="isset($data['rollPage'][-2])">
        <a href="{$data.rollPage.-2}">{$data['nowPage']-2}</a>&nbsp;&nbsp;
        </if>
        <if condition="isset($data['rollPage'][-1])">
        <a href="{$data.rollPage.-1}">{$data['nowPage']-1}</a>&nbsp;&nbsp;
        </if>
        {$data.nowPage}&nbsp;&nbsp;
        <if condition="isset($data['rollPage'][1])">
        <a href="{$data.rollPage.1}">{$data['nowPage']+1}</a>&nbsp;&nbsp;
        </if>
        <if condition="isset($data['rollPage'][2])">
        <a href="{$data.rollPage.2}">{$data['nowPage']+2}</a>&nbsp;&nbsp;
        </if>
        <a href="{$data.downRow}">下一页</a>&nbsp;&nbsp;
        <if condition="$data['nowPage'] lt $data['totalPages']">
        <a href="{$data.theEndRow}">尾页</a>
        <else/><span>尾页</span>
        </if>  
    </div>
    
</div>



