<include file="Index:header" />

<div class="centre_right">
     <div class="dh_tab_sec1">
      <table width="97%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
       <tr>
          <td bgcolor="#efefef"><span class="tab_title"></span><span class="tab_font" style="line-height:20px;">{:L('添加转账')}</span></td>
       </tr>
       <tr>
          <td>
            <div style="padding:10px">
              <table width="100%" border="0" cellpadding="2" cellspacing="0" class="table table-bordered" id="dyntable">
                 <tr>
                   <td class="td_title1">{:L('期数')}</td>
                   <td class="td_title1">{:L('会员编号')}</td>
                   <td class="td_title1">{:L('类型')}</td>
                   <td class="td_title1">{:L('转出')}</td>
                   <td class="td_title1">{:L('时间')}</td>
                   <td class="td_title1">{:L('状态')}</td>
                 </tr>
                  <tr>
                      <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                      </tr>
                                       <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                      </tr>
                
              </table>
            
              <table width="30%" border="0" cellspacing="0" cellpadding="0" class="tab1" style="border:none;" align="right">
                   <tr>
                      <td width="44%" align="right"><span class="next"><a href="">上一页</a></span></td>
                     <td width="31%" align="center"><span class="prv"><a href="">1</a></span><span class="prv"><a href="">2</a></span><span class="prv"><a href="">3</a></span></td>
                      <td width="25%"><span class="last"><a href="">下一页</a></span></td>
                   </tr>
                </table>

                       

            </div>
          </td>
       </tr>
      </table>
    </div>

    
   
  </div>
</div>

<include file="Index:footer" />

</body>
</html>


