<script>
function RunStateAjaxDone(json){
	DWZ.ajaxDone(json);
	if (json.statusCode == DWZ.statusCode.ok){
		if(json.state)
		{
			$('#'+json.name+'_state').css('color','#07720a').html('开启');
		}
		else
		{
			$('#'+json.name+'_state').css('color','#ff0000').html('关闭');
		}
	}
}
function logSelect(selall)
{
	$('.log_level').each(function() {
	        $(this).attr('checked', selall);
	});
}
</script>
<div class="pageContent" style="padding:5px">
    <table>
    	<tr>
    		<td width='300' valign="top"  align='left'>
				<div class="panel" defH="55">
					<h1>调试模式</h1>
					<div>
					<dl class="nowrap"  style='text-align:left'>
					    <b><layer style='font-size:14px'><img src='/Public/Images/ExtJSicons/bug/bug.png'/>调试模式:
					    <if condition="($debug_state eq true)"> 
							<font style='color:#07720a;font-size:14px' id='debug_state'>开启</font>
						<else /> 
							<font style='color:#ff0000;font-size:14px' id='debug_state'>关闭</font>
						</if>
					    </layer></b>
					    <div class="divider"></div>
						<a href="__CONTROLLER__/debugSet/state/1" target="ajaxTodo" class='button'                           callback='RunStateAjaxDone'><span>开启调试</span></a> 
						<a href="__CONTROLLER__/debugSet/state/0" target="ajaxTodo" class='button' style='margin-left:10px'  callback='RunStateAjaxDone'><span>关闭调试,并清空缓存</span></a>
						<br>
					</dl>
					</div>
				</div>
				<div class="panel" defH="55">
					<h1>警告输出</h1>
					<div>
					<dl class="nowrap"  style='text-align:left'>
					    <b><layer style='font-size:14px'><img src='/Public/Images/ExtJSicons/error.png'/>警告输出:
					    <if condition="($warning_state eq true)"> 
					    
							<font style='color:#07720a;font-size:14px' id='warning_state'>开启</font>
						<else /> 
							<font style='color:#ff0000;font-size:14px' id='warning_state'>关闭</font>
						</if>
					    </layer></b>
					    <div class="divider"></div>
						<a href="__CONTROLLER__/waringSet/state/1" target="ajaxTodo" class='button'                           callback='RunStateAjaxDone'><span>开启警告</span></a> 
						<a href="__CONTROLLER__/waringSet/state/0" target="ajaxTodo" class='button' style='margin-left:10px'  callback='RunStateAjaxDone'><span>关闭警告</span></a>
						<br>
					</dl>
					</div>
				</div>
				<div class="panel" defH="70">
					<h1>数据库日志</h1>
					<div>
					<dl class="nowrap"  style='text-align:left'>
					    <table >
					    <tr>
					    <td width='125' style='text-align:left'>
					    <b><layer style='font-size:14px'><img src='/Public/Images/ExtJSicons/server_database.png'/>数据日志:
					    <if condition="($sql_state eq true)"> 
							<font style='color:#07720a;font-size:14px' id='sql_state'>开启</font>
						<else /> 
							<font style='color:#ff0000;font-size:14px' id='sql_state'>关闭</font>
						</if>
					    </layer>
					    </b>
					    </td>
					    <td>
					    (runsql.sql)
					    </td>
					    </tr>
					    </table>
					    <div class="divider"></div>
						<a href="__CONTROLLER__/sqlLogSet/state/1" target="ajaxTodo" class='button'                           callback='RunStateAjaxDone'><span>开启日志</span></a> 
						<a href="__CONTROLLER__/sqlLogSet/state/0" target="ajaxTodo" class='button' style='margin-left:10px'  callback='RunStateAjaxDone'><span>关闭日志</span></a>
						<a href="__CONTROLLER__/sqlLogClear" target="ajaxTodo" class='button' style='margin-left:10px' ><span>清空</span></a>
						<br>
					</dl>
					</div>
				</div>				
				<form action="__CONTROLLER__/logeSet" method="post" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDoneReload)">
				<input type="hidden" name="log_sel" value=""> 
					<div class="panel" defH="210">
						<h1>日志设置</h1>
						<div>
						<dl class="nowrap" style='text-align:left'>
						
						    <b><layer style='font-size:12px'>
								 <input type="checkbox" class='log_level' name="LOG_LEVEL[]" value="EMERG"  <if condition="in_array('EMERG',$logLevelArr)">checked</if>/>严重错误，导致系统崩溃无法使用<br/>
								 <input type="checkbox" class='log_level' name="LOG_LEVEL[]" value="ALERT"  <if condition="in_array('ALERT',$logLevelArr)">checked</if>/>警戒性错误， 必须被立即修改的错误<br/>
								 <input type="checkbox" class='log_level' name="LOG_LEVEL[]" value="CRIT"   <if condition="in_array('CRIT',$logLevelArr)">checked</if>/>临界值错误， 超过临界值的错误<br/>
								 <input type="checkbox" class='log_level' name="LOG_LEVEL[]" value="ERR"    <if condition="in_array('ERR',$logLevelArr)">checked</if>/>一般性错误<br/>
								 <input type="checkbox" class='log_level' name="LOG_LEVEL[]" value="WARN"   <if condition="in_array('WARN',$logLevelArr)">checked</if>/>警告性错误， 需要发出警告的错误<br/>
								 <input type="checkbox" class='log_level' name="LOG_LEVEL[]" value="NOTIC" <if condition="in_array('NOTIC',$logLevelArr)">checked</if>/>通知，程序可以运行但是还不够完美的错误<br/>
								 <input type="checkbox" class='log_level' name="LOG_LEVEL[]" value="INFO"   <if condition="in_array('INFO',$logLevelArr)">checked</if>/>信息，程序输出信息<br/>
								 <input type="checkbox" class='log_level' name="LOG_LEVEL[]" value="DEBUG"  <if condition="in_array('DEBUG',$logLevelArr)">checked</if>/>调试，用于调试信息<br/>
								 <input type="checkbox" class='log_level' name="LOG_LEVEL[]" value="SQL"    <if condition="in_array('SQL',$logLevelArr)">checked</if>/>SQL语句，该级别只在调试模式开启时有效
							<br>
						</dl>
						<div class="divider"></div>
							<ul>
								<!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
								<li><div class="buttonActive"><div class="buttonContent"><button type="submit" >保存</button></div></div></li>
								<li>
									<div  style='margin-left:10px' class="button"><div class="buttonContent" ><button type="submit" onclick='logSelect(true)'>全部选择</button></div></div>
									<div  style='margin-left:10px' class="button"><div class="buttonContent" ><button type="submit" onclick='logSelect(false)'>全部取消</button></div></div>
								</li>
							</ul>
						</div>
					</div>
				</form>
				</div>
				
			</td>
			<td valign="top" width='300' align='left' >
				<div class="panel" defH="500">
					<h1>管理项目日志</h1>
					<div class='pageFormContent'>
						<div>
							<div class="j-resizeGrid">
							<div class="grid" style='border-width:1px;'>
								<div class="gridHeader">
								<div class="gridThead" style="position: relative; left: 0px;">
								<table ><thead>
								<tr>
									<th style="width: 165px;" class=""><div class="gridCol" title="文件名">文件名</div></th>
									<th style="width: 82px; " class=""><div class="gridCol" title="大小">大小</div></th>
								</tr>
								</thead>
								</table>
								</div>
								</div>
								<div style="width: 278px;height:476px;overflow-y: scroll;">
								<div class="gridTbody" style=''>
								<table style="width: 258px;">
								<tbody>
								<foreach name='adminlog' item='file'>
									<tr class="">
										<td style='width:165px;text-align:left'><div><a href='__CONTROLLER__/getlog/type/admin/filename/{$file.name}'>{$file.name}</div></td>
										<td style='width:82px;text-align:left'><div>{$file.size}</div></td>
										<td ></td>
									</tr>
								</foreach>
									</tbody>
									</table>
									</div>
									</div>
							</div>
						    </div>
						</div>
					</div>
				</div>
			</td>
			<td valign="top" width='300'>
				<div class="panel" defH="500">
					<h1>结算系统日志</h1>
					<div class='pageFormContent'>
						<div>
							<div class="j-resizeGrid">
							<div class="grid" style='border-width:1px;'>
								<div class="gridHeader">
								<div class="gridThead" style="position: relative; left: 0px;">
								<table ><thead>
								<tr>
									<th style="width: 165px;" class=""><div class="gridCol" title="文件名">文件名</div></th>
									<th style="width: 82px; " class=""><div class="gridCol" title="大小">大小</div></th>
								</tr>
								</thead>
								</table>
								</div>
								</div>
								<div style="width: 278px;height:476px;overflow-y: scroll;">
								<div class="gridTbody" style=''>
								<table style="width: 258px;">
								<tbody>
								<foreach name='dmslog' item='file'>
									<tr class="">
										<td style='width:165px;text-align:left'><div><a href='__CONTROLLER__/getlog/type/admin/filename/{$file.name}'>{$file.name}</div></td>
										<td style='width:82px;text-align:left'><div>{$file.size}</div></td>
										<td ></td>
									</tr>
								</foreach>
									</tbody>
									</table>
									</div>
									</div>
							</div>
						    </div>
						</div>
					</div>
				</div>
			</td>			
		</tr>
	</table>
</div>


	

