<include file="Public:header" />
<div class="content notice" id="tranlist">
    <foreach name='data.list' item='name'>
        <div class="card">
            <div class="card-header">
                <small>
                    {:L('时间')}: <span class="color-primary">{$name[L('时间')]}</span>
                    &nbsp;{:L('类型')}: <span class="color-primary">{$name[L('类型')]}</span>
                </small>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-33">
                        <div class="card-content-inner text-center">
                            <a href="###" class="color-warning">
                                <span>{:L('数量')}</span><br/>
                                <strong>{$name[L('数量')]}</strong>
                            </a>
                        </div>
                    </div>
                    <div class="col-66">
                        <div class="card-content-inner">
                            <div><span class="color-gray">{:L('余量')}：</span>{$name[L('余量')]}</div>
                            <div><span class="color-gray">{:L('价格')}：</span>{$name[L('价格')]}</div>
                            <div><span class="color-gray">{:L('备注')}：</span>{$name[L('备注')]}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </foreach>
    <div class="pager">
        <if condition="$data['nowPage'] neq 1">
        <a href="{$data.firstRow}">&laquo;</a>
        <else/>
        <a href="javascript:void(0)">&laquo;</a>
        </if>
        <a href="{$data.upRow}">&lt;</a>
        <if condition="isset($data['rollPage'][-2])">
        <a href="{$data.rollPage.-2}">{$data['nowPage']-2}</a>
        </if>
        <if condition="isset($data['rollPage'][-1])">
        <a href="{$data.rollPage.-1}">{$data['nowPage']-1}</a>
        </if>
        <a href="javascript:void(0)">{$data.nowPage}/{$data.totalPages}</a>
        <if condition="isset($data['rollPage'][1])">
        <a href="{$data.rollPage.1}">{$data['nowPage']+1}</a>
        </if>
        <if condition="isset($data['rollPage'][2])">
        <a href="{$data.rollPage.2}">{$data['nowPage']+2}</a>
        </if>
        <a href="{$data.downRow}">&gt;</a>
        <if condition="$data['nowPage'] lt $data['totalPages']">
        <a href="{$data.theEndRow}">&raquo;</a>
        <else/>
        <a href="javascript:void(0)">&raquo;</a>
        </if>
    </div>
</div>
<script language="javascript">
    function sell1(){
        $("#sell_btn").attr("disabled","disabled");
        var url="__CONTROLLER__/hangsave:__XPATH__";
        $("#form1").attr("action",url);
        $('#form1').submit();
        $("#sell_btn").moveAttr("disabled");
    }

    $('#seltype').bind('change',function (){
        var val = $('#seltype').val();//选中的值
        if(val == '1'){
            $('.hang_fun').show();
        }else{
            $('.hang_fun').hide();
        }
    });
</script>
<include file="Public:footer" />
