<script language="JavaScript">

/**
* dialog上的表单提交回调函数
* 服务器转回navTabId，可以重新载入指定的navTab. statusCode=DWZ.statusCode.ok表示操作成功, 自动关闭当前dialog
* 
* form提交后返回json数据结构,json格式和navTabAjaxDone一致
*/
function dialogAjaxDone(json)
{
	DWZ.ajaxDone(json);
	if (json.statusCode == DWZ.statusCode.ok)
	{
		navTab.reload();
		//navTab.reload(); //刷新角色管理
		$.pdialog.closeCurrent(); //关闭添加角色对话框
	}
}
</script>
<div class="page">
	<div class="pageContent">
	
	<form method="post" action="__CONTROLLER__/changePwd" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<input type="hidden" name="id" value="{$vo.id}">
		<div class="pageFormContent" layoutH="58">
			<table  border="0" bordercolor="#dddddd" style="border-collapse:collapse">
				<tr>
					<td>旧密码:</td>
					<td><input type="password" autocomplete="off" class="required" name="oldpassword"></td>
				</tr>
				<tr>
					<td>新密码:</td>
					<td><input type="password" autocomplete="off" class="required" name="password"></td>
				</tr>
				<tr>
					<td>新密码确认:</td>
					<td><input type="password" autocomplete="off" class="required" name="repassword"></td>
				</tr>
				<tr>
					<td>验证码：</td>
					<td><input type="text" class="required" name="verify"> &nbsp;
				<img src="__CONTROLLER__/verify/" BORDER="0" ALT="click" id="verifyImg" onClick="fleshVerify()" style="cursor:pointer" align="absmiddle"></td>
				</tr>
			</table>
		
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
	</div>
</div>
