<div style="width:600px; margin-top:30px;">
    
  <table width="100%" border="0px" cellspacing="0" cellpadding="0">
  <tr>
    <td width="5" height="5" class="top_left"></td>
    <td height="5" colspan="5" class="top_middle"></td>
    <td width="5" height="5" class="top_right"></td>
  </tr>
  <tr>
    <td width="5" class="middle_left"></td>
    <td colspan="5"><div class="tab2">
    
      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="checkList" class="list">
  <tr>
    <td colspan="5" bgcolor="#ced9e7" style="border:none;">正在进行奖金结算</td>
    </tr>
  <tr>
	  <td width="24" class="tab2_border1"><input type="image" src="images/fzcg_dh[1].gif" width="17" height="20" style="margin-left:0px; float:left;"/></td>
    <td width="60" class="tab2_border2">清理无效</td>
     <td width="24" colspan="3" class="search_1"></td>
    
  </tr>
  <tr>
    <td width="24" class="tab2_border1"> <input type="image" src="images/database_go.png" width="17" height="20" style="margin-left:0px; float:left;"/></td>
    <td class="tab2_border2">计算奖金</td>
    <td class="search_1" colspan="3"></td>
  </tr>
   <tr>
    <td class="tab2_border2"></td>
    <td class="tab2_border2" width="20%">重新统计总账</td>
    <td class="search_1" colspan="3"></td>
   
  </tr>
  <tr>
	  <td width="24" class="tab2_border2"><input type="image" src="images/Item.notAdd.gif"  width="17" height="20" style="margin-left:0px; float:left;"/></td>
    <td class="tab2_border2">计算详情</td>
    <td><textarea style="border:#ccc solid;width:410px;height:100px;"></textarea>
  </tr>
</table>

    </div></td>
    <td width="8" class="middle_right"></td>
  </tr>
  <tr>
    <td width="5" height="5" class="buttom_left"></td>
    <td height="5" colspan="5" class="buttom_middle"></td>
    <td width="5" height="5" class="buttom_right"></td>
  </tr>
  
</table>
</div>


