<style>
    .productSelect {
        background: #ccc;
        border-radius: 3px;
    }
    .state_ {
        /*margin: 5px;*/
        font-size: 14px;
        color: red;
    }
</style>
<div class="core_main Sale" id="product">
    <div class="core_conp">
        <div id="state_productCountMoney" class="state_"></div>
        <table class="tablebg" id="table1">
            <thead>
                <tr>
                    <td colspan="8" >{:L($sale->productName.'选购')}</td>
                </tr>
                <tr >
                    <td colspan="8" >
                        <php>$i=1;</php>
                        <foreach name="productArr" item="product">
                        <div id="productCategory_{$i}" productCategoryid="{$i}">{:L($key)}</div>
                        <php>$i++;</php>
                        </foreach></td>
                </tr>
                <tr>
                    <td >{:L('序号')}</td>
                    <td >{:L('产品名称')}</td>
                    <td >{:L('图片')}</td>
                    <td >{:L('数量')}</td>
                    <td >{:L($sale->productMoney)}</td>
                    <eq name="sale:productPV" value="true"><td >PV</td></eq>
                    <if condition="$logistic eq true"><td >{:L('重量')}</td></if>
                    <if condition="($proobj:productnumCheck eq true) or (adminshow('prostock') eq true)">
                    <td >{:L('库存')}</td>
                    </if>
                </tr>
            </thead>
            <php>$ii=1;</php>
            <foreach name="productArr" item="product" key="fenlei">
            <tbody id="productTbody_{$ii}" style="<neq name="ii" value="1">display:none</neq>">
                <volist name="product" id="vo">
                <tr>
                    <td>{:($key+1)}</td>
                    <td>
                    <php>
                    //查看该产品是否存在套餐
                       $nums = M($proobj->name.'套餐')->where(array('产品id'=>$vo['id']))->count();
                       if($nums>0){
                    </php>
                    <a target="_blank" href="__CONTROLLER__/showProtaocan:{$proobj:xpath}/proid/{$vo.id}">{:L($vo['名称'])}({:L('套餐详情')})</a>
                    <php>}else{</php>
                    <a target="_blank" href="__CONTROLLER__/showProinfo:{$proobj:xpath}/id/{$vo.id}">{:L($vo['名称'])}</a>
                    <php>}</php>
                    </td>
                    <td>
                        <php>$imgstr=$vo['图片'];</php>
                        <if condition="(strlen($imgstr) eq 0)" >
                            {:L('无')}
                        <php> $productimg=L('无'); </php>
                        <else/>
                        <img src="{$vo.图片}" width='120px' />
                        <php>
                        $productimg="<img src='".$vo['图片']."' width='120px'/>"; 
                        </php>
                        </if>
                    </td>
                    <td><input type="text" name="productNum[{$vo.id}]"  id="productNum_{$vo.id}" productNumInfo="{$vo.id}_{$fenlei}_{$vo.名称}_{$vo[$sale:productMoney]}_{$vo.pv}_{$vo.重量}" pronum="{$vo.可订购数量}" style="width:35px" productimg="{$productimg}" />
                    	<span id='product_tishi' style='display:none'>请输入产品数量<span>
                    </td>
                    <td>{$vo[$sale:productMoney]}</td>
                    <eq name="sale:productPV" value="true"><td>{:L($vo['pv'])}</td></eq>
                    <if condition="$logistic eq true"><td>{:L($vo['重量'])}</td></if>		
                    <if condition="($proobj:productnumCheck eq true) or (adminshow('prostock') eq true)">
                    <td>{:L($vo['可订购数量'])}</td><!-- id="state_productnum{$vo.id}"-->
                    </if>
                </tr>
                </volist>
            </tbody>
            <php>$ii++;</php>
            </foreach>
        </table>
        <table class="tablebg" id="table2">
            <thead>
                <tr>
                    <td colspan="8">{:L('已选产品')}</td>
                </tr>
                <tr>
                    <td >{:L('序号')}</td>
                    <td >{:L('类别')}</td>
                    <td >{:L('产品名称')}</td>
                    <td >{:L('图片')}</td>
                    <td >{:L('总计数量')}</td>
                    <td >{:L('总金额')}</td>
                    <eq name="sale:productPV" value="true"><td >{:L('总PV')}</td></eq>
                    <if condition="$logistic eq true"><td>{:L('总重量')}</td></if>
                </tr>
            </thead>
            <tbody id="selectedProduct">
            </tbody>
            <tr>
                <td colspan="4"  style="text-align:right">{:L('汇总')}：</td>
                <td id="totalnum">0</td>
				<td id="totalprice">0</td>
				<eq name="sale:productPV" value="true"><td id="totalpv">0</td></eq>
				<if condition="$logistic eq true"><td id="totalweight">0</td></if>
            </tr>
			<if condition="($logistic eq true) or ($zkbool eq true)">
				<tr>
					<td colspan="4" style="text-align:right;">
					<span style="display:inline-block;text-align:left;width:70%">
					<if condition="$zkbool eq true">{:L('折扣')}：<span id="zk"></span>{:L('折')}</if>
					&nbsp;&nbsp;&nbsp;
					<if condition="$logistic eq true">{:L('物流费')}：<span id="wlf"></span></if>
					</span>
					<span>{:L('实际支付')}:</span>
					</td>
					<td id="totalzf" colspan="4" style="text-align:center;">0</td>
				</tr>
			</if>
        </table>
    </div>
</div>	
<if condition="($logistic eq true) or ($zkbool eq true)"><script language="javascript" src="__PUBLIC__/js/cal.js"></script></if>
<script>
  $(function(){
  	<if condition="($logistic eq true) or ($zkbool eq true)">
		user_getTotalzf('{$sale:name}','Sale');
	</if>
	var productStock = <if condition="($proobj:productnumCheck eq true) or (adminshow('prostock') eq true)">true<else/>false</if>;
    $("[id^='productCategory_']").first().addClass('productSelect');
	$("[id^='productCategory_']").click(function(){
		$('[id^=productTbody_]').hide();
		$('#productTbody_'+$(this).attr('productCategoryid')).show();
	    $('[id^=productCategory_]').removeClass('productSelect');
	    $(this).addClass('productSelect');
	});
    $('[id^=productCategory_]').css({float:'left',cursor:'pointer',padding: '0 5px',margin:'0 3px',border:'1px solid #ccc','border-radius':'3px'});
	$("[id^=productNum_]").keyup(function(){
		var product =$(this).attr('productNumInfo').split("_");
		var productimg = $(this).attr('productimg');
		var num = $(this).val();
		num = parseInt(num.replace(/\b(0+)/gi,""));
		if(!(num > 0 && (!isNaN(num)))){
			$(this).val('');
		}else{
            $(this).val(num);
        }
		//开启库存时，不能超过库存量
		var realnum=$(this).attr('pronum');
		if(productStock && num > realnum){
			num =  parseInt(realnum);
			$(this).val(num);
		}
		
		//定义序号
		var k=0;
		$("#selectedProduct > tr").each(function(i,v){
			if($(v).attr('selectedProductid') == product[0]){
				$(this).remove();//删除
			}else{
				k=parseInt($(this).find("td:first").html());
			}
		});
		if((!isNaN(num)) && num > 0){
			$("#selectedProduct").append('<tr selectedProductid="'+product[0]+'" style="border-bottom:1px solid #EDEDED;"><td>'+(parseInt(k)+1)+'</td><td>'+product[1]+'</td><td>'+product[2]+'</td><td>'+productimg+'</td><td id="selnum_'+product[0]+'">'+num+'</td><td id="selprice_'+product[0]+'">'+(num*product[3]).toFixed(2)+'</td><eq name="sale:productPV" value="true"><td id="selpv_'+product[0]+'">'+(num*product[4]).toFixed(2)+'</td></eq><if condition="$logistic eq true"><td id="selweight_'+product[0]+'">'+(num*product[5]).toFixed(2)+'</td></if></tr>');
		}
		//统计
		var countNum = 0;
		var countMoney = 0;
		var countPV = 0;
		var countWeight = 0;
		$("#selectedProduct > tr").each(function(i,v){
			var proid=$(this).attr('selectedProductid');
			countNum +=parseFloat($('#selnum_'+proid).html());
			countMoney +=parseFloat($('#selprice_'+proid).html());
			<if condition="$sale:productPV eq true">
				countPV +=parseFloat($('#selpv_'+proid).html());
			</if>
			<if condition="$logistic eq true">
				countWeight +=parseFloat($('#selweight_'+proid).html());
			</if>
		});
		
		$("#totalnum").html(countNum);
		$("#totalprice").html(countMoney.toFixed(2));
		<eq name="sale:productPV" value="true">
			$("#totalpv").html(countPV.toFixed(2));
		</eq>
		<if condition="$logistic eq true">
			$("#totalweight").html(countWeight.toFixed(2));
		</if>
		//计算实付款并显示
		<if condition="($logistic eq true) or ($zkbool eq true)">
			user_getTotalzf('{$sale:name}','Sale');
		</if>
	});
});
</script>