<div class="core_main Sale" id="viewMysale">
	<div class="core_title">
    	<span class="core_title_con"><span>{:L('当前位置')}</span>：{:L('注册')}</span>
    </div>
    <div class="core_con">
		<table class="tablebg" id="table1">
            <tr>
                <td style="vertical-align:middle" >
                    <img src="__PUBLIC__/Images/ExtJSicons/arrow/accept.png" style="display:inline"/>&nbsp;<span  >{:L('恭喜，您已成功注册会员')}{$newuserid}。</span>
                </td>
            </tr>
        </table>
        <table class="tablebg" id="table4">
            <tr>
                <td>
                    <a href="__APP__/DmsUser/Sale/reg:__XPATH__" onclick="self.location=document.referrer;"/> {:L('继续注册')}</a>
                    <foreach name="recipts" item="vo" key='rkey'>
                    <a href="{$vo}"/> {:L($rkey)}</a>
                    </foreach>
                    <a href="__APP__/DmsUser/Index/index"/> {:L('返回首页')}</a>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="core_page"></div>
</div>
