<script src="/Public/DmsUser/katniss_sj/Public/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/directSell/area_select.js"></script>
<!--确认信息-->
<!--
<div class="container-bag">
    <div class="container-cont">
              <div class="content-esc js-esc">×</div>
              <div class="content-list">
                    <div class="list-left">转账选：</div>
                    <div class="list-right">运通积分转账</div>
              </div>
              <div class="content-list">
                    <div class="list-left">转入编号：</div>
                    <div class="list-right">123134255 <span>新商</span></div>
              </div>
              <div class="content-list">
                    <div class="list-left">转入金额：</div>
                    <div class="list-right">2356789</div>
              </div>
              <div class="content-buttom js-esc">
                  <input type="submit" value="确认" class="s_btn">
              </div>
      </div>

</div>
-->
<!--确认信息-->
<div class="core_main Sale" id="usereg">
	<div class="core_title">
    	<span class="core_title_con"><span>{:L('当前位置')}</span>： {$nowtitle}</span>
    </div>
    <div class="core_con" style="overflow:hidden">
        <div id="salereg" style="<present name='regAgreement'>display:none</present>">
            <form name="form1" method="post" action="__MODULE__/Sale/regSave:__XPATH__" id="form">
                <table class="tablebg" id="table1">
                    <tr>
                        <td class="tbkey" >{:L($user->byname.'编号')}：</td>
                        <td class="tbval" ><if condition="($user:idEdit eq true) and ($user:idAutoEdit eq true)"><input type="text" value="{$userid}" name="userid" id="userid" onkeyup="getInfo(this)"/>
                            <elseif condition="($user:idAutoEdit eq true)"/>{$userid}<else/><input type="text" value="" name="userid" id="userid"/></if><span class="msg" id="state_userid" style="color: red"></span></td>
                    </tr>
                    <if condition = "($sale:setLv eq true)">
                    <TR>
                        <td class="tbkey" >{:L($levels->byname)}：</td>
                        <td class="tbval" >
                            <select name='lv' class="ssaa" id="lv" <if condition="$zkbool eq true">onChange="user_getTotalzf('{$sale:name}','Sale');"</if>>
                                <foreach name='levelsopt' item='level'>
                                <notempty name="maxlv">
                                <if condition="$level.lv elt $maxlv">
                                <option value="{$level.lv}">{$level.name}</option>
                                </if>
                                <else/>
                                <option value="{$level.lv}">{$level.name}</option>
                                </notempty>
                                </foreach>
                            </select>
                            &nbsp;&nbsp;<span class="msg" id="state_lv"></span>
                        </td>
                    </TR>
                    <else />
  					<input type="hidden" name="lv" id="lv" value="{$sale:defaultLv}" />
                    </if>
                    {//单数}
                    <if condition="($sale:setNumber eq true)">
                    <tr>
                        <td class="tbkey" >{:L('单数')}：</td>
                        <td class="tbval" ><input type="text" value="" name="setNumber" />&nbsp;&nbsp;<span class="msg" id="state_setNumber">*</span></td>
                    </tr>
                    </if>
                    <if condition="($sale:setMoney eq true)">
                    <tr>
                        <td class="tbkey" >{:L('报单金额')}：</td>
                        <td class="tbval" ><input type="text" value=""  name="setMoney" />&nbsp;&nbsp;<span class="msg" id="state_setMoney">*</span></td>
                    </tr>
                    </if>
                    <!--基本信息-->
                    <if condition="in_array('name',$show) eq true">
                    <tr>
                        <td class="tbkey" >{:L('真实姓名')}：</td>
                        <td class="tbval" ><span><input type="text" value="" name="name" /></span>&nbsp;&nbsp;<span class="msg" id="state_name"><if condition="in_array('name',$require) eq true ">*</if></span></td>
                    </tr>
                    </if>
                    <if condition="in_array('sex',$show) eq true">
                    <tr>
                        <td class="tbkey" >{:L('性别')}：</td>
                        <td class="tbval" >
                            <span><input type="radio" name="sex" value="{:L('男')}" checked/>{:L('男')}<input type="radio" name="sex" value="{:L('女')}" />{:L('女')}</span>
                            &nbsp;&nbsp;<span class="msg" id="state_sex"><if condition="in_array('sex',$require) eq true ">*</if></span>
                        </td>
                    </tr>
                    </if>
                    <if condition="in_array('alias',$show) eq true">
                    <tr>
                        <td class="tbkey" >{:L('别名')}：</td>
                        <td class="tbval" ><span><input type="text" value="" name="alias" /></span>&nbsp;&nbsp;<span class="msg" id="state_alias"><if condition="in_array('alias',$require) eq true ">*</if></span></td>
                    </tr>
                    </if>
                    <if condition="in_array('id_card',$show) eq true">
                    <tr>
                        <td class="tbkey" >{:L('证件号码')}：</td>
                        <td class="tbval" ><span ><input type="text" value="" name="id_card"/></span>&nbsp;&nbsp;<span class="msg" id="state_id_card"><if condition="in_array('id_card',$require) eq true ">*</if></span></td>
                    </tr>
                    </if>
                    <if condition="in_array('email',$show) eq true">
                    <tr>
                        <td class="tbkey" >Email：</td>
                        <td class="tbval" ><span><input type="text" value="" name="email" /></span>&nbsp;&nbsp;<span class="msg" id="state_email"><if condition="in_array('email',$require) eq true ">*</if></span></td>
                    </tr>
                    </if>
                    <if condition="in_array('qq',$show) eq true">
                    <tr>
                        <td class="tbkey" >QQ：</td>
                        <td class="tbval" ><span><input type="text" value="" name="qq" /></span>&nbsp;&nbsp;<span class="msg" id="state_qq"><if condition="in_array('qq',$require) eq true ">*</if></span></td>
                    </tr>
                    </if>
                    <!--微信填写-->
                    <if condition="in_array('weixin',$show) eq true">
                     <tr>
                        <td class="tbkey" >{:L('微信账号')}：</td>
                        <td class="tbval" ><span><input type="text" value="" name="weixin"  onkeyup="getInfo(this)" id="weixin" autocomplete="off"/></span>&nbsp;&nbsp;<span class="msg" id="state_weixin"><if condition="in_array('weixin',$require) eq true">*</if></span></td>
                    </tr>
                    </if>
                    <!--支付宝账号-->
                    <if condition="in_array('alipay',$show) eq true">
                     <tr>
                        <td class="tbkey" >{:L('支付宝')}：</td>
                        <td class="tbval" ><span><input type="text" value="" name="alipay" id="alipay" autocomplete="off"/></span>&nbsp;&nbsp;<span class="msg" id="state_alipay"><if condition="in_array('alipay',$require) eq true">*</if></span></td>
                    </tr>
                    </if>
				  <if condition="in_array('country_code',$show) eq true">
                  <tr>
                    <td class="tbkey">{:L('国家区号')}：</td>
                    <td class="tbval">
                     <span>
                         <!--data-pattern 正则表达式-->
                     <select name='country_code' id="country_code" style="width: 152px;height: 21px">
                        <option value="86" data-pattern="^(86){0,1}1\\d{10}$">中国大陆(+86)</option>
                        <option value="886" data-pattern="^(00){0,1}(886){1}0{0,1}[6,7,9](?:\\d{7}|\\d{8}|\\d{10})$">台湾(+886)</option>
                        <option value="852" data-pattern="^(00){0,1}(852){1}0{0,1}[1,5,6,9](?:\\d{7}|\\d{8}|\\d{12})$">香港(+852)</option>
                        <option value="60" data-pattern="^(00){0,1}(60){1}1\\d{8,9}$">马来西亚(+60)</option>
                        <option value="65" data-pattern="^(00){0,1}(65){1}[13689]\\d{6,7}$">新加坡(+65)</option>
                        <option value="81" data-pattern="^(00){0,1}(81){1}0{0,1}[7,8,9](?:\\d{8}|\\d{9})$">日本(+81)</option>
                        <option value="82" data-pattern="^(00){0,1}(82){1}0{0,1}[7,1](?:\\d{8}|\\d{9})$">韩国(+82)</option>
                        <option value="1us" data-pattern="^(00){0,1}(1){1}\\d{10,12}$">美国(+1)</option>
                        <option value="1ca" data-pattern="^(00){0,1}(1){1}\\d{10}$">加拿大(+1)</option>
                        <option value="61" data-pattern="^(00){0,1}(61){1}4\\d{8,9}$">澳大利亚(+61)</option>
                        <option value="64" data-pattern="^(00){0,1}(64){1}[278]\\d{7,9}$">新西兰(+64)</option>
                        <option value="54" data-pattern="^(00){0,1}(54){1}\\d{6,12}$">阿根廷(+54)</option>
                        <option value="971" data-pattern="^(00){0,1}(971){1}\\d{6,12}$">阿联酋(+971)</option>
                        <option value="353" data-pattern="^(00){0,1}(353){1}\\d{6,12}$">爱尔兰(+353)</option>
                        <option value="20" data-pattern="^(00){0,1}(20){1}\\d{6,12}$">埃及(+20)</option>
                        <option value="372" data-pattern="^(00){0,1}(372){1}\\d{6,12}$">爱沙尼亚(+372)</option>
                        <option value="43" data-pattern="^(00){0,1}(43){1}\\d{6,12}$">奥地利(+43)</option>
                        <option value="853" data-pattern="^(00){0,1}(853){1}6\\d{7}$">澳门(+853)</option>
                        <option value="1242" data-pattern="^(00){0,1}(1242){1}\\d{6,12}$">巴哈马(+1242)</option>
                        <option value="507" data-pattern="^(00){0,1}(507){1}\\d{6,12}$">巴拿马(+507)</option>
                        <option value="55" data-pattern="^(00){0,1}(55){1}\\d{6,12}$">巴西(+55)</option>
                        <option value="375" data-pattern="^(00){0,1}(375){1}\\d{6,12}$">白俄罗斯(+375)</option>
                        <option value="359" data-pattern="^(00){0,1}(359){1}\\d{6,12}$">保加利亚(+359)</option>
                        <option value="32" data-pattern="^(00){0,1}(32){1}\\d{6,12}$">比利时(+32)</option>
                        <option value="48" data-pattern="^(00){0,1}(48){1}\\d{6,12}$">波兰(+48)</option>
                        <option value="501" data-pattern="^(00){0,1}(501){1}\\d{6,12}$">伯利兹(+501)</option>
                        <option value="45" data-pattern="^(00){0,1}(45){1}\\d{6,12}$">丹麦(+45)</option>
                        <option value="49" data-pattern="^(00){0,1}(49){1}1(\\d{5,6}|\\d{9,12})$">德国(+49)</option>
                        <option value="7" data-pattern="^(00){0,1}(7){1}[13489]\\d{9,11}$">俄罗斯(+7)</option>
                        <option value="33" data-pattern="^(00){0,1}(33){1}[168](\\d{5}|\\d{7,8})$">法国(+33)</option>
                        <option value="63" data-pattern="^(00){0,1}(63){1}[24579](\\d{7,9}|\\d{12})$">菲律宾(+63)</option>
                        <option value="358" data-pattern="^(00){0,1}(358){1}\\d{6,12}$">芬兰(+358)</option>
                        <option value="57" data-pattern="^(00){0,1}(57){1}\\d{6,12}$">哥伦比亚(+57)</option>
                        <option value="31" data-pattern="^(00){0,1}(31){1}6\\d{8}$">荷兰(+31)</option>
                        <option value="996" data-pattern="^(00){0,1}(996){1}\\d{6,12}$">吉尔吉斯斯坦(+996)</option>
                        <option value="855" data-pattern="^(00){0,1}(855){1}\\d{6,12}$">柬埔寨(+855)</option>
                        <option value="974" data-pattern="^(00){0,1}(974){1}\\d{6,12}$">卡塔尔(+974)</option>
                        <option value="370" data-pattern="^(00){0,1}(370){1}\\d{6,12}$">立陶宛(+370)</option>
                        <option value="352" data-pattern="^(00){0,1}(352){1}\\d{6,12}$">卢森堡(+352)</option>
                        <option value="40" data-pattern="^(00){0,1}(40){1}\\d{6,12}$">罗马尼亚(+40)</option>
                        <option value="960" data-pattern="^(00){0,1}(960){1}\\d{6,12}$">马尔代夫(+960)</option>
                        <option value="976" data-pattern="^(00){0,1}(976){1}\\d{6,12}$">蒙古(+976)</option>
                        <option value="51" data-pattern="^(00){0,1}(51){1}\\d{6,12}$">秘鲁(+51)</option>
                        <option value="212" data-pattern="^(00){0,1}(212){1}\\d{6,12}$">摩洛哥(+212)</option>
                        <option value="52" data-pattern="^(00){0,1}(52){1}\\d{6,12}$">墨西哥(+52)</option>
                        <option value="27" data-pattern="^(00){0,1}(27){1}\\d{6,12}$">南非(+27)</option>
                        <option value="234" data-pattern="^(00){0,1}(234){1}\\d{6,12}$">尼日利亚(+234)</option>
                        <option value="47" data-pattern="^(00){0,1}(47){1}\\d{6,12}$">挪威(+47)</option>
                        <option value="351" data-pattern="^(00){0,1}(351){1}\\d{6,12}$">葡萄牙(+351)</option>
                        <option value="46" data-pattern="^(00){0,1}(46){1}[124-7](\\d{8}|\\d{10}|\\d{12})$">瑞典(+46)</option>
                        <option value="41" data-pattern="^(00){0,1}(41){1}\\d{6,12}$">瑞士(+41)</option>
                        <option value="381" data-pattern="^(00){0,1}(381){1}\\d{6,12}$">塞尔维亚(+381)</option>
                        <option value="248" data-pattern="^(00){0,1}(248){1}\\d{6,12}$">塞舌尔(+248)</option>
                        <option value="966" data-pattern="^(00){0,1}(966){1}\\d{6,12}$">沙特阿拉伯(+966)</option>
                        <option value="94" data-pattern="^(00){0,1}(94){1}\\d{6,12}$">斯里兰卡(+94)</option>
                        <option value="66" data-pattern="^(00){0,1}(66){1}[13456789]\\d{7,8}$">泰国(+66)</option>
                        <option value="90" data-pattern="^(00){0,1}(90){1}\\d{6,12}$">土耳其(+90)</option>
                        <option value="216" data-pattern="^(00){0,1}(216){1}\\d{6,12}$">突尼斯(+216)</option>
                        <option value="58" data-pattern="^(00){0,1}(58){1}\\d{6,12}$">委内瑞拉(+58)</option>
                        <option value="380" data-pattern="^(00){0,1}(380){1}[3-79]\\d{8,9}$">乌克兰(+380)</option>
                        <option value="34" data-pattern="^(00){0,1}(34){1}\\d{6,12}$">西班牙(+34)</option>
                        <option value="30" data-pattern="^(00){0,1}(30){1}\\d{6,12}$">希腊(+30)</option>
                        <option value="36" data-pattern="^(00){0,1}(36){1}\\d{6,12}$">匈牙利(+36)</option>
                        <option value="39" data-pattern="^(00){0,1}(39){1}[37]\\d{8,11}$">意大利(+39)</option>
                        <option value="972" data-pattern="^(00){0,1}(972){1}\\d{6,12}$">以色列(+972)</option>
                        <option value="91" data-pattern="^(00){0,1}(91){1}\\d{6,12}$">印度(+91)</option>
                        <option value="62" data-pattern="^(00){0,1}(62){1}[2-9]\\d{7,11}$">印度尼西亚(+62)</option>
                        <option value="44" data-pattern="^(00){0,1}(44){1}[347-9](\\d{8,9}|\\d{11,12})$">英国(+44)</option>
                        <option value="1284" data-pattern="^(00){0,1}(1284){1}\\d{6,12}$">英属维尔京群岛(+1284)</option>
                        <option value="962" data-pattern="^(00){0,1}(962){1}\\d{6,12}$">约旦(+962)</option>
                        <option value="84" data-pattern="^(00){0,1}(84){1}[1-9]\\d{6,9}$">越南(+84)</option>
                        <option value="56" data-pattern="^(00){0,1}(56){1}\\d{6,12}$">智利(+56)</option>
                     </select>
                     </span>
                     &nbsp;&nbsp;<span class="msg" id="country_state"><if condition="in_array('country_code',$require) eq true ">*</if></span>
                    </td>
                  </tr>
                  </if>
                    <if condition="in_array('mobile',$show) eq true">
                    <tr>
                        <td class="tbkey" >{:L('移动电话')}：</td>
                        <td class="tbval" ><span><input type="text" value="" name="mobile" id="mobile" /></span>&nbsp;&nbsp;<span class="msg" id="state_mobile"><if condition="in_array('mobile',$require) eq true || adminshow('phone_login')">*</if></span></td>
                    </tr>
                    </if>
                    <if condition="adminshow('smsSwitch') && CONFIG('verifiregmobliesmsSwitch') eq 1 && CONFIG('verifiregmobliesmsContent') neq ''">
                    <tr>
                        <td class="tbkey">{:L('短信验证码')}：</td>
                        <td class="tbval">
                            <span><input name="regMobileSmsVerfy" type="text" id="regMobileSmsVerfy" /></span>
                            <if condition="isset($smsif_arr['text'])">
                            <span><input style="margin-left:10px" type="button" id="sendMess" class="send-msg" value="{:L('获取短信')}" /></span>
                            </if>
                            <if condition="isset($smsif_arr['audio'])">
                            <span><input style="margin-left:10px" type="button" id="sendAudio" class="send-msg" value="{:L('获取语音')}" /></span>&nbsp;&nbsp;
                            </if>
                            <span class="msg" id="state_regMobileSmsVerfy"></span>
                        </td>
                    </tr>
                    </if>
					{//xml中的附加配置注册显示字段}
                    <notempty name="funReg">
                    <foreach name="funReg" item="fun" key="key">
                    <tr>
                        <td class="tbkey" >{$key}：</td>
                        <td class="tbval" ><input type="text" name="{$fun}" value="" />&nbsp;&nbsp;<span class="msg" id="state_{$fun}"><if condition="in_array($fun,$require) eq true ">*</if></span></td>
                    </tr>
                    </foreach>
                    </notempty>
                    <if condition="($haveuser eq true)">
                    <foreach name='nets' item='net'>
                    <if condition="($net.type eq 'text')">
                    <tr>
                        <td class="tbkey" >{$net.name}：</td>
                        <td class="tbval" ><span><input type="text" value="{$net.value}" name="{$net.inputname}" otherpost='{$net.otherpost}' onkeyup="getInfo(this)" id="{$net.inputname}" autocomplete="off"/></span>&nbsp;&nbsp;<span class="msg" id="state_{$net.inputname}"><if condition="($net.require eq true)">*</if></span></td>
                    </tr>
                    <tr>
                    </if>
                    <if condition="($net.type eq 'select')">
                    <tr>
                        <td class="tbkey" >{$net.name}：</td>
                        <td class="tbval" >
                            <select name='{$net.inputname}'  otherpost='{$net.otherpost}' id="{$net.inputname}" onchange="getInfo(this)">
                                <foreach name='net.Region' item='Region'>
                                <option value='{$Region.name}' <if condition="isset($_GET['position']) and $_GET['position']==$key">selected</if>>{$Region.byname}</option>
                                </foreach>
                            </select>
                            &nbsp;&nbsp;<span class="msg" id="state_{$net.inputname}"><if condition="($net.require eq true)">*</if></span>
                        </td>
                    </tr>
                    </if>
                    </foreach>
                    </if>
                    <!--所属商铺-->
                    <if condition="$shop !='' and in_array('shop',$show)">
                    <tr>
                        <td class="tbkey" >{$shop}：</td>
                        <td class="tbval" ><span><input type="text" value="" name="shop"  onkeyup="getInfo(this)" id="shop" autocomplete="off"/></span>&nbsp;&nbsp;<span class="msg" id="state_shop"><if condition="in_array('shop',$require) eq true">*</if></span></td>
                    </tr>
                    </if>
                    {//密保问题1}
	              <if condition="$reg_safe eq true && $MIBAO_NUM egt 1">
	               <tr>
					<td class="tbkey">{:L('密保问题1')}：</td>
					<td class="tbval">
                        <select name="secretsafe_name1" id="dna_ques_1"  class="select_text" style="width:150px;height:23px" >
                            <option value="0" selected="selected">{:L('请选择')}</option>
                            <foreach name="mb" item="mibao">
                                <option value="{$mibao}">{$mibao}</option>
                            </foreach>
                        </select>
                    &nbsp;&nbsp;<span class="msg" id="state_secretsafe_name1">*</span>
					</td>
				  </tr>

	               <tr>
					<td class="tbkey">{:L('密保答案1')}：</td>
					<td class="tbval">
					 <span><input type="text" value="" name="secretanswer1" /></span>
                     &nbsp;&nbsp;<span class="msg" id="state_secretanswer1">*</span>
					</td>
				  </tr>
               	  </if>

                  {//密保问题2}
                  <if condition="$reg_safe eq true && $MIBAO_NUM egt 2">
                   <tr>
                    <td class="tbkey">{:L('密保问题2')}：</td>
                    <td class="tbval">
                        <select name="secretsafe_name2" id="dna_ques_2"  class="select_text" style="width:150px;height:23px">
                            <option value="0" selected="selected" >{:L('请选择')}</option>
                            <foreach name="mb" item="mibao">
                                <option value="{$mibao}">{$mibao}</option>
                            </foreach>
                        </select>
                    &nbsp;&nbsp;<span class="msg" id="state_secretsafe_name2">*</span>
                    </td>
                  </tr>

                   <tr>
                    <td class="tbkey">{:L('密保答案2')}：</td>
                    <td class="tbval">
                     <span><input type="text" value="" name="secretanswer2" /></span>
                     &nbsp;&nbsp;<span class="msg" id="state_secretanswer2">*</span>
                    </td>
                  </tr>
                  </if>
                  {//密保问题3}
                  <if condition="$reg_safe eq true && $MIBAO_NUM egt 3">
                   <tr>
                    <td class="tbkey">{:L('密保问题3')}：</td>
                    <td class="tbval">
                        <select name="secretsafe_name3" id="dna_ques_3" class="select_text" style="width:150px;height:23px" >
                            <option value="0" selected="selected" >{:L('请选择')}</option>
                            <foreach name="mb" item="mibao">
                                <option value="{$mibao}">{$mibao}</option>
                            </foreach>
                        </select>
                    &nbsp;&nbsp;<span class="msg" id="state_secretsafe_name3">*</span>
                    </td>
                  </tr>

                   <tr>
                    <td class="tbkey">{:L('密保答案3')}：</td>
                    <td class="tbval">
                     <span><input type="text" value="" name="secretanswer3" /></span>
                     &nbsp;&nbsp;<span class="msg" id="state_secretanswer3">*</span>
                    </td>
                  </tr>
                  </if>

                    <if condition="in_array('area',$show) eq true">
                    <tr>
                        <td class="tbkey">{:L('国家')}：</td>
                        <td class="tbval">
                            <select name="country" id="country_id" data-role="none">
                                <option value="">请选择</option>
                            </select>
							&nbsp;<span id="state_country"><if condition="in_array('area',$require) eq true ">*</if></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbkey">{:L('省/州')}：</td>
                        <td class="tbval">
                            <select name="province"  id="province_id" data-role="none" <if condition="$logistic eq true">onChange="user_getTotalzf('{$sale:name}');"</if>>
                                <option value="">请选择</option>
                            </select>
							&nbsp;<span id="state_province" ><if condition="in_array('area',$require) eq true ">*</if></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbkey">{:L('城市')}：</td>
                        <td class="tbval"><select name="city"  id="city_id" data-role="none" >
                                <option value="">请选择</option>
                            </select>
							&nbsp;<span id="state_city" ><if condition="in_array('area',$require) eq true ">*</if></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbkey">{:L('区县')}：</td>
                        <td class="tbval">
							<select name="county"  id="county_id" data-role="none" >
                                <option value="">请选择</option>
                            </select>
							&nbsp;<span id="state_county" ><if condition="in_array('area',$require) eq true ">*</if></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbkey">{:L('街道')}：</td>
                        <td class="tbval">
                            <select name="town"  id="town_id" data-role="none" >
                                <option value="">请选择</option>
                            </select>
							&nbsp;<span id="state_town" ><if condition="in_array('area',$require) eq true ">*</if></span>
                        </td>
                    </tr>
                    </if>

                    <if condition="in_array('address',$show) eq true">
                    <tr>
                        <td class="tbkey" >{:L('详细地址')}：</td>
                        <td class="tbval" ><span><input type="text"  value="" name="address" /></span>&nbsp;&nbsp;<span class="msg" id="state_address" ><if condition="in_array('address',$require) eq true ">*</if></span></td>
                    </tr>
                    </if>
                    <if condition="in_array('reciver',$show) eq true and adminshow('baodan_wuliu') eq true">
                    <tr>
                        <td class="tbkey" >{:L('收货人')}：</td>
                        <td class="tbval" ><span><input type="text" value="" name="reciver" /></span>&nbsp;&nbsp;<span class="msg" id="state_reciver" ><if condition="in_array('reciver',$require) eq true ">*</if></span></td>
                    </tr>
                    </if>
                    <if condition="in_array('bank_apply_name',$show) eq true">
                    <tr>
                        <td class="tbkey" >{:L('开户行')}：</td>
                        <td class="tbval" >
                            <select name="bank_apply_name" id="bank" style="min-width: 100px;width: auto;">
                                <option value="">{:L('请选择')}</option>
                                <foreach name="banklist" item="bank">
                                <option value="{$bank['开户行']}">{$bank['开户行']}</option>
                                </foreach>
                            </select>
                            &nbsp;&nbsp;<span class="msg" id="state_bank_apply_name" ><if condition="in_array('bank_apply_name',$require) eq true ">*</if></span>
                        </td>
                    </tr>
                    </if>

                    <if condition="in_array('bank_card',$show) eq true">
                    <tr>
                        <td class="tbkey" >{:L('银行卡号')}：</td>
                        <td class="tbval" ><span ><input  type="text" value="" name="bank_card"/></span>&nbsp;&nbsp;<span class="msg" id="state_bank_card" ><if condition="in_array('bank_card',$require) eq true ">*</if></span></td>
                    </tr>
                    </if>
                    <if condition="in_array('bank_name',$show) eq true">
                    <tr>
                        <td class="tbkey" >{:L('开户名')}：</td>
                        <td class="tbval" ><span><input type="text" value="" name="bank_name" /></span>&nbsp;&nbsp;<span class="msg" id="state_bank_name" ><if condition="in_array('bank_name',$require) eq true ">*</if></span></td>
                    </tr>
                    </if>
                    <if condition="in_array('bank_apply_addr',$show) eq true">
                    <tr>
                        <td class="tbkey" >{:L('开户地址')}：</td>
                        <td class="tbval" ><span><input type="text" value="" name="bank_apply_addr" /></span>&nbsp;&nbsp;<span class="msg" id="state_bank_apply_addr" ><if condition="in_array('bank_apply_addr',$require) eq true ">*</if></span></td>
                    </tr>
                    </if>
                    <if condition="in_array('pass1',$show) eq true">
                    <tr>
                        <td class="tbkey" >{:L('一级密码')}：</td>
                        <td class="tbval"><span><input class="pass_node" type="password" autocomplete="off" value="" name="pass1" /></span>&nbsp;&nbsp;<span class="msg" id="state_pass1"><if condition="in_array('pass1',$require) eq true ">*</if></span>
                        <span style="display:none" id="pass1lv">
                            <span id="pass1_lower" style="border-bottom: 2px solid red;display:inline-block;width:35px;text-align:center">{:L('弱')}</span>
                            <span id="pass1_middle" style="border-bottom: 2px solid #dadada;display:inline-block;width:35px;text-align:center">{:L('中')}</span>
                            <span id="pass1_high" style="border-bottom: 2px solid #dadada;display:inline-block;width:35px;text-align:center">{:L('强')}</span>
                        </span>
                        </td>

                    </tr>
                    </if>
                    <if condition="in_array('pass1c',$show) eq true">
                    <tr>
                        <td class="tbkey" >{:L('一级密码确认')}：</td>
                        <td class="tbval" ><span><input type="password" autocomplete="off" value="" name="pass1c" /></span>&nbsp;&nbsp;<span class="msg" id="state_pass1c"><if condition="in_array('pass1c',$require) eq true ">*</if></span></td>
                    </tr>
                    </if>
                    <if condition="in_array('pass2',$show) eq true">
                    <tr>
                        <td class="tbkey" >{:L('二级密码')}：</td>
                        <td class="tbval" ><span><input class="pass_node" type="password" autocomplete="off" value="" name="pass2" /></span>&nbsp;&nbsp;<span class="msg" id="state_pass2"><if condition="in_array('pass2',$require) eq true ">*</if></span>
                        <span style="display:none" id="pass2lv">
                            <span id="pass2_lower" style="border-bottom: 2px solid red;display:inline-block;width:35px;text-align:center">{:L('弱')}</span>
                            <span id="pass2_middle" style="border-bottom: 2px solid #dadada;display:inline-block;width:35px;text-align:center">{:L('中')}</span>
                            <span id="pass2_high" style="border-bottom: 2px solid #dadada;display:inline-block;width:35px;text-align:center">{:L('强')}</span>
                        </span>
                        </td>
                    </tr>
                    </if>
                    <if condition="in_array('pass2c',$show) eq true">
                    <tr>
                        <td class="tbkey" >{:L('二级密码确认')}：</td>
                        <td class="tbval" ><span><input type="password" autocomplete="off" value="" name="pass2c" /></span>&nbsp;&nbsp;<span class="msg" id="state_pass2c"><if condition="in_array('pass2c',$require) eq true ">*</if></span></td>
                    </tr>
                    </if>
					<eq name="pwd3Switch" value="true">
					<if condition="in_array('pass3',$show) eq true">
                    <tr>
                        <td class="tbkey" >{:L('三级密码')}：</td>
                        <td class="tbval" ><span><input class="pass_node" type="password" autocomplete="off" value="" name="pass3" /></span>&nbsp;&nbsp;<span class="msg" id="state_pass3"><if condition="in_array('pass3',$require) eq true ">*</if></span>
                        <span style="display:none" id="pass3lv">
                            <span id="pass3_lower" style="border-bottom: 2px solid red;display:inline-block;width:35px;text-align:center">{:L('弱')}</span>
                            <span id="pass3_middle" style="border-bottom: 2px solid #dadada;display:inline-block;width:35px;text-align:center">{:L('中')}</span>
                            <span id="pass3_high" style="border-bottom: 2px solid #dadada;display:inline-block;width:35px;text-align:center">{:L('强')}</span>
                        </span>
                        </td>
                    </tr>
                    </if>
                    <if condition="in_array('pass3c',$show) eq true">
                    <tr>
                        <td class="tbkey" >{:L('三级密码确认')}：</td>
                        <td class="tbval" ><span><input type="password" autocomplete="off" value="" name="pass3c" /></span>&nbsp;&nbsp;<span class="msg" id="state_pass3c"><if condition="in_array('pass3c',$require) eq true ">*</if></span></td>
                    </tr>
                    </if>
					</eq>
                    <tr>
                        <td class="tbkey" >{:L('报单')}<?php echo L(CONFIG('xgjhb')); ?>{:L('的数量')}：</td>
                        <!--
                        <td class="tbval" ><span ><input  type="text" value="" name="jihuobi"/></span>&nbsp;&nbsp;<span class="msg" id="jihubi_aa" ></span></td>
                        -->
                        <td class="tbval" ><span id='jhbsl'>{$bd_num}</span></td>
                    </tr>
                    <!--
                    <tr>
                        <td class="tbkey" >{:L('另一种币的数量')}：</td>
                        <td class="tbval" ><span ><input  type="radio" value="1" name="ling_bi"/>运通币<input  type="radio" value="2" name="ling_bi"/>积分账户</span>&nbsp;&nbsp;<span class="msg" id="jihubi_aa" ></span></td>
                    </tr>
                    -->
                </table>
                <div style="margin-top: 10px;margin-left: 10px;float: left;margin: 5px;font-size: 14px;color: red;"><span id="state_lockcon"></span></div>
                <!--基本信息结束-->
                <present name="productArr"><include file="product"/></present>
                <present name="bankRatio">
                <TABlE class="tablebg" style="clear:both;margin:50px auto 0;">
                	<php>$ratio=0;$p=false;</php>
                	<foreach name='bankRatio' key="fkey" item="bankval">
                	<php>
                		$val=0+$bankval['maxval'];
                		if($bankval['extra']==false){
	                		if(100>=$ratio && $val+$ratio>100){
	                			$val=100-$ratio;
	                		}
	                		$ratio+=$val;
                		}
                		if(strstr($bankval['maxval'],"%")){
                			$p=true;
                		}
                	</php>
                	<tr>
	                	<td class="tbkey">
                        <if condition="$bankval.name eq '激活币'" >
                            <?php echo L(CONFIG('xgjhb')); ?>
                        </if>
                        <if condition="$bankval.name eq '积分'" >
                            <?php echo L(CONFIG('xgmc')); ?>
                        </if>
                        （{:$userinfo[$bankval['name']]}）：</td>
	                	<td class="tbval">
	                		<if condition="$bankval['extra']">{$val}
                            <else/>
                                <if condition="$bankval.name eq '激活币'" >
	                            <input class="bankrate1" name="accval[{$fkey}]" value="100" type="text" size="7" onkeyup="javaScript:lastnum=(100-$(this).val());$('.bankrate2').val(lastnum.toFixed(2));"/>
	                            </if>
	                            <if condition="$bankval.name eq '积分'" >
	                            <input  class="bankrate2" name="accval[{$fkey}]" value="0" type="text" size="7" onkeyup="javaScript:lastnum=(100-$(this).val());$('.bankrate1').val(lastnum.toFixed(2));"/>
	                            </if>
                            </if>
                            <if condition="$p">%</if>&nbsp;<span id="money{$fkey}">&nbsp;&nbsp;</span>
                            <span class="msg">&nbsp;<if condition="$p">{:L('支付时货币比率')}<else/>{:L('支付时货币金额')}</if>&nbsp;<if condition="$bankval['extra']">{:L('支付额外金额')}</if>
                            </span>
                        </td>
	                </tr>
	                </foreach>
	                <tr><td colspan="3" class="msg">{:L('提示：请确认您设定的比例相加等于支付订单的100%，并且您所选用的账户余额足够支付当前的订单')}<br><span id="state_accval"></span></td></tr>
                </TABLE>
                </present>
                <table class="tablebg" id="table3" style="clear:both">
                    <TR>
                        <td colspan="3" >
                            <input class="button_text" type="button" value="{:L('提交')}" onclick="regAjaxall()" id="regsubbutton">
                        </TD>
                    </TR>
                </table>
            </form>
        </div>
        <present name='regAgreement'>
        <div id="regAgreement" style="display:block;">
            <table class="tablebg" id="table4">
                <tr>
                    <td class="tbkey" style="text-align:center;" >{:L('注册协议内容')}</td>
                </tr>
                <tr>
                    <td class="tbval">{$regAgreement}</td>
                </tr>
                <tr>
                    <td class="tbkey"  style="text-align:center;" ><INPUT class="button_text" type="button" value="{:L('同意并注册')}" onclick="$('#regAgreement').hide();$('#salereg').show()"/></td>
                </tr>
            </table>
        </div>
        </present>
    </div>

    <div class="core_page"></div>
</div>
<if condition="($alert eq true)">
<!--是否显示确认框-->
<link rel="stylesheet" href="__PUBLIC__/zxxbox/common.css" type="text/css" />
<style type="text/css">
#sms_show{
    display:none
}
#sms_queding2{
    display:none
}
</style>
<script type="text/javascript" src="__PUBLIC__/zxxbox/jquery.zxxbox.3.0.js"></script>
<script type="text/javascript">
function alertcheck(){
    var alertstr ='<table class="tablebg" style="margin-top:0;">';
        alertstr+='<tr><td class="tbkey" style="padding-right:5px;">{:L("会员级别")}</td>'
        alertstr+='<td class="tbval">'+$("#lv option:selected").text()+'</td></tr>';
    <foreach name='nets' item='net'>
    <if condition="($net.type eq 'text')">
        alertstr+='<tr><td class="tbkey" style="padding-right:5px;">{:L($net["name"])}</td>';
        alertstr+='<td class="tbval">'+$("#{$net.inputname}").val()+'</td></tr>';
    </if>
    </foreach>
    alertstr+='<tr><td colspan="2" class="tbval" style="text-align:center;">{:L("一旦注册，将不能修改，确定请点击确认")}</td></tr>';
    alertstr+='</table>';
    $.zxxbox.ask(alertstr, function(){
        $('#form').submit();
        $('#regsubbutton').attr('disabled','true');
        $.zxxbox.hide();
    }, null, {
        title: "{:L('友情提示')}",
        fix: true
    });
}
</script>
</if>
<script>
/*$('#country_code').change(function () {
    if (test('#country_code', $('#mobile'))) {
        $('#state_mobile').html('√');
    } else {
        $('#state_mobile').html('×');
    }
});
$('#mobile').blur(function () {
    if (test('#country_code', $(this))) {
        $('#state_mobile').html('√');
    } else {
        $('#state_mobile').html('×');
    }
}).keyup(function () {
    if (test('#country_code', $(this))) {
        $('#state_mobile').html('√');
    } else {
        $('#state_mobile').html('×');
    }
});*/
function test(phoneNum, _this) {
    optionVal = $(phoneNum).val();
    pattern = RegExp($(phoneNum + ' option[value='+optionVal+']').attr("data-pattern") || ".+");
    return pattern.test(_this.val());
}

$.area_default_show = true; //显示默认区域
$.area_select_bind( 'country_id' , 'province_id' , 'city_id' , 'county_id','town_id');
var vd;
var lastname;
function getInfo(e)
{
    var thisname=e.name;
    if(lastname == thisname){

	clearTimeout(vd);
	vd = setTimeout("regAjax('"+e.id+"')",600);
	}else{
	regAjax(e.id);
	lastname=thisname;
	}
}
// 提交
function regAjaxall()
{
	$("[id^=state_]").text("");
	$('#state_productCountMoney').text("");
	var arr={$jsrequire};
	var postdata	= {};
	$("input").each(function(i,n){
		 var postname	= n.name;
		 var value  = n.value;
		 postdata[postname]	= value;
	});
	$("select").each(function(i,n){
	 var postname	= n.name;
	 var value  = n.value;
	 postdata[postname]	= value;
	});
		$.post('__MODULE__/Sale/regAjax:__XPATH__',postdata,function(data){
		if(!data)
		{
			<if condition="($alert eq true)">
				alertcheck();
			<else/>
				$('#form').submit();
				$('#regsubbutton').attr('disabled','true');
			</if>
		}
		else
		{
			eval(data);
			return false;
		}
	});
}
function regAjax(name)
{
	var id			= $('#'+name).val();
	var postname	= name;
	var otherpost	= $('#'+name).attr('otherpost');
	var postdata = {postname:name};
		$("input").each(function(i,n){
		 var postname	= n.name;
		 var value  = n.value;
		 postdata[postname]	= value;

		});
		$("select").each(function(i,n){
		 var postname	= n.name;
		 var value  = n.value;
		 postdata[postname]	= value;
		});
	   $.ajax({
	       url:"__APP__/DmsUser/Sale/regAjax:__XPATH__",
	       type:"POST",
	       data:postdata,
	       dataType:"script",
	       global:false,
	       success:function(data){
			   if(data == ''){
				  $("#state_"+name).html('<img style="display:inline" src="__PUBLIC__/Images/ExtJSicons/tick.png"/>');
			   }else{
				  data;
			   }
	       }
	    });
}

<if condition="adminshow('passlv')">

$('.pass_node').keyup(function () {
    var name = $(this).attr('name');
    if(!name){
        return;
    }
    var pwd = $(this).val();
    if(!pwd){
        document.getElementById("state_"+name).style.display  = '';
        document.getElementById(name+"lv").style.display  = 'none';
        return;
    }
    document.getElementById("state_"+name).style.display  = 'none';
    document.getElementById(name+"lv").style.display  = '';

    var Mcolor = "#FFF",Lcolor = "#FFF",Hcolor = "#FFF";
    var m=0;

    var Modes = 0;
    for (i=0; i<pwd.length; i++)
    {
        var charType = 0;
        var t = pwd.charCodeAt(i);
        if (t>=48 && t <=57) // 0-9
        {
            charType = 1;
        }
        else if (t>=65 && t <=90) // A-Z
        {
            charType = 2;
        }
        else if (t>=97 && t <=122) // a-z
            charType = 4;
        else // 其他
            charType = 4;
        Modes |= charType; // 按位或赋值
    }

    for (i=0;i<4;i++)
    {
        if (Modes & 1) m++; // 按位与
        Modes>>>=1; // 无符号右移
    }

    if (pwd.length<=4)
    {
        m = 1;
    }
    // alert(m);
    switch(m)
    {
    case 1 :
        Lcolor = "2px solid red";
        Mcolor = Hcolor = "2px solid #DADADA";
        break;
    case 2 :
        Mcolor = "2px solid #f90";
        Lcolor = Hcolor = "2px solid #DADADA";
        break;
    case 3 :
        Hcolor = "2px solid #3c0";
        Lcolor = Mcolor = "2px solid #DADADA";
        break;
    case 4 :
        Hcolor = "2px solid #3c0";
        Lcolor = Mcolor = "2px solid #DADADA";
        break;
    default :
        Hcolor = Mcolor = Lcolor = "";
        break;
    }

    document.getElementById(name+"_lower").style.borderBottom  = Lcolor;
    document.getElementById(name+"_middle").style.borderBottom = Mcolor;
    document.getElementById(name+"_high").style.borderBottom   = Hcolor;

});
</if>
</script>

<!-- 短信验证码 -->
<if condition="adminshow('smsSwitch') && CONFIG('verifiregmobliesmsSwitch') eq 1 && CONFIG('verifiregmobliesmsContent') neq ''">
<script src="__PUBLIC__/js/sendsms.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>
<script>
var	characters	= {title:"{:L('提示')}",determ:"{:L('确定')}",clickget:"{:L('点击获取')}",resend:"{:L('重新发送')}"};
var type		= '注册手机号验证真实性';
var mobile      = $("#mobile").val();
var isaudio     = 0;
var smsObj;

$(".send-msg").click(function(){
	if($("#mobile").length > 0){
		mobile = $("#mobile").val();
		var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
		if(mobile == '' || !myreg.test(mobile)){
			$("#state_mobile").html('请先正确填写手机号码');
			document.form1.mobile.focus()
			return false;
		}else{
			$("#state_mobile").html('*');
		}
	}
	if($(this).attr("id") == "sendMess"){
		smsObj = $("#sendMess");
	}else{
		smsObj = $("#sendAudio");
	}
	if("{$picVerify}" === "false"){
		time(smsObj);
	}else{
    layer.open({
        type: 1,
        title:'{:L("填写验证码")}',
        skin: 'layui-layer-rim', //加上边框
        area: ['300px', '200px'], //宽高
        btn: ['{:L("确定")}'],
        yes: function(index, layero){
          //点击按钮之后，直接触发AJAX..
          var postval = $("#verifyss").val();
          if(postval == ''){
          	postval = '***';
          }
          $.ajax({
            url:"__CONTROLLER__/verify_s/id/"+postval,
            type:"GET",
            dataType:"JSON",
            data:postval,
            success:function(data){
                if( data.status == 0 )
                {
                    $('#msg').html(data.tip);
                    var timenow = new Date().getTime();
                    $('#qqsmsverifyImg').attr('src', '__CONTROLLER__/verifyImg/adv/1/' + timenow);
                }
                else
                {
                    layer.close(index);     //关闭弹出层
                    time(smsObj);
                }
            }
            });
        },
        content: '<div style="margin:10px 75px 0 75px;"><input id="verifyss" maxlength="4" type="text" name="verifyss" value="">'+'<img id="qqsmsverifyImg" src="__CONTROLLER__/verifyImg" onClick="smsfreshVerify(this)" border="0" alt="点击刷新验证码" ><span id="msg" style="color:red"></span></div>',
    });
    }
});
function smsfreshVerify() {
    //重载验证
    var timenow = new Date().getTime();
    if (type) {
        $('#qqsmsverifyImg').attr('src', '__CONTROLLER__/verifyImg/adv/1/' + timenow);
    } else {
        $('#qqsmsverifyImg').attr('src', '__CONTROLLER__/verifyImg/' + timenow);
    }
}
</script>
</if>
<!-- 短信验证码 -->
<script>
//密保显示的js
    var mibao_option = $("#dna_ques_1").html();

    $(".select_text").change(function(){
        var name = this.name;
            // 初始化除自身外的其他select
            $(".select_text").each(function(){
                if(this.name == name){
                    return true;
                }
                var selected = this.value;
                $(this).empty(); // 清空
                $(this).prepend(mibao_option); // 初始化
                $("#"+this.id+" option[value="+selected+"]").attr('selected','selected');
            });
        $(".select_text").each(function(){
            var value = this.value;
            var name = this.name;
            if(value == '0'){ // 过滤初始值
                return true;
            }
            // 当前节点已选定的从其他节点删除掉
            $(".select_text").each(function(){
                if(this.name == name){ // 过滤自身
                    return true;
                }
                $("#"+this.id+" option[value="+value+"]").remove(); //删除
            });
        });

    });
</script>
<script type="text/javascript">
$(".ssaa").change(function () {
    var ss = $(this).val();
    /*if (ss == "10") {
        $("#jhbsl").html('300');
    } else if (ss == "20") {
        $("#jhbsl").html('3000');
    }else if (ss == "30") {
        $("#jhbsl").html('6000');
    }*/
    /*$.ajax({
        url:"__APP__/DmsUser/Sale/regAjax_sum:__XPATH__+id/ss",
        type:"POST",
        data:postdata,
        dataType:"script",
        global:false,
        success:function(data){
           if(data == ''){
              $("#state_"+name).html('<img style="display:inline" src="__PUBLIC__/Images/ExtJSicons/tick.png"/>');
           }else{
              data;
           }
        }
    });*/
});

</script>
<script type="text/javascript">
$(function() {
    $(".ssaa").change(function (){
        var postval = $(this).val();
        $.ajax({
           url:"__APP__/DmsUser/Sale/idAjax_num/id/"+postval,
           type:"GET",
           dataType:"JSON",
           data:postval,
           success:function(data){
                if( data.status == 1)
                {
                    var userinfo = data.info;
                    $('#jhbsl').html(userinfo);
                }
           }
        });
    });

});
</script>
<!-- <script>
$(".button_text").click(function{
  $(".container-bag").show();
})
$(".js-esc").click(function{
  $(".container-bag").hide();
})
</script> -->
