<if condition="($sale:extra eq true) or (count($area) gt 0)">
<script type="text/javascript" src="__PUBLIC__/directSell/area_select.js"></script>
</if>
<load href="__PUBLIC__/layer/layer.js" />
<div class="core_main Sale" id="up">
	<div class="core_title">
    	<span class="core_title_con"><span>{:L('当前位置')}</span>：{$nowtitle}</span>
    </div>
    <div class="core_con">
        <form name="form1" method="post" action="__MODULE__/Sale/upSave:__XPATH__" id="register">
            <table class="tablebg" id="table1">
                <tr>
                    <td class="tbkey" >{:L('编号')}：</td>
                    <td class="tbval" >	
                        <if condition="($sale:lockMe eq false)">
                        <input type="text" value="" size="20" name="userid" id="userid" onkeyup="getInfo(this)" onchange="getInfo(this)" autocomplete="off"/>
                        <else/>
                        {$userinfo.编号}
                        </if>
                        &nbsp;&nbsp;<span class="msg" id="state_userid"></span>
                    </td>
                </tr>
                <notempty name="shop">
                <tr>
                    <td class="tbkey" >{:L($shop)}：</td>
                    <td  class="tbval" ><span><input type="text" value="" name="shop"/></span>&nbsp;&nbsp;<span class="msg" id="state_shop"><if condition="$shopblank eq false">*</if></span></td>
                </tr>
                </notempty>
                <tr>
                    <td class="tbkey" >{:L('新'.$sale->lvName)}：</td>
                    <td  class="tbval" >
                        <select name='lv' id="lv">
                            <option value="">{:L('请选择')}</option>
                            <if condition="($sale:lockMe eq true)">
                            <foreach name='levelsopts'  item='level'>
                            <option value="{$level.lv}">{$level.name}</option>
                            </foreach>            
                            </if>            
                        </select>
                        &nbsp;&nbsp;<span class="msg" id="state_shop"> *</span>
                    </td>
                </tr>
                <if condition="count($area) gt 0">
			    <tr>
					<td class="tbkey">{:L('代理区域')}：</td>
					<td class="tbval">
						<select name="country1" id="country1_id">
						<option value="">国家</option>
						</select>
						<select name="province1" id="province1_id" >
						<option value="">省份</option>
						</select>
						<if condition="(isset($area['city']) and $area['city'] neq '')
							 or (isset($area['county']) and $area['county'] neq '')
							 or (isset($area['town']) and $area['town'] neq '')">
							<select name="city1"  id="city1_id" >
							<option value="">城市</option>
							</select>
						</if>
						<if condition="(isset($area['county']) and $area['county'] neq '')
							 or (isset($area['town']) and $area['town'] neq '')">
							<select name="county1"  id="county1_id" >
							<option value="">区县</option>
							</select>
						</if>
						<if condition="$area['town'] neq ''">
							<select name="town1"  id="town1_id" >
							<option value="">乡镇街道</option>
							</select>
						</if>
					    <span class="msg"> *</span>
					</td>
				</tr>
				</if>
               
            </table> 
            <if condition="$sale:extra eq true">
            <table class="tablebg" id="table2">
                <tr>
                    <td colspan="2"><span>{:L('物流信息')}</span></td>
                </tr>
                <tr>
                    <td class="tbkey">{:L('国家')}：</td>
                    <td class="tbval">
                        <select name="country" id="country_id">
                            <option value="">请选择</option>
                        </select>
                        <select name="province"  id="province_id" <if condition="$logistic eq true">onChange="user_getTotalzf('{$sale:name}');"</if>>
                            <option value="">请选择省</option>
                        </select>
                        <select name="city"  id="city_id">
                            <option value="">请选择城市</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td class="tbkey">{:L('区县')}：</td>
                    <td class="tbval">
                        <select name="county" id="county_id">
                            <option value="">请选择</option>
                        </select>
                        <select name="town" id="town_id">
                            <option value="">请选择街道</option>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td class="tbkey" >{:L('收货人')}：</TD>
                    <td class="tbval" ><input name="reciver" id="reciver" type="text" value="{$userinfo.收货人}"/> &nbsp;&nbsp;<span class="msg">*</span></TD>
                    
                </tr>
                <tr>
                    <td class="tbkey" >{:L('联系电话')}：</TD>
                    <td class="tbval" ><input name="mobile" id="mobile" type="text" value="{$userinfo.移动电话}"> &nbsp;&nbsp;<span class="msg">*</span></TD>
                    
                </tr>
                <tr>
                    <td class="tbkey" >{:L('收货地址')}：</TD>
                    <td class="tbval" ><input name="address" id="address" type="text" value="{$userinfo.地址}" size="50"/>&nbsp;&nbsp;<span class="msg">*</span>&nbsp;&nbsp;{:L('路况信息及门牌号等')}</span></font></TD>
                    
                </tr>
            </table>
        </if>
        <div style="margin-top: 10px;margin-left: 10px;float: left;margin: 5px;font-size: 14px;color: red;"><span id="state_lockcon"></span></div>
            <present name="productArr">
            <include file="product" />
            </present>  
            <present name="bankRatio">
            <TABlE class="tablebg" style="clear:both;width:90%;margin:10px auto; margin-top:50px;">
            	<php>$ratio=0;$p=false;</php>
            	<foreach name='bankRatio' key="fkey" item="bankval">
            	<php>
            		$val=0+$bankval['maxval'];
            		if($bankval['extra']==false){
                		if(100>=$ratio && $val+$ratio>100){
                			$val=100-$ratio;
                		}
                		$ratio+=$val;
            		}
            		if(strstr($bankval['maxval'],"%")){
            			$p=true;
            		}
            	</php>
            	<tr>
                	<td class="tbkey" style="width:40%">{$bankval.name}（{:$userinfo[$bankval['name']]}）：</td>
                	<td class="tbval" style="width:20%">&nbsp;&nbsp;
                		<if condition="$bankval['extra']">{$val}<else/><input  name="accval[{$fkey}]" value="{$val}" type="text" size="7"/></if><if condition="$p">%</if>&nbsp;<span id="money{$fkey}">&nbsp;&nbsp;</span></td>
                	<td class="msg">&nbsp;<if condition="$p">{:L('支付时货币比率')}<else/>{:L('支付时货币金额')}</if>&nbsp;<if condition="$bankval['extra']">{:L('支付额外金额')}</if>
                	</td>
                </tr>
                </foreach>
                <tr><td colspan="3" class="msg">{:L('提示：设定的比率排除额外支付，相加等于支付订单金额的100%，并且每个货币的余额足够支付的比率')}<br><span id="state_accval"></span></td></tr>
            </TABLE>
            </present>
            <table class="tablebg" id="table3" style="clear:both">
                <TR>
                    <TD colspan="3">
            			<input class="button_text" type="button" value="{:L('确认')}" name="subbut"  id='subbut' onclick="alertcheck()" />
                    </TD>
                </TR>
            </table>
        </form>
    </div>
    <div class="core_page"></div>
</div>
<script type="text/javascript">
var vd;
function getInfo(e)
{
	clearTimeout(vd);
	vd = setTimeout("upAjax('"+e.id+"')",600);
}

function upAjax(id)
{
	var userid	   = $.trim($('#'+id).val());
	$.get('__MODULE__/Sale/upAjax:__XPATH__/userid/'+userid,function(data){
		try
		{
			eval("var json="+data);
			if( json.status == 0 )
			{
				$('#state_userid').html("{:L('请输入正确的'.$userName.'编号')}");
			}else{
				$('#state_userid').html("");
			}
			$('#lv').empty().append("<option value=''>{:L('请选择')}</option>");
			var level_list = json.levelsopts;
			if( level_list!==undefined ) {
				for(i=0;i<level_list.length;i++)
				{
					$('#lv').append("<option value='"+level_list[i].lv+"'>"+level_list[i].name+"</option>");
				}
			}
		}
		catch(e)
		{
		    layer.alert(data, {title: '提示', btn: '确定'});
		    layer.alert("网络异常!", {title: '提示', btn: '确定'});
		}
	});
}

function tijiao(){
	var ua = navigator.userAgent.toLowerCase();
	if ((/firefox\/([\d.]+)/).test(ua)) { //判断火狐浏览器
		$('#subbut').attr('disabled',true);
		$('#subbut').val("{:L('正在提交,请等待...')}");
		$('#register').submit();
		$('#subbut').val("{:L('确认')}");
		$('#subbut').attr('disabled',false);
	} else {
		$('#subbut').attr('disabled',true);
		$('#subbut').val("{:L('正在提交,请等待...')}");
		$('#register').submit();
	}
}
<if condition="($sale:extra eq true)">
var country		= "{$userinfo['国家']}";
var province	= "{$userinfo['省份']}";
var city		= "{$userinfo['城市']}";
var county		= "{$userinfo['地区']}";
var town		= "{$userinfo['街道']}";
$.area_select_bind( 'country_id' , 'province_id' , 'city_id' , 'county_id','town_id' );
if(country!='')
{
	$("#country_id option[value='{$userinfo['国家']}']").attr('selected',true);
	$("#country_id").change();
}
if(province!='') {
	$("#province_id option[value='{$userinfo['省份']}']").attr('selected',true);
	//触发省份的 change事件
	$("#province_id").change();
}
if( city!='' ) {
	//触发城市的 change事件
	$("#city_id option[value='{$userinfo['城市']}']").attr('selected',true);
	$("#city_id").change();
}
if(county!='') {
	$("#county_id option[value='{$userinfo['地区']}']").attr('selected',true);
	$("#county_id").change();
}
if( town!='' ) {
	$("#town_id option[value='{$userinfo['街道']}']").attr('selected',true);
}

</if>
<if condition="(count($area) gt 0)">
var country		= "{$userinfo['代理国家']}";
var province	= "{$userinfo['代理省份']}";
var city		= "{$userinfo['代理城市']}";
var county		= "{$userinfo['代理地区']}";
var town		= "{$userinfo['代理街道']}";

$.area_select_bind( 'country1_id' , 'province1_id' , 'city1_id' , 'county1_id','town1_id' );
if(country!='')
{
	$("#country1_id option[value='{$userinfo['代理国家']}']").attr('selected',true);
	$("#country1_id").change();
}
if(province!='')
{
	$("#province1_id option[value='{$userinfo['代理省份']}']").attr('selected',true);
	//触发省份的 change事件
	$("#province1_id").change();
}
if( city!='' )
{
	//触发城市的 change事件
	$("#city1_id option[value='{$userinfo['代理城市']}']").attr('selected',true);
	$("#city1_id").change();
}
if(county!='')
{
	$("#county1_id option[value='{$userinfo['代理地区']}']").attr('selected',true);
	$("#county1_id").change();
}
if( town!='' ) {
	$("#town1_id option[value='{$userinfo['代理街道']}']").attr('selected',true);
}
</if>
</script>

</script>

<!--是否显示确认框-->
<link rel="stylesheet" href="__PUBLIC__/zxxbox/common.css" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/zxxbox/jquery.zxxbox.3.0.js"></script>
<script type="text/javascript">
function alertcheck(){	
	var alertstr ='<table class="tablebg" style="margin-top:0;">';
		alertstr+='<tr><td class="tbval">{:L("新级别")}</td><td colspan="2" class="tbval">'+$("#lv").find("option:selected").text();+'</td></tr>';    
		<if condition="count($area) gt 0">
		alertstr+='<tr><td class="tbval">{:L("选择区域")}</td><td colspan="2" class="tbval">'+$("#country1_id").val()+$("#province1_id").val()+$("#city1_id").val()+$("#county1_id").val()+$("#town1_id").val()+'</td></tr>';      
		</if>
		<if condition="($sale:productName neq '')">  
		alertstr+='<tr><td class="tbkey">{:L("产品名称")}</td><td class="tbkey">{:L("价格")}</td><td class="tbkey">{:L("数量")}</td></tr>';
		$("input[name^='productNum']").each(function(i){
		    if($(this).val()!='')
		    {
		        var product =$(this).attr('productNumInfo').split("_");
				alertstr+='<tr><td class="tbkey">'+product[2]+'</td><td class="tbkey">'+product[3]+'</td><td class="tbkey">'+$(this).val()+'</td></tr>';
		    } 
		});
		</if>
		if( {$wuliu} == 1 ){
		<if condition="($sale:extra eq true)">
		alertstr+='<tr><td class="tbval">{:L("收货地址")}</td><td colspan="2" class="tbval">'+$("#country_id").val()+$("#province_id").val()+$("#city_id").val()+$("#county_id").val()+$("#town_id").val()+$("#address").val()+'</td></tr>';      
		alertstr+='<tr><td class="tbval">{:L("收货人")}</td><td colspan="2" class="tbval">'+$("#reciver").val()+'</td></tr>';      
		alertstr+='<tr><td class="tbval">{:L("联系电话")}</td><td colspan="2" class="tbval">'+$("#mobile").val()+'</td></tr>';      
		</if>
		}
		alertstr+='<tr><td colspan="3" class="tbval" style="text-align:center;">{:L("请确认升级信息，再点击确认")}</td></tr>';      
		alertstr+='</table>';
	$.zxxbox.ask(alertstr, function(){
		$('#subbut').attr('disabled','true');
		$('#subbut').val('{:L("正在提交,请等待...")}');
	    $('#register').submit();
	    $.zxxbox.hide();
	    $('#subbut').removeAttr('disabled');
	}, null, {
	    title: "{:L('友情提示')}",
	    fix: true
	});
}
</script>
