<php>
	define('regXpath',$regXpath);
</php>
<link href="__PUBLIC__/css/netstyle.css" rel="stylesheet" type="text/css" />
<div class="core_main Net" id="position_ramus_tree">
    <div class="core_title">
        <span class="core_title_con"><span>{:L('当前位置')}</span>：{$nowtitle}</span>
        <span class="core_title_edit"></span>
    </div>
    <div class="core_con" name="placetreeContent{$firstUserInfo['id']}" style="overflow:auto;">
        <div id="selectplacediv{$firstUserInfo['id']}" style="width:200px;margin:0 auto;">
            <select name="changeStyle" id="changeStyle">
                <option value="ramus" <eq name="style" value="ramus">selected="true"</eq>>{:L('分支节点')}</option>
                <option value="dir" <eq name="style" value="dir">selected="true"</eq>>{:L('树形目录')}</option>
            </select>
        </div>
        <if condition="$firstUserInfo">
            <table align="center" cellpadding="0" cellspacing="0" width="100%" style="margin: 0 auto">
                <tr>
                    <td>
                    <table width="100%" border="0">
                        <tbody>
                            <tr>
                                <td height="30" align="center"> {// 表单查询 }
                                <form action="__CONTROLLER__/disp:__XPATH__" method="post" name="form1" id="form1">
                                <input name="nettype" type="hidden" value="{$style}"/>
                                    <span class="white">{:L($userNode->name.'编号')}：</span>
                                    <input type="text" name="uid" value="" size="12"/>
                                    <input class="button_text" class="button_onmousedown" type="submit" value="{:L('搜索')}">
                                    <if condition="$firstUserInfo['编号'] neq $thisUser['编号']">
                                        <input class="button_text" class="button_onmousedown" type="button" name="btnSearch" value="{:L('上一层')}" id="btnSearch"  onclick="location.href='__MODULE__/Net/disp:__XPATH__/uid/{:$firstUserInfo[$netNode->name.'_上级编号']}';">
                                        <input class="button_text" class="button_onmousedown" type="button" name="btnSearch" value="{:L('置顶')}" id="btnSearch"  onclick="location.href='__MODULE__/Net/disp:__XPATH__';">
                                    </if>
                                </form>
                                <br>
                                </td>
                            </tr>
                        </tbody>
                    </table></td>
                </tr>
                {// 第一层 }
                <tr>
                    <td valign="top">
                    <table cellpadding="0" cellspacing="1" class="topLayer">
                        <tbody>
                            <tr>
                                <td class="topLayerTd1">
                                <table cellspacing="1" cellpadding="0" id="overUser_{$firstUserInfo.编号}" class="topLayerTb1">
                                    <tbody>
                                        <tr>
                                            {//编号}
                                            <td class="topLayerTb1Td1 <eq name='firstUserInfo.状态' value='有效'>topLayerTb1De<else/>topLayerTb1St</eq>">
                                                <strong>{$firstUserInfo.编号}</strong>
                                            </td>
                                        </tr>
                                        {//姓名}
                                        <eq name="netNode:userNameDisp" value="true">
                                        <tr>
                                             <td class="topLayerTb1Td1 <eq name='firstUserInfo.状态' value='有效'>topLayerTb1De<else/>topLayerTb1St</eq>"><notempty name="firstUserInfo['姓名']">{$firstUserInfo.姓名}<else/>[{:L('暂无')}]</notempty></td>
                                        </tr>
                                        </eq>
                                        {//昵称}
                                        <eq name="netNode:userAnotherNameDisp" value="true">
                                        <tr>
                                            <td class="topLayerTb1Td1 <eq name='firstUserInfo.状态' value='有效'>topLayerTb1De<else/>topLayerTb1St</eq>"><notempty name="firstUserInfo['昵称']">{$firstUserInfo.昵称}<else/>[{:L('暂无')}]</notempty></td>
                                        </tr>
                                        </eq>
                                        <tr>
                                            <td class="topLayerTb1Td1 <eq name='firstUserInfo.状态' value='有效'>topLayerTb1De<else/>topLayerTb1St</eq>">
                                            <empty name="firstUserInfo.审核时间">
                                                {:date('Y-m-d',$firstUserInfo['注册时间'])}
                                                <else/>
                                                {:date('Y-m-d',$firstUserInfo['审核时间'])}
                                            </empty></td>
                                        </tr>
                                        <foreach name="levelsArr" item="level" key='levelname'>
                                        <if condition="$levelname neq '拿奖资格'">
                                            <tr>
                                                <td class="topLayerTb1Td2">
                                                <eq name="levelname" value="职称">
                                                    {$firstUserInfo['img']}
                                                    <else/>
                                                    {:($level[$firstUserInfo[$levelname]])}
                                                </eq></td>
                                            </tr>
                                        </if>
                                        </foreach>
                                        <tr>
                                            <td class="topLayerTb1Td3">
                                            <table class="topLayerTb2">
                                                <tbody>
                                                    <tr>
                                                        <!--  <td>总:{:$firstUserInfo[$netName.'_团队总人数']}/{:$firstUserInfo[$netName.'_团队人数']}</td>-->
                                                        <td align="center" colspan="2">{:L('层')}:{:($firstUserInfo[$netName.'_层数']-$thisUser[$netName.'_层数']+1)}</td>
                                                    </tr>
                                                </tbody>
                                            </table></td>
                                        </tr>
                                        <notempty name="netNode:userBgxs">
                                        <empty name="netNode:userFloatYj">
                                        <tr><td colspan='2'>
                                            <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #b9d8f3;">
                                            <tr style="text-align: center; color:#5A4B24; BACKGROUND-COLOR: #F4FAFF;">
                                            <td style="border-width:1px;border-style:solid;border-color:#B9D8F3;"></td><td style="border-width:1px 1px 1px 0;border-style:solid;border-color:#B9D8F3;"><nobr>新增</nobr></td><if condition="X('prize_bump')"><td style="border-width:1px 1px 1px 0;border-style:solid;border-color:#B9D8F3;"><nobr>结转</nobr></td></if><td style="border-width:1px 1px 1px 0;border-style:solid;border-color:#B9D8F3;"><nobr>累计</nobr></td>
                                            </tr>
                                            <foreach name="netNode:getRegion()" item="region">
                                            <tr style="text-align: center; color:#5A4B24; BACKGROUND-COLOR: #F4FAFF;">
                                                <td style="border-width:0 1px 1px 1px;border-style:solid;border-color:#B9D8F3;">
                                                <nobr>
                                                {$region.byname}
                                                </nobr>
                                                </td>
                                                <td style="border-width:0 1px 1px 0;border-style:solid;border-color:#B9D8F3;">
                                                {:number_format($firstUserInfo[$netNode->name.'_'.$region['name'].'区本日业绩'],$netNode->decimal)}
                                                </td>
                                                <if condition="X('prize_bump')">
                                                    <td style="border-width:0 1px 1px 0;border-style:solid;border-color:#B9D8F3;">
                                                    {:number_format($firstUserInfo[$netNode->name.'_'.$region['name'].'区结转业绩'],$netNode->decimal)}
                                                    </td>
                                                </if>
                                                <td style="border-width:0 1px 1px 0;border-style:solid;border-color:#B9D8F3;">
                                                {:number_format($firstUserInfo[$netNode->name.'_'.$region['name'].'区累计业绩'],$netNode->decimal)}
                                                </td>
                                            </tr>
                                            </foreach>
                                            </table>
                                        </td></tr>
                                        </empty>
                                        </notempty>
                                        </tbody>
                                   </table></td>
                            </tr>
                        </tbody>
                    </table> {:getfloatDiv($firstUserInfo,$netName,$levelsArr,$netPlaceName,$netNode,$thisUser,$layarr)} </td>
                </tr>
            {//第一层结束}
            <tr>
                <td> {// 向下递归遍历网络图的所有子节点 }
                {:print_tree(0,$netTree,$netPlaceName,$firstUserInfo,$netName,$levelsArr,$showLayer,$netNode,$thisUser,$bdreg,$layarr)} </td>
            </tr>
            </table>
            <else/>
            <table class='list' style="width:500px">
                <thead>
                    <tr>
                        <th>&nbsp;{:L('提示信息')}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height:150px">
                        <td><b>{:L('该网络暂无人员')}</b></td>
                    </tr>
                </tbody>
            </table>
        </if>
        </body>
        </html>

        <php>
            /*
            * 递归遍历网络图函数
            */
            function print_tree($layer,$netTree,$netPlaceName,$parent,$netName,$levelsArr,$showLayer,$netNode,$thisUser,$bdreg,$layarr)
            {
            if($layer >= $showLayer-1) return;
        </php>
        {//下面上下线}
        <table border="0" align="center" cellspacing="0" cellpadding="0" style="margin:0px auto 0 auto;" class="net_table1">
            <tbody>
                <tr>
                    <td align="center" style="line-height: 10px; height: 10px;"><img style="width:1px;height:20px" alt="" src="/Public/Images/admin/line.gif" border="0"></td>
                </tr>
            </tbody>
        </table>
        <table border="0" align="center" cellspacing="0" cellpadding="0" style="margin:0px auto 0 auto;" class="net_table2">

            <tbody>
                <tr>
                    <td valign="top">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <php>
                                    $j=count($netPlaceName[$netName]);
                                    $i = -1;
                                    foreach($netPlaceName[$netName] as $position){
                                        $userInfo = array();
                                        $i++;
                                        if(isset($netTree[$layer])){
                                            foreach($netTree[$layer] as $val){
                                                if($val[$netName.'_上级编号'] === $parent['编号'] && $val[$netName.'_位置'] == $position){
                                                    $userInfo = $val;
                                                    break;
                                                }
                                            }
                                        }
                                </php>
                                <notempty name="userInfo">
                                    <td valign="top"> {//上面上下线}
                                    <table border="0" cellspacing="0" cellpadding="0" style="margin:0px auto 0 auto;width:100%">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="top" style="height:10px;line-height:10px">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="topppppppppppppppppp">
                                                    <tbody>
                                                        <tr>
                                                            {// 左右轨迹条显示,这里判断是显示在 左边 还是 右边 }
                                                            <php>
                                                                if($i>0 && $i<($j-1) && $j >2){
                                                            </php>
                                                            <td width="50%" height="1" bgcolor="#003399"></td>
                                                            <td width="50%" height="1" bgcolor="#003399"></td>
                                                            <php>
                                                                }else if($j == 1){
                                                            </php>
                                                            <td width="50%" height="0"></td>
                                                            <td width="50%" height="0"></td>
                                                            <php>
                                                                }else{
                                                            </php>
                                                            <td width="50%" height="1" <eq name="i" value="$j-1">bgcolor="#003399"</eq> ></td>
                                                            <td width="50%" height="1" <eq name="i" value="0">bgcolor="#003399"</eq> ></td>
                                                            <php>
                                                                }
                                                            </php>
                                                        </tr>
                                                    </tbody>
                                                </table> {// 上下轨迹条显示} <img style="width:1px;height:20px;line-height:20px" alt="" src="/Public/Images/admin/line.gif" border="0"></td>
                                            </tr>
                                        </tbody>
                                    </table> {//会员信息主体}
                                    <table cellpadding="0" cellspacing="1" class="topLayer">
                                        <tbody>
                                            <tr>
                                                <td  class="topLayerTd1"> {//输出会员的相关信息 }
                                                <table cellspacing="1" cellpadding="0" id="overUser_{$userInfo['编号']}" class="topLayerTb1">
                                                    <tbody>
                                                        {//编号}
                                                        <tr>
                                                            <td class="topLayerTb1Td1 <eq name='userInfo.状态' value='有效'>topLayerTb1De<else/>topLayerTb1St</eq>">
                                                                <a class="currentNavTab" href="__CONTROLLER__/disp:__XPATH__/uid/{$userInfo['编号']}/style/ramus"><strong>{$userInfo['编号']}</strong></a>
                                                            </td>
                                                        </tr>
                                                        <eq name="netNode:userNameDisp" value="true">
                                                            <tr>
                                                                <td class="topLayerTb1Td1 <eq name='userInfo.状态' value='有效'>topLayerTb1De<else/>topLayerTb1St</eq>"><notempty name="userInfo['姓名']">{$userInfo.姓名}<else/>[{:L('暂无')}]</notempty></td>
                                                            </tr>
                                                        </eq>
                                                        <eq name="netNode:userAnotherNameDisp" value="true">
                                                            <tr>
                                                                <td class="topLayerTb1Td1 <eq name='userInfo.状态' value='有效'>topLayerTb1De<else/>topLayerTb1St</eq>"><notempty name="userInfo['昵称']">{$userInfo.昵称}<else/>[{:L('暂无')}]</notempty></td>
                                                            </tr>
                                                        </eq>
                                                        {//审核时间 或 注册时间}
                                                        <tr>
                                                            <td class="topLayerTb1Td1 <eq name='userInfo.状态' value='有效'>topLayerTb1De<else/>topLayerTb1St</eq>">
                                                            <empty name="userInfo.审核时间">
                                                                {:date('Y-m-d',$userInfo['注册时间'])}
                                                                <else/>
                                                                {:date('Y-m-d',$userInfo['审核时间'])}
                                                            </empty></td>
                                                        </tr>
                                                        <foreach name="levelsArr" item="level" key='levelname'>
                                                            <tr>
                                                                <td class="topLayerTb1Td2">
                                                                <eq name="levelname" value="职称">
                                                                    {$userInfo['img']}
                                                                    <else/>
                                                                    {:($level[$userInfo[$levelname]])}
                                                                </eq></td>
                                                            </tr>
                                                        </foreach>
                                                        <tr>
                                                            <td class="topLayerTb1Td3">
                                                            <table class="topLayerTb2">
                                                                <tbody>
                                                                    <tr>
                                                                        <!-- <td>总:{:$userInfo[$netName.'_团队总人数']}/{:$userInfo[$netName.'_团队人数']}</td>    -->
                                                                        <td  align="center" colspan="2">{:L('层')}:{:($userInfo[$netName.'_层数']-$thisUser[$netName.'_层数']+1)}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table></td>
                                                        </tr>
                                                        <notempty name="netNode:userBgxs">
                                                        <empty name="netNode:userFloatYj">
                                                        <tr><td colspan='2'>
                                                            <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #b9d8f3;">
                                                            <tr style="text-align: center; color:#5A4B24; BACKGROUND-COLOR: #F4FAFF;">
                                                            <td style="border-width:1px;border-style:solid;border-color:#B9D8F3;"></td><td style="border-width:1px 1px 1px 0;border-style:solid;border-color:#B9D8F3;"><nobr>新增</nobr></td><if condition="X('prize_bump')"><td style="border-width:1px 1px 1px 0;border-style:solid;border-color:#B9D8F3;"><nobr>结转</nobr></td></if><td style="border-width:1px 1px 1px 0;border-style:solid;border-color:#B9D8F3;"><nobr>累计</nobr></td>
                                                            </tr>
                                                            <foreach name="netNode:getRegion()" item="region">
                                                            <tr style="text-align: center; color:#5A4B24; BACKGROUND-COLOR: #F4FAFF;">
                                                                <td style="border-width:0 1px 1px 1px;border-style:solid;border-color:#B9D8F3;">
                                                                <nobr>
                                                                {$region.byname}
                                                                </nobr>
                                                                </td>
                                                                <td style="border-width:0 1px 1px 0;border-style:solid;border-color:#B9D8F3;">
                                                                {:number_format($userInfo[$netNode->name.'_'.$region['name'].'区本日业绩'],$netNode->decimal)}
                                                                </td>
                                                                <if condition="X('prize_bump')">
                                                                    <td style="border-width:0 1px 1px 0;border-style:solid;border-color:#B9D8F3;">
                                                                    {:number_format($userInfo[$netNode->name.'_'.$region['name'].'区结转业绩'],$netNode->decimal)}
                                                                    </td>
                                                                </if>
                                                                <td style="border-width:0 1px 1px 0;border-style:solid;border-color:#B9D8F3;">
                                                                {:number_format($userInfo[$netNode->name.'_'.$region['name'].'区累计业绩'],$netNode->decimal)}
                                                                </td>
                                                            </tr>
                                                            </foreach>
                                                            </table>
                                                        </td></tr>
                                                        </empty>
                                                        </notempty>
                                                    </tbody>
                                                </table> {:getfloatDiv($userInfo,$netName,$levelsArr,$netPlaceName,$netNode,$thisUser,$layarr)} </td>
                                            </tr>
                                        </tbody>
                                    </table> {// 向下递归遍历网络图的所有子节点 }
                                    {:print_tree($layer+1,$netTree,$netPlaceName,$userInfo,$netName,$levelsArr,$showLayer,$netNode,$thisUser,$bdreg,$layarr)} </td>
                                    <else/>
                                    {//显示注册框}
                                    <td valign="top">
                                    <table border="0" cellspacing="0" cellpadding="0" style="margin:0px auto 0 auto;width:100%">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="top" style="height:10px;line-height:10px">
                                                <table style="width:100%" border="0" cellspacing="0" cellpadding="0" id="topppppppppppppppppp">
                                                    <tbody>
                                                        <tr>
                                                            {// 左右轨迹条显示,这里判断是显示在 左边 还是 右边 }
                                                            <php>
                                                                if($i>0 && $i<($j-1) && $j >2){
                                                            </php>
                                                            <td width="50%" height="1" bgcolor="#003399"></td>
                                                            <td width="50%" height="1" bgcolor="#003399"></td>
                                                            <php>
                                                                }else if($j == 1){
                                                            </php>
                                                            <td width="50%" height="0"></td>
                                                            <td width="50%" height="0"></td>
                                                            <php>
                                                                }else{
                                                            </php>
                                                            <td width="50%" height="1" <eq name="i" value="$j-1">bgcolor="#003399"</eq> ></td>
                                                            <td width="50%" height="1" <eq name="i" value="0">bgcolor="#003399"</eq> ></td>
                                                            <php>
                                                                }
                                                            </php>
                                                        </tr>
                                                    </tbody>
                                                </table><img style="WIDTH: 1px; HEIGHT: 21px" alt="" src="/Public/Images/admin/line.gif" border="0"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="newreg topReg" cellpadding="0" cellspacing="1">
                                        <tbody>
                                            <tr>
                                                <td class="topRegTd1">
                                                <table cellspacing="1" cellpadding="0" class="topRegTb1">
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td><if condition="$bdreg eq true and regXpath"><a href="__MODULE__/Sale/reg:{:constant('regXpath')}/pid/{$parent.编号}/position/{$i}">{:L('注册')}</a><else /><a>{:L('无')}</a></if></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                            </tr>
                                    </table></td>
                            </tr>
                        </tbody>
                    </table></td>
                    </notempty>
                    <php>
                        }
                    </php>
                </tr>
            </tbody>
        </table>
        </td></tr>
        </tbody>
        </table>
        <php>
            $layer++;}
        </php>
        <php>
            //获得浮动层
            function getfloatDiv($userInfo,$netName,$levelsArr,$netPlaceName,$netNode,$thisUser,$layarr){
            //判断该系统是否有对碰奖金
            $bump = X('prize_bump');
            if($bump){
            $is_jiezhuan = true;
            }else{
            $is_jiezhuan = false;
            }
        </php>
        <div id="floatDiv_{$userInfo['编号']}" style="border:3px solid #d5dDdF;display:none;position:absolute;background:#FFFFFF;padding:10px">
            <table>
                <tr>
                    <td style="text-align:right;height:20px;line-height:20px">{:L('编号')}：</td>
                    <td style="text-align:left;height:20px;line-height:20px">{$userInfo['编号']}</td>
                </tr>
                <eq name="netNode:userNameDisp" value="true">
                    <tr>
                        <td style="text-align:right;height:20px;line-height:20px">{:L('姓名')}：</td>
                        <td style="text-align:left;height:20px;line-height:20px">
                        <empty name="userInfo.姓名">
                            [{:L('暂无')}]
                            <else/>
                            {$userInfo['姓名']}
                        </empty></td>
                    </tr>
                </eq>
                <empty name="$userInfo.审核时间">
                    <tr>
                        <td style="text-align:right;height:20px;line-height:20px">{:L('注册时间')}：</td>
                        <td style="text-align:left;height:20px;line-height:20px">{$userInfo.注册时间|date='Y-m-d H:i:s',###}</td>
                    </tr>
                    <else/>
                    <tr>
                        <td style="text-align:right;height:20px;line-height:20px">{:L('审核时间')}：</td>
                        <td style="text-align:left;height:20px;line-height:20px">{$userInfo.审核时间|date='Y-m-d H:i:s',###}</td>
                    </tr>
                </empty>
                {//级别}
                <foreach name="levelsArr" item="level" key='levelname'>
                <if condition="$levelname neq '拿奖资格'">
                    <tr>
                        <td style="text-align:right;height:20px;line-height:20px">{:L($levelname)}：</td>
                        <td style="text-align:left;height:20px;line-height:20px">{:($level[$userInfo[$levelname]])}</td>
                    </tr>
                </if>
                </foreach>
                	<tr>
                		<td colspan="2" style="text-align:left;height:20px;line-height:20px">{:L(当前层活跃人数)}：{:$layarr[$userInfo[$netName.'_层数']-$thisUser[$netName.'_层数']]}&nbsp;{:L('人')}</td>
                	</tr>
                <if condition="$netNode:userBgxs === true && $netNode:userFloatYj === true">
                    <tr>
                        <td colspan='2'>
                        <foreach name="netPlaceName" item="placeNames" key="ky">
                            <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #b9d8f3;">
                                <tr style="text-align: center; color:#5A4B24; BACKGROUND-COLOR: #F4FAFF;">
                                    <td style="border-width:1px;border-style:solid;border-color:#B9D8F3;">{:L($ky)}</td><td style="border-width:1px 1px 1px 0;border-style:solid;border-color:#B9D8F3;">{:L('新增')}</td>
                                    <if condition="$is_jiezhuan">
                                        <td style="border-width:1px 1px 1px 0;border-style:solid;border-color:#B9D8F3;">{:L('结转')}</td>
                                    </if><td style="border-width:1px 1px 1px 0;border-style:solid;border-color:#B9D8F3;">{:L('累计')}</td>
                                </tr>
                                <foreach name="placeNames" item="placeName">
                                    <tr style="text-align: center; color:#5A4B24; BACKGROUND-COLOR: #F4FAFF;">
                                        <td style="border-width:0 1px 1px 1px;border-style:solid;border-color:#B9D8F3;"> {:L($netNode->showregion($placeName))}</td>
                                        <td style="border-width:0 1px 1px 0;border-style:solid;border-color:#B9D8F3;"> {:number_format($userInfo[$ky.'_'.$placeName.'区本日业绩'],$netNode->decimal)} </td>
                                        <if condition="$is_jiezhuan">
                                            <td style="border-width:0 1px 1px 0;border-style:solid;border-color:#B9D8F3;"> {:number_format($userInfo[$ky.'_'.$placeName.'区结转业绩'],$netNode->decimal)} </td>
                                        </if>
                                        <td style="border-width:0 1px 1px 0;border-style:solid;border-color:#B9D8F3;"> {:number_format($userInfo[$ky.'_'.$placeName.'区累计业绩'],$netNode->decimal)} </td>
                                    </tr>
                                </foreach>
                            </table>
                        </foreach></td>
                    </tr>
                </if>
            </table>
        </div>
        <php>
            }
        </php>
        <br>
    </div>
    <div class="core_page"></div>
</div>
<script>
    $(function() {
        $("[id^='overUser_']").mousemove(function(e) {
            var idArr = $(this).attr('id').split('_');
            var width = $('#floatDiv_' + idArr[1]).width();
            var height = $('#floatDiv_' + idArr[1]).height();
            var xx = e.pageX;
            if (xx > ($(document.body).width() - width - 60)) {
                xx = xx - width - 30;
            } else {
                xx = xx + 15;
            }
            var yy = e.pageY;
            if (yy > ($(document.body).height() - height - 60)) {
                yy = yy - height - 30;
            } else {
                yy = yy + 15;
            }
            $('#floatDiv_' + idArr[1]).show();
            $('#floatDiv_' + idArr[1]).css('left', xx);
            $('#floatDiv_' + idArr[1]).css('top', yy);

            $(this).mouseout(function() {
                $('#floatDiv_' + idArr[1]).hide();
            })
        });
    });
    showscroll();
    function showscroll() {
        document.getElementsByName("placetreeContent{$firstUserInfo['id']}")[0].scrollLeft = (document.getElementsByName("placetreeContent{$firstUserInfo['id']}")[0].scrollWidth - document.getElementsByName("placetreeContent{$firstUserInfo['id']}")[0].offsetWidth) / 2;
        document.getElementById("selectplacediv{$firstUserInfo['id']}").style.margin = "0 " + Math.abs(((document.getElementsByName("placetreeContent{$firstUserInfo['id']}")[0].scrollWidth - document.getElementsByName("placetreeContent{$firstUserInfo['id']}")[0].offsetWidth) / 2)) + "px";
    }
</script>
<script>
    $(function() {
        $('.core_con>.net_table1').width($('.core_con>.net_table2').width());

        $("[id^='changeStyle']").change(function() {
            window.location = '__CONTROLLER__/disp:__XPATH__/nettype/' + $(this).val();
        });
    });
</script>
