<link href="__TMPL__Public/style/view.css" rel="stylesheet" type="text/css" />
<div class="core_main Net" id="ramus_tree">
	<div class="core_title">
    	<span class="core_title_con"><span>{:L('当前位置')}</span>：{$nowtitle}</span>
        <span class="core_title_edit"></span>
    </div>
<div class="core_con" style="overflow:auto;">
<if condition="$firstUserInfo">

	<table id="contentTable" align="center" cellpadding="0" cellspacing="0" width="100%" style="zoom:100%">
		<tr><td>
			<table width="auto" border="0" align="center" style="margin:0 auto;">
			<tbody><tr>
			<td height="30" align="center">
				{// 表单查询 }
				<form action="__CONTROLLER__/place2:__XPATH__/style/ramus" method="post" name="form1" id="form1">
                    <span class="white">{:L('会员编号')}：</span><input type="text" name="num" id="userid" value="" size="12"/>
                    <span class="white">{:L('会员序号')}：</span><input type="text" name="xh"  id="userid" value="" size="12"/>
                    <input type='hidden' name='tid' value='go'/>
                    <input class="button_text" type="submit" value="{:L('搜索')}">
                    <if condition="$firstUserInfo['编号'] neq $thisUser['编号']">
                    <input class="button_text" type="button" name="btnSearch" value="上一层" id="btnSearch"  onclick="location.href='__CONTROLLER__/place2:__XPATH__/uid/{$upnode_up['userid']}/xh/{$upnode_up['序号']}/style/ramus';">
                    <input class="button_text" type="button" name="btnSearch" value="置顶" id="btnSearch"    onclick="location.href='__CONTROLLER__/place2:__XPATH__/style/ramus';">
                    </if>
                 </form>
			</td>
			</tr></tbody>
		</table>
		</td></tr>
		{// 第一层 }
		<tr><td valign="top">
		<table width="100" border="1" bordercolor="#BBBBBB" cellpadding="0" cellspacing="1" bgcolor="#517DBF" align="center" style="margin:0px auto 0 auto;">
			<tbody>
			<tr><td align="center" bgcolor="#FFFFFF">
				<table width="100%" border="0" cellspacing="1" cellpadding="0" id="overUser_{$firstUserInfo.编号}">
				<tbody><tr>
					{//编号}
					<td style="height:20px;line-height:20px;text-align:center;border-bottom:1px solid #A5D1EC;background-color:#3070DE">
					<font color="ffffff"><strong>{$firstUserInfo.编号}({$firstUserInfo.序号})
					</strong></font></td>
					</tr>
					<tr><td height="25" align="center" valign="bottom" >
						<table width="100%" border="0" background="__PUBLIC__/Images/admin/tab_05.gif" >
						<tbody><tr>
						<td style="line-height:25px; text-align:center;">{:empty($firstUserInfo['姓名'])?L('暂无'):$firstUserInfo['姓名']}</td>
						</tr>
						</tbody>
						</table>
					</td></tr>
					<tr><td height="25" align="center" valign="bottom" >
						<table width="100%" border="0" background="__PUBLIC__/Images/admin/tab_05.gif" >
						<tbody><tr>
						<td style="line-height:25px; text-align:center;"><php>if($firstUserInfo['进网时间']){echo  date('Y-m-d',$firstUserInfo['进网时间']);}else{echo '['.L('暂无').']';}</php></td>
						</tr>
						</tbody>
						</table>
					</td></tr>
				</tr></tbody>
				</table>

			</td></tr>
			</tbody>
		</table>
		</td></tr>
		{//第一层结束}

		<tr><td>
		{// 向下递归遍历网络图的所有子节点 }
		{:print_tree(0,$netTree,$firstUserInfo,$netName,$showLayer,$netNode)}
		</td></tr>
	</table>
<else/>
<table class='list' style="width:500px">
  <thead>
  <tr><th>&nbsp;提示信息</th></tr>
  </thead>
  <tbody>
  <tr style="height:150px"><td><b>{:L('该网络暂无人员')}</b></td></tr>
  </tbody>
</table>
</if>
</div>
</div>
<php>
/*
* 递归遍历网络图函数
*/
function print_tree($layer,$netTree,$parent,$netName,$showLayer,$netNode)
{
if($layer >= $showLayer-1) return;
</php>
	{//下面上下线}
	<table border="0" align="center" cellspacing="0" cellpadding="0" style="margin:0px auto 0 auto;">
		<tbody><tr>
		<td align="center" style="line-height: 10px; height: 10px;"><img style="width:1px;height:20px" alt="" src="/Public/Images/admin/line.gif" border="0"></td>
		</tr></tbody>
	</table>
	<table border="0" align="center" cellspacing="0" cellpadding="0" style="margin:0px auto 0 auto;">


		<tbody><tr>
		<td valign="top">
			<table border="0" cellspacing="0" cellpadding="0">
			<tbody><tr>
			<php>
			$j=count($netNode->getBranch());
			$i = -1;
			foreach($netNode->getBranch() as $position){
				$userInfo = array();
				$i++;

				if(isset($netTree[$layer])){
					foreach($netTree[$layer] as $val){
						if($val['上级id'] == $parent['id'] and $val['位置'] == $position){
							$userInfo = $val;
							break;
						}
					}
				}
			</php>
		<notempty name="userInfo">
		<td valign="top">
			{//上面上下线}
			<table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:0px auto 0 auto;">
				<tbody><tr>
				<td align="center" valign="top" style="height:10px;line-height:10px">
					<table width="100%" border="0" cellspacing="0" cellpadding="0" id="topppppppppppppppppp">
					<tbody><tr>
						{// 左右轨迹条显示,这里判断是显示在 左边 还是 右边 }
						<php>if($i>0 && $i<($j-1) && $j >2){</php>
						<td width="50%" height="1" bgcolor="#003399"></td>
						<td width="50%" height="1" bgcolor="#003399"></td>
						<php>}else if($j == 1){</php>
						<td width="50%" height="0"></td>
						<td width="50%" height="0"></td>
						<php>}else{</php>
						<td width="50%" height="1" <eq name="i" value="$j-1">bgcolor="#003399"</eq> ></td>
						<td width="50%" height="1" <eq name="i" value="0">bgcolor="#003399"</eq> ></td>
						<php>}</php>
					</tr></tbody>
					</table>
					{// 上下轨迹条显示}
					<img style="width:1px;height:20px;line-height:20px" alt="" src="/Public/Images/admin/line.gif" border="0">
				</td>
				</tr></tbody>
			</table>

			{//会员信息主体}
			<table width="100" border="1" bordercolor="#BBBBBB" cellpadding="0" cellspacing="1" bgcolor="#517DBF" align="center" style="margin:0px auto 0 auto;">
				<tbody><tr>
				<td align="center" bgcolor="#FFFFFF">
					{//输出会员的相关信息 }
					<table width="100%" border="0" cellspacing="1" cellpadding="0" id="overUser_{$userInfo['编号']}">
						<tbody>
						{//编号}
						<tr>
						    <td style="height:20px;line-height:20px;text-align:center;border-bottom:1px solid #A5D1EC;background-color:#3070DE">
						        <a class="currentNavTab" style="width: 100px; background-color: " href="__CONTROLLER__/place2:__XPATH__/uid/{$userInfo['userid']}/xh/{$userInfo['序号']}/style/ramus"  rel="{:md5(__MODULE__.'/NetTree/index:'.__XPATH__)}" title="会员{$netName}网络">
						            <font color="ffffff">
						                <strong>
						                    {$userInfo['编号']}({$userInfo['序号']})
						                </strong>
						            </font>
						        </a>
						    </td>
						</tr>
						<tr><td height="25" align="center" valign="bottom" >
							<table width="100%" border="0" background="__PUBLIC__/Images/admin/tab_05.gif" >
							<tbody><tr>
							<td style="line-height:25px; text-align:center;">{:empty($userInfo['姓名'])?L('暂无'):$userInfo['姓名']}</td>
							</tr>
							</tbody>
							</table>
						</td></tr>
						<tr><td height="25" align="center" valign="bottom" >
							<table width="100%" border="0" background="__PUBLIC__/Images/admin/tab_05.gif" >
							<tbody><tr>
							<td style="line-height:25px; text-align:center;"><php>if($userInfo['进网时间']){echo  date('Y-m-d',$userInfo['进网时间']);}else{echo '['.L('暂无').']';}</php></td>
							</tr>
							</tbody>
							</table>
						</td></tr>
						</tbody>
					</table>

				</td>
				</tr></tbody>
			</table>

			{// 向下递归遍历网络图的所有子节点 }
			{:print_tree($layer+1,$netTree,$userInfo,$netName,$showLayer,$netNode)}

	</td>
	<else/>
	{//显示注册框}
	<td valign="top">
		<table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:0px auto 0 auto;">
			<tbody><tr>
			<td align="center" valign="top" style="height:10px;line-height:10px">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" id="topppppppppppppppppp">
				<tbody><tr>

				{// 左右轨迹条显示,这里判断是显示在 左边 还是 右边 }
				<php>if($i>0 && $i<($j-1) && $j >2){</php>
				<td width="50%" height="1" bgcolor="#003399"></td>
				<td width="50%" height="1" bgcolor="#003399"></td>
				<php>}else if($j == 1){</php>
					<td width="50%" height="0"></td>
					<td width="50%" height="0"></td>
				<php>}else{</php>
				<td width="50%" height="1" <eq name="i" value="$j-1">bgcolor="#003399"</eq> ></td>
				<td width="50%" height="1" <eq name="i" value="0">bgcolor="#003399"</eq> ></td>
				<php>}</php>
				</tr>
				</tbody>
				</table>
				<img style="WIDTH: 1px; HEIGHT: 21px" alt="" src="/Public/Images/admin/line.gif" border="0">
			</td>
			</tr></tbody>
		</table>
		<table width="100" border="1" bordercolor="#BBBBBB" cellpadding="0" cellspacing="1" bgcolor="#517DBF" align="center" style="margin:0px auto 0 auto;">
			<tbody><tr>
			<td align="center" bgcolor="#FFFFFF">
				<table width="100%" border="0" cellspacing="1" cellpadding="0">
				<tr>
				<td height="55" align="center" bgcolor="#E7F2FB">{:L('无')}</td>
				</tr>
				</tr>
				</table>
			</td>
			</tr></tbody>
		</table>
	</td>
	</notempty>
	<php>}</php>
	</tr></tbody>
	</table>
	</td></tr>
	</tbody>
</table>
<php>$layer++;}</php>
    </div>
</div>