<load href="__PUBLIC__/layer/layer.js" />
<div class="core_main Net" id="ramus_tree">
	<div class="core_title">
    	<span class="core_title_con"><span>当前位置</span>：{$nowtitle}</span>
	
        <span class="core_title_edit"></span>
    </div>
    <div class="core_con">
    	<if condition="$firstUserInfo">
        <table class="tablebg">
            <tr>
                <td>
                    <table >
                        <tr>
                            <td >
                                {// 表单查询 }
                                <form action="__CONTROLLER__/disp:__XPATH__" method="post" name="form1" id="form1">
                                {$userNode:name}编号：<input type="text" name="uid" value="" size="12"/>
                                <input class="button_text" type="submit" value="搜索"> 
                                <if condition="$firstUserInfo['编号'] neq $thisUser['编号']">
                                <input class="button_text" type="button" name="btnSearch" value="上一层" id="btnSearch"  onclick="location.href='__MODULE__/Net/disp:__XPATH__/uid/{:$firstUserInfo[$netName.'_上级编号']}';" />
                                <input class="button_text" type="button" name="btnSearch" value="置顶" id="btnSearch"    onclick="location.href='__MODULE__/Net/disp:__XPATH__';"/> 
                                </if>
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- 拓扑图开始 -->
            {// 第一层 }
            <tr>
                <td>
                    <table >		
                        <tr>
                            <td >
                                <table id="overUser_{$firstUserInfo.编号}">
                                    <tr>
                                    {//编号}
                                        <td style="background-color:<eq name='firstUserInfo.状态' value='有效'>#3070DE<else/>#AAAAAA</eq>">{$firstUserInfo.编号}</td>
                        {//审核时间 或 注册时间}
                                    <tr>
                                        <td style="background-color:<eq name='firstUserInfo.状态' value='有效'>#3070DE<else/>#AAAAAA</eq>"><empty name="firstUserInfo.审核时间">{:date('Y-m-d',$firstUserInfo['注册时间'])}<else/>{:date('Y-m-d',$firstUserInfo['审核时间'])}</empty></td>
                                    </tr>
                                    <foreach name="levelsArr" item="level" key='levelname'>
                                    <tr>
                                        <td >{:($level[$firstUserInfo[$levelname]])}</td>
                                    </tr>
                                    </foreach>
                                    <tr>
                                        <td  >
                                            <table  background="__PUBLIC__/Images/admin/tab_05.gif" >
                                                <tr>
                                                    <td>总:{:$firstUserInfo[$netName.'_团队总人数']}/{:$firstUserInfo[$netName.'_团队人数']}</td>
                                                    <td>层:{:($firstUserInfo[$netName.'_层数']-$thisUser[$netName.'_层数']+1)}</td>
                                                </tr>
                            
                                            </table>
                                        </td>
                                    </tr>			
                                </table>
                    			{:getfloatDiv($firstUserInfo,$netName,$levelsArr,$netPlaceName,$netNode)}
                            </td>
                        </tr>		
                    </table>
                </td>
            </tr>
            {//第一层结束}	
            <tr>
                <td>
                {// 向下递归遍历网络图的所有子节点 }
                {:print_tree(0,$netTree,$netPlaceName,$firstUserInfo,$netName,$levelsArr,$thisUser,$netNode)}		
                </td>
            </tr>
        </table>
        <else/>
        <table class='list'>
            <tr>
                <th>&nbsp;提示信息</th>
            </tr>
            <tr >
                <td>该网络暂无人员！</td>
            </tr>  
        </table>
        </if>
        
        <php>
        /*
        * 递归遍历网络图函数
        */
        function print_tree($layer,$netTree,$netPlaceName,$parent,$netName,$levelsArr,$thisUser,$netNode)
        {
        $j = M($netNode->parent()->name)->where(array($netName.'_上级编号'=>$parent['编号']))->count();
        if(empty($netTree[$layer]) || $j == 0) return;
        </php>
            {//下面上下线}
        <table>
            <tr>
                <td ><img style="width:1px;height:20px;border:0;" alt="" src="/Public/Images/admin/line2.gif"></td>
            </tr>
        </table>
        <table>
            <tr>
                <td >
                    <table >
                        <tr>
                                <php>
                                $i=0;
                                //$j= $parent[$netName.'_推荐人数'];
                                foreach($netTree[$layer] as $key=>$val){
                                    
                                    if($val[$netName.'_上级编号'] == $parent['编号']){
                                        $userInfo = $val;
                                        
                                    }else{
                                        continue;
                                    }
                                    $i++;
                                </php>
                                <notempty name="userInfo">
                            <td >
                            {//上面上下线}
                                <table >
                                    <tr>
                                        <td>
                                            <table id="topppppppppppppppppp">
                                                <tr>
                                                {// 左右轨迹条显示,这里判断是显示在 左边 还是 右边 }
                                                    <td  <gt name="i" value="1">bgcolor="#fec749"</gt> ></td>
                                                    <td  <neq name="i" value="$j">bgcolor="#fec749"</neq> ></td>
                                                </tr>
                                            </table>
                                            {// 上下轨迹条显示}
                                            <img style="width:1px;height:20px;line-height:20px;border:0;" alt="" src="/Public/Images/admin/line2.gif" />
                                        </td>
                                    </tr>
                                </table>
                                {//会员信息主体}
                                <table >
                                    <tr>
                                        <td  >
                                        {//输出会员的相关信息 }
                                            <table  id="overUser_{$userInfo['编号']}">						
                                            {//编号}
                                                <tr>
                                                    <td style="background-color:<eq name='userInfo.状态' value='有效'>#3070DE<else/>#AAAAAA</eq>"><a href="__MODULE__/Net/disp:__XPATH__/uid/{$userInfo['编号']}/style/ramus">{$userInfo['编号']}</a></td>
                                                </tr>
                                                {//审核时间 或 注册时间}
                                                <tr>
                                                    <td style="background-color:<eq name='userInfo.状态' value='有效'>#3070DE<else/>#AAAAAA</eq>"><empty name="userInfo.审核时间">{:date('Y-m-d',$userInfo['注册时间'])}<else/>{:date('Y-m-d',$userInfo['审核时间'])}</empty></td>
                                                </tr>
                                                <foreach name="levelsArr" item="level" key='levelname'>
                                                <tr>
                                                    <td >{:($level[$userInfo[$levelname]])}</td>
                                                </tr>
                                                </foreach>
                                                <tr>
                                                    <td >
                                                        <table background="__PUBLIC__/Images/admin/tab_05.gif" >
                                                            <tr>
                                                                <td>总:{:$userInfo[$netName.'_团队总人数']}/{:$userInfo[$netName.'_团队人数']}</td>
                                                                <td>层:{:($userInfo[$netName.'_层数']-$thisUser[$netName.'_层数']+1)}</td>
                                                            </tr>
                                    
                                                        </table>
                                                    </td>
                                                </tr>						
                                            </table>
                                            {:getfloatDiv($userInfo,$netName,$levelsArr,$netPlaceName,$netNode)}
                                        </td>
                                    </tr>
                                </table>
        
                                {// 向下递归遍历网络图的所有子节点 }
                                {:print_tree($layer+1,$netTree,$netPlaceName,$userInfo,$netName,$levelsArr,$thisUser,$netNode)}
                    
                            </td>
                            </notempty>
                            <php>}</php>
                        </tr>
                    </table>
                </td>
            </tr>	
        </table>
        <php>$layer++;}</php>
        <php>
        //获得浮动层
        function getfloatDiv($userInfo,$netName,$levelsArr,$netPlaceName,$netNode){
        </php>
            
        <div id="floatDiv_{$userInfo['编号']}" >
            <table>
            <tr>
                <td >编号：</td>
                <td >{$userInfo['编号']}</td>
            </tr>
            <tr>
                <td >{:L('姓名')}：</td>
                <td ><empty name="userInfo.姓名">[{:L('暂无')}]<else/>{$userInfo['姓名']}</empty></td>
            </tr>
            <empty name="$userInfo.审核时间">
            <tr>
                <td >注册时间：</td>
                <td >{$userInfo.注册时间|date='Y-m-d H:i:s',###}</td>
            </tr>
            <else/>
            <tr>
                <td >审核时间：</td>
                <td >{$userInfo.审核时间|date='Y-m-d H:i:s',###}</td>
            </tr>
            </empty>
            {//级别}
            <foreach name="levelsArr" item="level" key='levelname'>
            <tr>
                <td >{$levelname}：</td>
                <td >{:($level[$userInfo[$levelname]])}</td>
            </tr>
            </foreach>		
            <tr>
                <td colspan='2'>
                    <foreach name="netPlaceName" item="placeNames" key="ky">
                    <table >
                        <tr >
                            <td >{$ky}</td>
                            <td >新增</td>
                            <td >结转</td>
                            <td >累计</td>
                        </tr>
                        <foreach name="placeNames" item="placeName">
                        <tr>
                            <td >{$placeName}区</td>
                            <td >{:number_format($userInfo[$ky.'_'.$placeName.'区本日业绩'],$netNode->decimal}</td>
                            <td >{:number_format($userInfo[$ky.'_'.$placeName.'区结转业绩'],$netNode->decimal}</td>
                            <td >{:number_format($userInfo[$ky.'_'.$placeName.'区累计业绩'],$netNode->decimal}</td>
                        </tr>
                        </foreach>
                    </table>
                    </foreach>
                </td>
            </tr>
        </table>
        </div>
        <php>}</php>
    </div>
    
    <div class="core_page"></div>
</div>



<script>
$(function(){
	$("[id^='overUser_']").mousemove(function(e){
		var idArr = $(this).attr('id').split('_');
		var width = $('#floatDiv_'+idArr[1]).width();
		var height = $('#floatDiv_'+idArr[1]).height();
		var xx = e.pageX;
		if(xx > ($(document.body).width()-width-60)){
			xx = xx - width - 30;
		}else{
			xx = xx + 15;
		}
		var yy = e.pageY;
		if(yy > ($(document.body).height()-height-60)){
			yy = yy - height - 30;
		}else{
			yy = yy + 15;
		}
		$('#floatDiv_'+idArr[1]).show();
		$('#floatDiv_'+idArr[1]).css('left',xx);
		$('#floatDiv_'+idArr[1]).css('top',yy);
		
		$(this).mouseout(function(){
			$('#floatDiv_'+idArr[1]).hide();
		})
	});
});
</script>