<div class="pageContent">
	<form action="__CONTROLLER__/editSave:__XPATH__" method="post" class="pageForm required-validate" onsubmit="return iframeCallback(this,dialogAjaxDoneReload)">
		<input type="hidden" name="callbackType" value="closeCurrent"/>
		<input type="hidden" name="id" value="{$_GET['id']}"/>
	    <div class="pageFormContent" layoutH="58">
		<table cellpadding="3" cellspacing="3" >
            <tr>
                <td class="tRight" style="text-align:right;width:120px">分类：</td>
                <td style="text-align:left" ><select name="category"  class="required"  id="category" >
                    <foreach name="CategoryList" item="vo">
						<option value="{$vo.名称}" <eq name="vo.名称" value="$productInfo['分类']">selected</eq>>{$vo.名称}</option>
					</foreach>
                    </select>
                </td>
            </tr>
            <if condition="$pro_count gt 0">
             <tr>
               <td style="text-align:right;width:80px">产品所属功能：</td>
               <td style="text-align:left" >
               <foreach name="pro_gong" item="vos">
                    <input type="checkbox"  name="pro_gong[]" value="{$vos.id}" <if condition="in_array($vos['id'],$voss)">checked</if>/>{$vos.名称}
                </foreach>
                </td>
            </tr>
            </if>
            <tr>
                <td style="text-align:right;width:80px">产品编码：</td>
                <td style="text-align:left" ><input type="text" name="itemid" size="40" value="{$productInfo.产品编码}" /></td>
            </tr>            
            <tr>
                <td class="tRight" style="text-align:right;width:80px">名称：</td>
                <td style="text-align:left"><input type="text" class="required" name="name" size="40" value="{$productInfo.名称}" /></td>
            </tr>
            <eq name="image" value="true">
            <tr>
                <td class="tRight" style="text-align:right;width:80px">图片：</td>
                <td style="text-align:left"><div>
                    <input type="text" name="image" id="image_0"  size="40" value="{$productInfo.图片}" />
                  &nbsp; <span style="height:20px;line-height:20px"><a href="__CONTROLLER__/UploadPhoto/id/0"  target="dialog" mask="true">上传</a></span></div>
                    <div id="upload_panel">
                      <ul style="clear:both;float:left">
                      </ul>
                    </div></td>
            </tr>
            </eq>
     		<!--开启数量验证，没开启出入库-->
            <if condition="($numCheck eq true)">
			<tr>
                <td class="tRight" style="text-align:right;">可订购库存：</td>
                <td class="tLeft" style="text-align:left"  ><input type="text" class="required number" name="number2" value="{$productInfo.可订购数量}"  size="40"/>&nbsp;<font color='red'>大于等于0</font></td>
            </tr>
            </if>
            <eq name="cost" value="true">
			<tr>
                <td style="text-align:right;">成本价：</td>
                <td style="text-align:left"><input type="text" class="number" name="costprice" value="{$productInfo.成本价}"  size="40"/></td>
            </tr>
            </eq>
			<tr>
                <td style="text-align:right;">价格：</td>
                <td style="text-align:left"><input type="text" class="required number" name="price" value="{$productInfo.价格}"  size="40"/></td>
            </tr>
           
			<eq name="productPV" value="true">
			<tr>
                <td style="text-align:right;">PV值：</td>
                <td style="text-align:left"><input type="text" class="number" name="pv" value="{$productInfo.pv}"  size="40"/></td>
            </tr>
			</eq>
			<foreach name="fields" item="field">
			<tr>
                <td class="tRight" style="text-align:right;">{$field.name}：</td>
                <td class="tLeft" style="text-align:left"  ><input type="text" class="number" name="{$field.name}" value="{$productInfo[$field['name']]}"  size="40"/></td>
            </tr>
			</foreach>
			 <tr>
                <td style="text-align:right;">重量：</td>
                <td style="text-align:left"><input type="text" class="number" name="wight" value="{$productInfo.重量}"  size="40"/>&nbsp;KG</td>
            </tr>
            <tr>
                <td style="text-align:right;">规格：</td>
                <td style="text-align:left"><input type="text" class="text" name="guige" value="{$productInfo.规格}"  size="40"/>&nbsp;个/箱/件/套/(5瓶/件)等</td>
            </tr>
            <tr>
				  <td class="right">状态：</td>
				  <td class="left">
				    <select class="required combox"  name="status">
                        <option <eq name="productInfo.状态" value="使用" >selected</eq> value="使用">上架</option>
                        <option <eq name="productInfo.状态" value="不使用" >selected</eq> value="不使用">下架</option>
			      </select>
				  </td>
			  </tr>
            <tr>
                <td style="text-align:right;">描述：</td>
                <td style="text-align:left">
                <textarea id="description11235" name="description" style="width:700px;height:300px;">{$productInfo.描述}</textarea>
                </td>
            </tr>
        </table>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button id="submit" type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
  </form>
	
</div>
<script type="text/javascript">
//指定当前组模块URL地址 
var URL = '__CONTROLLER__';

var upload_id = 1;
$(function(){
KindEditor.create($("#description11235",navTab.getCurrentPanel()), {
	allowFileManager : true,
	afterBlur: function(){this.sync();}
});
})
//图片上传
function upload(upload_id)
{
	$.pdialog.open(URL+'/UploadPhoto/id/'+upload_id,'UploadPhoto', "产品图片添加",{width:'580',height:'300',mask:true,mixable:true,minable:true,resizable:true,drawable:true,fresh:true});
}
//删除这个图片上传
function delete_upload( upload_id )
{
	$('#upload_li_' + upload_id, navTab.getCurrentPanel()).remove();
}
</script>