<script language="JavaScript">
function dialogAjaxDone1(json)
{
	DWZ.ajaxDone(json);
	if (json.statusCode == DWZ.statusCode.ok)
	{
		navTab.reload('__CONTROLLER__/index:__XPATH__/userid/{$userid}');
		if($.pdialog._current) $.pdialog.closeCurrent(); 
	}
}
</script>
<div class="pageContent">
	<form method="post" action="__CONTROLLER__/savein:__XPATH__" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDone1);">
		<div class="pageFormContent nowrap" layoutH="57">
				<dl>
					<dt>会员编号:</dt>
					<dd style="width:auto"><input name="编号" type="text" class="required" value="{$userid}" /></dd>
				</dl>
				<dl>
					<dt>数量:</dt>
					<dd style="width:auto"><input name="num" type="text" class="required" value="0" /></dd>
				</dl>
				<dl>
					<dt>备注:</dt>
					<dd style="width:auto"><input type='input' name='memo' size='20'/></dd>
				</dl>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button id="submit" type="submit" name="submit">确定</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>