<div class="core_main Mail" id="answer">
	<div class="core_title">
    	<span class="core_title_con"><span>{:L('当前位置')}</span>：{$nowtitle}</span>
	
        <span class="core_title_edit"></span>
    </div>
    <div class="core_con">
        <table class="tablebg" >
        <tr>
            <td >&nbsp;&nbsp;{:L('回复邮件')}</td>
        </tr>
        <tr>  
            <td>
                <form action="__MODULE__/Mail/answerSave" method="post">
                    <input name="id" value="{$list.id}" type="hidden">
                    <table id="dyntable" style='width:100%;'>          		
                        <tr >
                            <td  style='width:20%;'>{:L('回复邮件')}：</td>
                            <td  style='width:80%;'>{$list.标题}</td>  
                        </tr>
                        <tr >
                            <td >{:L('回复内容')}：</td>
                            <td><textarea name="answerContent" id="answerContent" style='width:100%;height:150px;'></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2" ><input class="input_button" type="submit" value="{:L('发表回复')}"/></td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>     
        </table>
    </div>
    
    <div class="core_page"></div>
</div>
<!------
<script type="text/javascript">
$(function(){
KindEditor.create($("#answerContent"), {
	allowFileManager : true,
		afterBlur: function(){this.sync();}
	});
	})
	</script>---------!>
