<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Member Login</title>
	<link rel="stylesheet"  href="__PUBLIC__/jquery.mobile/jquery.mobile-1.3.1.min.css">
	<link rel="stylesheet"  href="__PUBLIC__/jquery.mobile/demos/_assets/css/jqm-demos.css">
	<!--<link rel="stylesheet" href="_assets/css/jqm-demos.css">-->
	<link rel="shortcut icon" href="favicon.ico">
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">-->
	<script src="__PUBLIC__/jquery-1.x.min.js"></script>
	<!--<script src="_assets/js/index.js"></script>-->
	<script src="__PUBLIC__/jquery.mobile/jquery.mobile-1.3.1.min.js"></script>
</head>
<body>
<div data-role="page" class="" style='margin-left:10px;margin-right:10px;'>
<div class="jqm-content ui-content" data-role="content" role="main">
<form>
<label for="password-1">{:L('登入帐号')}</label><input id="password-1" name="password-1" value="" type="password" autocomplete="off" autocomplete="off" data-clear-btn="false">
<label for="password-2">{:L('登入密码')}</label><input id="password-2" name="password-2" value="" type="password" autocomplete="off" autocomplete="off" data-clear-btn="true"></form>
        <input value="{:L('登入系统')}" type="submit" data-theme="b">
        <input value="{:L('找回密码')}" type="button" data-theme="e">
</form>
</div>
</div>
</body>

</html>
