<div class="core_main Saleweb" id="getSpreadCode">
	<div class="core_title">
    	<span class="core_title_con"><span>{:L('当前位置')}</span>：{$nowtitle}</span>
        <span class="core_title_edit"></span>
    </div>
    <div class="core_con">
    	<a href='{$link}' target='_self' id='link'>{$link}</a><br />
    	<!--
        <button class="button_text" type="button" onclick="window.clipboardData.setData('Text',$('#link').html());alert('复制成功！');" style='margin-top:20px;'>复制</button>-->
    </div>
    <div class="core_page"></div>
</div>
