<div class="core_main User" id="showNotice">
	<div class="core_title">
    	<span class="core_title_con">{:L('当前位置')}：{:L('查看公告')}</span>
    </div>
    <div class="core_con">
        <table class="tablebg">
        <tr >
            <th >{$list.标题}&nbsp;</th>
        </tr>
        <tr >
            <td  style="text-align:left; word-break:break-all;">{$list.内容}&nbsp;</td>
        </tr>
        <tr >
            <td class="backbtn"><button class="button_text button-150" type="button" onclick="history.back();">{:L('返回')}</button></td>
        </tr>
        </table>
	</div>
    <div class="core_page"></div>
</div>


