<div class="core_main User" id="view">
	<div class="core_title"><span class="core_title_con"><span>{:L('当前位置')}</span>：{$nowtitle}</span></div>
	<div class="core_con">
    <table class="tablebg">
		<tr>
	  		<td class="tbkey" >{:L('用户编号')}：</td>
	  		<td class="tbval" >{$userinfo.编号}&nbsp;</td>
		</tr>
        <if condition="in_array('name',$show) eq true">
        <tr>
        	<td class="tbkey" >{:L('姓名')}：</td>
        	<td class="tbval" >{$userinfo.姓名}&nbsp;</td>
        </tr>
        </if>
        <if condition="in_array('alias',$show) eq true">
        <tr>
          	<td class="tbkey" >{:L('昵称')}：</td>
          	<td class="tbval" >{$userinfo.昵称}&nbsp;</td>
        </tr>
        </if>
        <if condition="in_array('sex',$show) eq true">
        <tr>
          	<td class="tbkey" >{:L('性别')}：</td>
          	<td class="tbval" >{:L($userinfo['性别'])}&nbsp;</td>
        </tr>
        </if>
        <if condition="in_array('reciver',$show) eq true and adminshow('baodan_wuliu') eq true">
        <tr>
          	<td class="tbkey" >{:L('收货人')}：</td>
          	<td class="tbval" >{$userinfo.收货人}&nbsp;</td>
        </tr>
        </if>
        <foreach name="userlevel" item="lv" key="k">
        <if condition="$k eq L('级差级别') and  $lv.byname neq L('暂无')">
        <tr >
          	<td class="tbkey" >{:L('会员级别')}：</td>
          	<td class="tbval" >{$lv.byname}&nbsp;</td>
        </tr>
        </if>
        <if condition="$show_hy eq 1">
        <if condition="$k eq L('会员级别')">
        <tr >
          	<td class="tbkey" >{:L('会员级别')}：</td>
          	<td class="tbval" >{$lv.byname}&nbsp;</td>
        </tr>
        </if>
       	</if>
        </foreach>
        <if condition="in_array('time',$show) eq true">
        <tr>
          	<td class="tbkey" >{:L('注册时间')}：</td>
          	<td class="tbval" >{$userinfo.注册时间|date="Y-m-d H:i:s",###}&nbsp;</td>
        </tr>
        </if>
        <if condition="in_array('id_card',$show) eq true">
        <tr >
          	<td class="tbkey" >{:L('证件号码')}：</td>
          	<td class="tbval" >{$userinfo.证件号码}&nbsp;</td>
        </tr>
        </if>
        <if condition="in_array('bank_apply_name',$show) eq true">
        <tr>
          	<td class="tbkey" >{:L('开户银行')}：</td>
          	<td class="tbval" >{$userinfo.开户银行}&nbsp;</td>
        </tr>
        </if>
        <if condition="in_array('bank_card',$show) eq true">
        <tr >
          	<td class="tbkey" >{:L('银行卡号')}：</td>
          	<td class="tbval" >{$userinfo.银行卡号}</td>
        </tr>
        </if>
        <if condition="in_array('bank_name',$show) eq true">
        <tr >
          	<td class="tbkey" >{:L('开户名')}：</td>
          	<td class="tbval" >{$userinfo.开户名}</td>
        </tr>
        </if>
        <if condition="in_array('bank_apply_addr',$show) eq true">
        <tr >
          	<td class="tbkey" >{:L('开户地址')}：</td>
          	<td class="tbval" >{$userinfo.开户地址}</td>
        </tr>
        </if>
        <if condition="in_array('email',$show) eq true">
        <tr >
          	<td class="tbkey" >Email：</td>
          	<td class="tbval" >{$userinfo.email}</td>
        </tr>
        </if>
        <if condition="in_array('qq',$show) eq true">
        <tr >
          	<td class="tbkey" >QQ：</td>
          	<td class="tbval" >{$userinfo.qq}</td>
        </tr>
        </if>
        <if condition="in_array('weixin',$show) eq true">
        <tr >
          	<td class="tbkey" >{:L('微信号')}：</td>
          	<td class="tbval" >{$userinfo.微信账号}</td>
        </tr>
        </if>
        <if condition="in_array('alipay',$show) eq true">
        <tr >
          	<td class="tbkey" >{:L('支付宝')}：</td>
          	<td class="tbval" >{$userinfo.支付宝}</td>
        </tr>
        </if>
        <if condition="in_array('mobile',$show) eq true">
        <tr >
          	<td class="tbkey" >{:L('移动电话')}：</td>
          	<td class="tbval" >{$userinfo.移动电话}</td>
        </tr>
        </if>
        <if condition="in_array('area',$show) eq true">
        <tr >
          	<td class="tbkey" >{:L('地址')}：</td>
          	<td class="tbval" >{$userinfo.国家} {$userinfo.省份} {$userinfo.城市} {$userinfo.地区} {$userinfo.街道}</td>
        </tr>
        </if>
        <if condition="in_array('address',$show) eq true">
        <tr >
          	<td class="tbkey" >{:L('详细地址')}：</td>
          	<td class="tbval" >{$userinfo.地址}</td>
        </tr>
        </if>
        <tr >
            <td class="tbkey" >{:L('钱包地址')}：</td>
            <td class="tbval" >{$userinfo.钱包地址}</td>
        </tr>
        <tr >
            <td colspan="2"><button class="button_text button-150" type="button" onclick="history.back();">{:L('返回')}</button></td>
	</table>
    </div>
</div>
