<div class="core_main User" id="viewMyreg">
	<div class="core_title">
    	<span class="core_title_con">{:L('当前位置')}：{:L('查看订单')}</span>
    </div>
    <div class="core_con">
    <table class="tablebg" id="table1">
        <tr >
            <td class="tbkey"><nobr>{:L('编号')}：</nobr></td>
            <td class="tbval"><nobr>{$saleData.编号}</nobr></td>
        </tr>
        <tr >
            <td class="tbkey"><nobr>{:L('购买时间')}：</nobr></td>
            <td class="tbval"><nobr><if condition="$saleData['购买时间']">{$saleData.购买时间|date='Y-m-d H:i:s',###}</if></nobr></td>
        </tr>
        <tr >
            <td class="tbkey"><nobr>{:L('到款时间')}：</nobr></td>
            <td class="tbval"><nobr><if condition="$saleData['到款时间']">{$saleData.到款时间|date='Y-m-d H:i:s',###}</if></nobr></td>
        </tr>
        <eq name='shopWhere' value='1'>
        <tr >
            <td class="tbkey"><nobr>{:L('服务中心')}：</nobr></td>
            <td class="tbval"><nobr>{$saleData.服务中心编号}</nobr></td>
        </tr>
        </eq>
        <tr >
            <td class="tbkey"><nobr>{:L('报单类别')}：</nobr></td>
            <td class="tbval"><nobr>{:L($saleData['报单类别'])}</nobr></td>
        </tr>
    
        <tr >
            <td class="tbkey"><nobr>{:L('报单状态')}：</nobr></td>
            <td class="tbval"><nobr>{:L($saleData['报单状态'])}</nobr></td>
        </tr>
        <if condition="$saleData['报单状态'] == '已撤销'">
        <tr >
            <td class="tbkey"><nobr>{:L('撤销理由')}：</nobr></td>
            <td class="tbval"><nobr><if condition="!empty($saleData['撤销理由'])">{:L($saleData['撤销理由'])}<else/>{:$saleData['撤销理由']}</if></nobr></td>
        </tr>
        </if>
        <tr >
            <td class="tbkey"><nobr>{:L('报单金额')}：</nobr></td>
            <td class="tbval"><nobr>{$saleData.报单金额}</nobr></td>
        </tr>
    </table>
    <table class="tablebg" id="table2">
        <if condition="$saleData['产品'] eq 1">
        <tr >
            <td class="tbkey"><nobr>{:L('购物金额')}：</nobr></td>
            <td class="tbval"><nobr>{$saleData.购物金额}</nobr></td>
        </tr>
        <if condition="$adminshow eq true">
        <tr >
            <td class="tbkey"><nobr>{:L('购物PV')}：</nobr></td>
            <td class="tbval"><nobr>{$saleData.购物pv}</nobr></td>
        </tr>
        </if>
        </if>
        <tr >
            <td class="tbkey"><nobr>{:L('实付款')}：</nobr></td>
            <td class="tbval"><nobr>{$saleData.实付款}</nobr></td>
        </tr>
        <if condition="($saleData['产品'] eq 1) or (adminshow('baodan_wuliu') eq true)">
        <tr >
            <td class="tbkey"><nobr>{:L('收货地址')}：</nobr></td>
            <td class="tbval"><nobr>{$saleData.收货省份}{$saleData.收货城市}{$saleData.收货地区}{$saleData.收货街道}{$saleData.收货地址}</nobr></td>
        </tr>
        <tr >
            <td class="tbkey"><nobr>{:L('收货人')}：</nobr></td>
            <td class="tbval"><nobr>{$saleData.收货人}</nobr></td>
        </tr>
       
        <tr >
            <td class="tbkey"><nobr>{:L('联系电话')}：</nobr></td>
            <td class="tbval"><nobr>{$saleData.联系电话}</nobr></td>
        </tr>
        <tr >
            <td class="tbkey"><nobr>{:L('物流状态')}：</nobr></td>
            <td class="tbval"><nobr>{:L($saleData['物流状态'])}</nobr></td>
        </tr>
        </if>
    </table>
    <present name="productData">	
    <table class="tablebg" id="table3">
        <tr class="datafield">
            <th colspan="6">{:L('产品选购信息')}</th>
        </tr>
        <tr class="datafield">
            <td >{:L('产品名称')}</td>
            <td >{:L('数量')}</td>
            <td >{:L('价格')}</td>
            <if condition="$adminshow eq true">
            <td >PV</td>
            </if>
            <td >{:L('总价')}</td>
            <if condition="$adminshow eq true">
            <td >{:L('总PV')}</td>
            </if>
        </tr >
        <foreach name="productData" item="paydata">
        <tr class="datalist">
            <td >{$paydata['名称']}</td>
            <td >{$paydata['数量']}</td>
            <td >{$paydata['价格']}</td>
            <if condition="$adminshow eq true">
            <td >{$paydata['pv']}</td>
            </if>
            <td >{$paydata['总价']}</td>
            <if condition="$adminshow eq true">
            <td >{$paydata['总pv']}</td>
            </if>
        </tr>
        </foreach>
        <tr class="datalist">
            <td colspan="3">{:L('汇总')}：</td>
            <td >{$saleData.购物金额}</td>
            <if condition="$adminshow eq true">
            <td >{$saleData.购物pv}</td>
            </if>
        </tr>		
    </table>
    </present>
    <table class="tablebg" id="table4">
		<tr>
	  		<td class="tdcenter">
                <button class=button_text type="button" onclick="history.back()">{:L('返回')}</button>
	    	</td>
    	</tr>
	</table>
   </div>
    <div class="core_page"></div>
</div>
