<div class="pageContent">

	<form method="post" action="__CONTROLLER__/save" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDoneReload);">
		<div class="pageFormContent nowrap" layoutH="57">
				<dl>
					<dt>银行名称:</dt>
					<dd style="width:auto"><input name="银行名称" type="text" class="required" value="" /></dd>
				</dl>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button id="submit" type="submit" name="submit">确定</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>