<script>
	function dialogAjaxDoneReload(json)
	{
		DWZ.ajaxDone(json);

		if (json.statusCode == DWZ.statusCode.ok)
		{
			//关闭当前窗口
			$.pdialog.closeCurrent(); 
	        navTab.reload();
		}
	}
</script>
<div class="pageContent">

	<form method="post" action="__CONTROLLER__/confirm/id/{$_GET['id']}" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDoneReload);">
		<div class="pageFormContent nowrap" layoutH="57">
				<dl>
					<dt style="width:150px">选择汇款进入钱包类型</dt>
				</dl>
				<dl>
					<dt style="width:150px;text-align:left"><label><input type="radio" name="addMoney" value="0" <eq name="USER_REMIT_INBANK" value="0">checked</eq>>汇款不进入钱包</label></dt>
				</dl>
				<foreach name="bank" item="vo">
				<dl>
					<dt style="width:150px;text-align:left"><label><input type="radio" name="addMoney" value="{$key}" <eq name="USER_REMIT_INBANK" value="$key">checked</eq>>汇款进入{$vo}</label></dt>
				</dl>
				</foreach>
				
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button id="submit" type="submit">确定</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>

</div>
<script>
function checkform(){
	
}
</script>