<div layoutH="0">
<form method="post" action="__CONTROLLER__/rechargeSavepl:__XPATH__" class="pageForm required-validate" onsubmit="return validateCallback(this,navTabAjaxDoneOpen);">
<input type="hidden" name="callbackType" value="closeCurrent" />
<input type="hidden" name="navTabId" value="{:md5(__CONTROLLER__.'/index:'.__XPATH__)}"/>
<input type="hidden" name="forwardUrl" value="__CONTROLLER__/index:__XPATH__"/>
<input type="hidden" name="navTabTitle" value="{$name}明细"/>
<table width="600px" class="list">
<thead>
  <tr>
    <th colspan="3" style="text-align:left"><img style="vertical-align:middle" src="__PUBLIC__/Images/coins_add.png" />&nbsp;&nbsp;{$name}</th>
  </tr>
</thead>
<tfoot>
 <tr>
    <td width="20%" style="height:25px;vertical-align: middle;border-bottom:1px solid #ededed">充值类型：</td>
    <td width="75%" style="height:25px;text-align:left;border-bottom:1px solid #ededed">
	<input type="text" name="type" value="后台入款"/>
						<span class="info">注：建议使用四个中文表示</span>
    </td>
  </tr>
  <tr>
    <td width="20%" style="height:25px;vertical-align: middle;border-bottom:1px solid #ededed">批量充值：</td>
    <td width="75%" style="height:25px;text-align:left;border-bottom:1px solid #ededed">
   <!-- <input type="text" name="userid"  value=""  style="width:90px;height:145px; text-overflow:word-wrap;"/>-->
   <textarea  style="height:145px; width:200px;"  name="paypl" id="paypl"></textarea>
    </td>
  </tr>
 
    <tr>
    <td colspan="3"style="height:25px;vertical-align: middle;">
      <div class="buttonActive" style="margin-left:290px;margin-top:5px;">
          <div class="buttonContent" >
            <button type="submit" id="but" >确定</button>
          </div>
      </div>
    </td>
  </tr>  
  </tfoot>
</table>

 </form>
<div style="margin:20px 0 10px 35px;">
<h1 style="margin:10px 0 10px 20px;">批量充值使用说明：</h1>

 
<!-- <div style="margin-top:20px;">当用户进入次页面，首先，下载  <a href="__PUBLIC__/excel/demo.xls" style="font-size:14px; font-weight:bold">会员名单下载</a>下载并保存，打开excel，根据excel进行批量处理。-->如下图1所示：<div><img style="vertical-align:middle;margin:10px 0 10px 0;" src="__PUBLIC__/Images/shili.jpg" /></div>
 之后点击“确定按钮”。
 注意：1，如果点击确定后提示，显示用户不存在，如图所示，请在图1中删除此用户之后在进行批量充值。
<div><img style="vertical-align:middle;margin:10px 0 10px 0;" src="__PUBLIC__/Images/error.jpg" /></div>

 </div>




</div>
</div>


<script>


function checkform(){
    var mess = "";
    if($("input[name='chargeSum']").val()==""){
        mess = "充值金额不能为空！\r\n" + mess;
        $("input[name='chargeSum']").focus();
    }else if(isNaN($("input[name='chargeSum']").val())){
        mess = "充值金额必须为数字！\r\n"+ mess;
        $("input[name='chargeSum']").focus();
    }
    if($("input[name='userid']").val()==""){
        mess = "{$user}编号不能为空！\r\n" + mess;
        $("input[name='userid']").focus();
    }
    if(mess !=""){
        alert(mess);
        return false;
    }else{
        return true;
    }
}


</script>