<link href="__TMPL__Public/Css/view.css" rel="stylesheet" type="text/css" />
<div class="core_main PrizeSplit" id="index">
<div class="core_title">
    	<span class="core_title_con">{$nowtitle}</span>	
    </div>
<div class="core_con">
<div class="pageWidth" id="box_root">
  <div class="cont">
    <div class="mbx">
      <p>当前查看版块号<span>1</span>该版块类型<span>组长</span>该版块状态<span>关闭</span><a href="#">上个盘</a></p>
    </div>
    <div class="cont_detail">
      <div class="detail_first">
        <ul>
          <li>
            <h4>cn182008</h4>
            <table border="0">
              <tr>
                <td>cn622756</td>
              </tr>
              <tr>
                <td>cn211562</td>
              </tr>
              <tr>
                <td>cn586462</td>
              </tr>
              <tr>
                <td>cn622756</td>
              </tr>
            </table>
          </li>
          <li>
            <h4>cn182008</h4>
            <table border="0">
              <tr>
                <td>cn622756</td>
              </tr>
              <tr>
                <td>cn211562</td>
              </tr>
            </table>
          </li>
          <li>
            <h4>cn182008</h4>
            <table border="0">
              <tr>
                <td>cn622756</td>
              </tr>
              <tr>
                <td>cn211562</td>
              </tr>
              <tr>
                <td>cn586462</td>
              </tr>
              <tr>
                <td>cn622756</td>
              </tr>
              <tr>
                <td>cn586462</td>
              </tr>
              <tr>
                <td>cn622756</td>
              </tr>
            </table>
          </li>
          <li>
            <h4>cn182008</h4>
            <table border="0">
              <tr>
                <td>cn622756</td>
              </tr>
              <tr>
                <td>cn211562</td>
              </tr>
              <tr>
                <td>cn586462</td>
              </tr>

            </table>
          </li>
          <li>
            <h4>cn182008</h4>
            <table border="0">
              <tr>
                <td>cn622756</td>
              </tr>
            </table>
          </li>
          <li>
            <h4>cn182008</h4>
            <table border="0">
              <tr>
                <td>cn622756</td>
              </tr>
              <tr>
                <td>cn211562</td>
              </tr>
              <tr>
                <td>cn586462</td>
              </tr>
              <tr>
                <td>cn622756</td>
              </tr>
            </table>
          </li>
          <li>
            <h4>cn182008</h4>
            <table border="0">
              <tr>
                <td>cn622756</td>
              </tr>
              <tr>
                <td>cn211562</td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
      <div class="detail_second">
      	 <ul>
          <li>
            <h4>cn182008</h4>
            <table border="0">
              <tr>
                <td>cn622756</td>
              </tr>
              <tr>
                <td>cn211562</td>
              </tr>
              <tr>
                <td>cn586462</td>
              </tr>
              <tr>
                <td>cn622756</td>
              </tr>
            </table>
          </li>
          <li>
            <h4>cn182008</h4>
            <table border="0">
              <tr>
                <td>cn622756</td>
              </tr>
              <tr>
                <td>cn211562</td>
              </tr>
            </table>
          </li>
          <li>
            <h4>cn182008</h4>
            <table border="0">
              <tr>
                <td>cn622756</td>
              </tr>
              <tr>
                <td>cn211562</td>
              </tr>
              <tr>
                <td>cn586462</td>
              </tr>
              <tr>
                <td>cn622756</td>
              </tr>
              <tr>
                <td>cn586462</td>
              </tr>
              <tr>
                <td>cn622756</td>
              </tr>
            </table>
          </li>
          <li>
            <h4>cn182008</h4>
            <table border="0">
              <tr>
                <td>cn622756</td>
              </tr>
              <tr>
                <td>cn211562</td>
              </tr>
              <tr>
                <td>cn586462</td>
              </tr>

            </table>
          </li>
          <li>
            <h4>cn182008</h4>
            <table border="0">
              <tr>
                <td>cn622756</td>
              </tr>
            </table>
          </li>
          <li>
            <h4>cn182008</h4>
            <table border="0">
              <tr>
                <td>cn622756</td>
              </tr>
              <tr>
                <td>cn211562</td>
              </tr>
              <tr>
                <td>cn586462</td>
              </tr>
              <tr>
                <td>cn622756</td>
              </tr>
            </table>
          </li>
          <li>
            <h4>cn182008</h4>
            <table border="0">
              <tr>
                <td>cn622756</td>
              </tr>
              <tr>
                <td>cn211562</td>
              </tr>
            </table>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>
