<div class="pageContent">

	<form method="post" action="__CONTROLLER__/savesecret" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDone);">
		<div class="pageFormContent nowrap" layoutH="57">
				<dl>
					<dt>密保问题:</dt>
					<dd style="width:auto"><input name="密保问题" type="text" class="required" value="" size="60" /></dd>
				</dl>
				
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button id="submit" type="submit" name="submit">确定</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>

<script>
function dialogAjaxDone(json){

      DWZ.ajaxDone(json);

      if (json.statusCode == DWZ.statusCode.ok){
            //if (json.navTabId){

            navTab.reload('__CONTROLLER__/index', {}, json.navTabId);

            //}
            $.pdialog.closeCurrent();

      }

}

</script>
	
</div>