<div class="pageContent">

	<form method="post" action="__CONTROLLER__/saveEditmb" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDone);">
		<input name="id" value="{$mbinfo.id}" type="hidden">
		<div class="pageFormContent nowrap" layoutH="57">
				<dl>
					<dt>ID：</dt>
					<dd style="width:auto"><span name="id" type="text" class="required" value=""  size="60"/>{$mbinfo.id}</span></dd>
				</dl>
				<dl>
					<dt>密保问题:</dt>
					<dd style="width:auto"><input name="wt" type="text" class="required" value="{$mbinfo.content}"  size="60"/></dd>
				</dl>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button id="submit" type="submit" name="submit">确定</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>

<script>
function dialogAjaxDone(json){

      DWZ.ajaxDone(json);

      if (json.statusCode == DWZ.statusCode.ok){
            //if (json.navTabId){

            navTab.reload('__CONTROLLER__/indexmb', {}, json.navTabId);

            //}

            $.pdialog.closeCurrent();

      }

}

</script>

</div>