<style>
#navbar-container {
bottom: 0;
left: 0;
right: 0;
top: 51px;
padding-top: 20px;
width: 150px;
z-index: 2;
background-color:#F8FAFB;
border-right:1px solid #c6c9ce;
float:left;
height:95%;
}

navbar-bg {
position: absolute;
z-index: 10;
right: 0;
width: 100%;
}
.navbar-item {
color: #5D7388;
cursor: pointer;
display: block;
font-size: 12px;
outline: none;
padding: 7px 0px;
text-align: right;
position: relative;
}
.navbar-item-color{
	color: #3170e0;
	cursor: pointer;
	display: block;
	font-size: 12px;
	outline: none;
	padding: 7px 0px;
	text-align: right;
	position: relative;
}
.navbar-item-selected {
-webkit-box-shadow: 0px 1px 0px #F7F7F7;
background-color: #326fde;
color: #fff;
}
.checked{
background-repeat:no-repeat;
background-position:165px -100px;
}
.indeterminate{
background-repeat:no-repeat;
background-position:165px -200px;
}
.menu{ width:auto; height:auto;}
.app_html{ width:auto;}
.app_menu{ width:auto; height:30px;}
.app_menu li{ float:left; width:auto; height:30px; padding:0 10px; line-height:30px; list-style-type:none; text-align:center; background:#AAD2FF; cursor:pointer;}
.app_menu li.curr{ background:#F2F2F2;}
</style>
<div class="app_html">
	<if condition="count($newtreeList) neq 1">
	<div class="app_menu">
    	<php> $w=0;</php>
        <foreach name="newtreeList" item="appList" key="mk">
        <php> $w++;</php>
        <li <if condition="$w eq 1">class="curr"</if> menu="menu_html_{$w}">{$mk}</li>
        </foreach>
    </div>
	</if>
 	<php> $m=0;</php>
   <volist name="newtreeList" id="appList" key="mk">
     <php> $m++;</php>
   <div class="menu" id="menu_html_{$m}" style="<neq name='m' value='1'>display:none</neq>" >
        <!--1start-->
        <div id="navbar-container">
            <div class="navbar-bg">
              <ul id="navbar">
                <php>$i=0;</php>
                <foreach name="appList" item="firstList" key="fk">
                <if condition="$fk neq ''">
                  <php>$i++;</php>
                  <li class="<eq name="firstList['roleAccess']" value="1"> navbar-item-color <else/> navbar-item </eq> <eq name='i' value='1'> {:PHP_EOL} navbar-item-selected </eq>" fk='{$fk}' itemlist='1'>
                      <span style="padding-right:0px">{$fk}</span>
                      <span style="padding:1px 30px 2px 10px;width:30px;height:30px;background:url('__PUBLIC__/dwz/themes/default/images/tree/check.png') no-repeat 20px <if condition="
                      $firstList['roleAccess'] == 1">-203px<elseif condition="$firstList['roleAccess'] == 2"/>-103px<else/>-3px</if>;" checklist='1' checktype="<if condition="
                      $firstList['roleAccess'] == 1">1<elseif condition="$firstList['roleAccess'] == 2"/>2<else/>0</if>">&nbsp;</span>
                  </li>
                  </if>
                </foreach>
              </ul>
            </div>
        </div>
        <div style="float:left;width:800px;height:500px" id="mainview">
            
            
            <div id="maincontent" style="height:300px">
            <php>$i=0;</php>
            <foreach name="appList" item="firstList" key="fk">
            <php>$i++;</php>
            <div style="<neq name='i' value='1'>display:none</neq>" fk="{$fk}" class="content">
                <!--<div style="padding:15px;font-weight:bold;border-bottom: 1px solid #EEE;">
                    {$module.title}
                </div>-->
                <div>
                  <foreach name="firstList" item="secondList" key="sk">
                   
                    <notpresent name="secondList.title">
                        <if condition="is_array($secondList)">
                        <div style="padding:10px;font-weight:bold;border-top: 1px solid #6495ED;clear:both">{$sk}</div>
                        </if>
                        <foreach name="secondList" item="thirdList" key="tk">
                            <span style="padding:5px;width:140px;display:block;float:left;">
                                <label style="cursor:pointer"><input type="checkbox" name="node[]" roleid="{$thirdList['id']}" value="{$thirdList.id}_{$thirdList.pid}_3" <if condition="(in_array($thirdList['id'],$accessList))">checked</if>>
                                {$thirdList.title}</label>
                            </span>
                        </foreach>
                        <div style="clear:both;padding-bottom:10px;"></div>
                    <else/>
                        <span style="padding:5px;width:140px;display:block;float:left;">
                            <label style="cursor:pointer"><input type="checkbox" name="node[]"  roleid="{$secondList['id']}" value="{$secondList.id}_{$secondList.pid}_3" <if condition="(in_array($secondList['id'],$accessList))">checked</if>>
                            {$secondList.title}</label>
                        </span>
                    </notpresent>
                  </foreach>
                </div>
            </div>
            </foreach>
            </div>
            
        </div>
    
        <!--1end-->
    </div>
    </volist>
</div>
<script>

$(function(){
	$('#maincontent',navTab.getCurrentPanel()).html($('.mainview[fk=0]').html());
	$('[itemlist=1]').bind('click',function(e){
		
		var fk = $(this).attr('fk');
		$("#navbar>li",navTab.getCurrentPanel()).removeClass('navbar-item-selected');
		$(this).addClass('navbar-item-selected');
		$('.content',navTab.getCurrentPanel()).hide();
		$('.content[fk='+fk+']',navTab.getCurrentPanel()).css('display','block');
	});
	$('[checklist=1]',navTab.getCurrentPanel()).bind('click',function(){
		var checktype = $(this).attr('checktype');
		//alert(checktype)
		var fk = $(this).parent().attr('fk');
		//alert(fk)
		if(checktype == 0 || checktype == 1){
			$(this).attr('checktype','2');
			$(this).css('background-position','20px -103px');
			$('.content[fk='+fk+']',navTab.getCurrentPanel()).find('input[type=checkbox]').attr('checked',true);
		}else if(checktype == 2){
			$(this).attr('checktype','0');
			$(this).css('background-position','20px -3px');
			$('.content[fk='+fk+']',navTab.getCurrentPanel()).find('input[type=checkbox]').attr('checked',false);
		}
	});
	$('[checklist=1]',navTab.getCurrentPanel()).bind('mouseover',function(){
		var checktype = $(this).attr('checktype');
		if(checktype == 0){
			$(this).css('background-position','20px -53px');
		}else if(checktype == 1){
			$(this).css('background-position','20px -253px');
		}else if(checktype == 2){
			$(this).css('background-position','20px -153px');
		}
	}).mouseout(function(){
		var checktype = $(this).attr('checktype');
		if(checktype == 0){
			$(this).css('background-position','20px -3px');
		}else if(checktype == 1){
			$(this).css('background-position','20px -203px');
		}else if(checktype == 2){
			$(this).css('background-position','20px -103px');
		}
	});
	$("input[name='node[]']",navTab.getCurrentPanel()).change(function(){
		var parent = $(this).parents('.content');
		var fk = $(this).parents('.content').attr('fk');
		var num = 0;
		var count = parent.find("input[name='node[]']").length;
		//alert(count);
		parent.find("input[name='node[]']").each(function(i,v){
			if($(v).is(':checked')){
				num++;
			}
		});
		if(num == 0){
			$('[itemlist=1][fk='+fk+']>span[checklist=1]').css('background-position','20px -3px');
			$('[itemlist=1][fk='+fk+']>span[checklist=1]').attr('checktype','0');
		}else if(num == count){
			$('[itemlist=1][fk='+fk+']>span[checklist=1]').css('background-position','20px -103px');
			$('[itemlist=1][fk='+fk+']>span[checklist=1]').attr('checktype','2');
		}else if(num < count){
			$('[itemlist=1][fk='+fk+']>span[checklist=1]').css('background-position','20px -203px');
			$('[itemlist=1][fk='+fk+']>span[checklist=1]').attr('checktype','1');
		}
		
	});
	$("input[name='role[]']",navTab.getCurrentPanel()).change(function(){
		
		var accessStr='';
		$("input[name='role[]']:checked",navTab.getCurrentPanel()).each(function(i,v){
			accessStr +=$(v).attr('roleList')+'-';
		});
		var accessArr = accessStr.substring(0,accessStr.lastIndexOf('-')).split('-');
		$("input[name='node[]']",navTab.getCurrentPanel()).parent('label').parent('span').css('color','#000');
		$("#navbar>.navbar-item-color",navTab.getCurrentPanel()).addClass('navbar-item');
		$("#navbar>.navbar-item-color",navTab.getCurrentPanel()).removeClass('navbar-item-color');
		for(var i in accessArr){
			var thisobj = $("input[name='node[]'][roleid="+accessArr[i]+"]",navTab.getCurrentPanel());
			var fk = thisobj.parents('.content').attr('fk');
			if(!$('#navbar>li[fk='+fk+']',navTab.getCurrentPanel()).is('.navbar-item-color')){
				$('#navbar>li[fk='+fk+']',navTab.getCurrentPanel()).addClass('navbar-item-color');
			}
			thisobj.parent('label').parent('span').css('color','#3170e0');
		}
	});
	
	$(".app_menu>li",navTab.getCurrentPanel()).click(function(){
		$(this,navTab.getCurrentPanel()).addClass("curr").siblings().removeClass("curr");
		var tab = $(this).attr("menu");
		$("#" + tab,navTab.getCurrentPanel()).show().siblings('.menu',navTab.getCurrentPanel()).hide();  
	});
	
});

</script>
