<script>
function dialogAjaxDoneRoleAdd(json)
{
	DWZ.ajaxDone(json);

	if (json.statusCode == DWZ.statusCode.ok)
	{
		navTab.closeCurrentTab();
		navTab.openTab('{:MD5(__CONTROLLER__."/index")}','__CONTROLLER__/index',{ 'title':'权限组管理'});
	}
}
</script>
<div class="pageContent">

	<form method="post" action="__CONTROLLER__/insert/navTabId/{:md5(__CONTROLLER__.'/index')}" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDoneRoleAdd)">
		<input type="hidden" name="submit" value="1" />
		<input type="hidden" name="type" value="0"/>
		<div class="pageFormContent" layoutH="58">
			<table cellpadding="5" cellspacing="5">
				<tr>
					<th width="60">名称：</th>
					<td style="text-align:left">
						<input type="text" class="required" name="name" />
					</td>
				</tr>
				<!--<tr>
					<th>类型：</th>
					<td style="text-align:left">
						<input type="radio" name="type" checked="true" value="1" id="type1" /><label for="type1">会员</label>

						<input type="radio" name="type" value="0" id="type0" /><label for="type0">管理员</label>
					</td>
				</tr>-->
				<tr>
					<th>状态：</th>
					<td style="text-align:left">
						<input type="radio" name="status" checked="true" value="1" id="status1" /><label for="status1">启用</label>

						<input type="radio" name="status" value="2" id="status2" /><label for="status2">禁用</label>
					</td>
				</tr>
				
			</table>
			<include file="access"/>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button id="submit" type="submit">确定</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>