ThinkPHP/Conf/*
!ThinkPHP/Conf/convention.php
!ThinkPHP/Conf/debug.php
!ThinkPHP/Conf/langset.php
!ThinkPHP/Conf/langTrans.php
ThinkPHP/config/*.php
!ThinkPHP/config/password.php
!ThinkPHP/config/_rsa.php

*.lock

public_html/dbbackup/*
public_html/Upload/

Application/Runtime/*
Application/DmsAdmin/PrizeData/*
Application/DmsUser/Lang/*
Application/Common/Conf/db.php
Application/Common/Conf/uarbac.php
Application/Common/Conf/lang.php
Application/Common/Conf/qrlogin.php
Application/Common/Conf/debug.php

Application/Common/Lang/*

public_html/Public/directSell/*.json
!public_html/Public/directSell/area.json
