<div class="core_main Language" id="index">
	<div class="core_title">
    	<span class="core_title_con"><span>当前位置</span>：{$nowtitle}</span>
    </div>
    <div class="core_con">	 
        <table class="tablebg"> 
			<tr>
				<td class="tbkey">简繁设置：</td>
				<td class="tbval">
					<span style='font-size:15px'>
						<!--<a onclick="jianti()" href="/index.php?s=/User/Language/index">简体</a>&nbsp;|&nbsp;
						<a onclick="fanti()" href="/index.php?s=/User/Language/index">繁体</a>-->	
						<a  href="__APP__/DmsUser/Language/index/id/1">{:L('简体')}</a>&nbsp;|&nbsp;
						<a  href="__APP__/DmsUser/Language/index/id/2">{:L('繁体')}</a>&nbsp;|&nbsp;
						<a  href="__APP__/DmsUser/Language/index/id/3">{:L('英语')}</a>				
						<!-- <input type="radio"  checked="checked" value="简体" name="language" onClick="jianti()"/>简体&nbsp;&nbsp;
						<input type="radio"   value="繁体" name="language" onClick="fanti()" />繁体 -->
					</span>
				</td> 
			</tr>  
        </table>		 
    </div>  
</div>
<script src="/Public/js/transfer.js"></script> 