<div layoutH="0">
<table align="left" id="print_list">
<tr>
<td valign="top" align="left">
	<table width="950">
	<tr>
		<td width="50%" valign="top" align="left"><table width="100%"  class="list">
			<tbody>
			<tr>
				<td width="30%" >购买编号:</td>
				<td width="70%" style="text-align:left" >{$buyinfo.编号}</td>
			</tr>
			<tr>
				<td>购买时间:</td>
				<td style="text-align:left" ><if condition="$buyinfo['购买时间']">{$buyinfo.购买时间|date='Y-m-d H:i:s',###}</if></td>
			</tr>
			<tr>
				<td width="30%" >购买数量:</td>
				<td width="70%" style="text-align:left" >{$buyinfo.数量}</td>
			</tr>
			<tr>
				<td width="30%" >购买价格:</td>
				<td width="70%" style="text-align:left" >{$buyinfo.单价}</td>
			</tr>
			<neq name="buyinfo['状态']" value="取消">
			<if condition="$buyinfo['汇款时间']">
			<tr>
				<td width="30%" >汇款时间:</td>
				<td width="70%" style="text-align:left" >{$buyinfo.汇款时间|date='Y-m-d',###}</td>
			</tr>
			<tr>
				<td width="30%" >汇款金额:</td>
				<td width="70%" style="text-align:left" >{$buyinfo.汇款金额}</td>
			</tr>
			<notempty name="buyinfo['开户银行']">
			<tr>
				<td width="30%" >买家银行:</td>
				<td width="70%" style="text-align:left" >{$buyinfo.开户银行}</td>
			</tr>
			</notempty>
			<notempty name="buyinfo['银行卡号']">
			<tr>
				<td width="30%" >买家卡号:</td>
				<td width="70%" style="text-align:left" >{$buyinfo.银行卡号}</td>
			</tr>
			</notempty>
			<notempty name="buyinfo['开户名']">
			<tr>
				<td width="30%" >买家开户名:</td>
				<td width="70%" style="text-align:left" >{$buyinfo.开户名}</td>
			</tr>
			</notempty>
			<notempty name="buyinfo['电话']">
			<tr>
				<td width="30%" >买家联系电话:</td>
				<td width="70%" style="text-align:left" >{$buyinfo.电话}</td>
			</tr>
			</notempty>
			<tr>
				<td width="30%" >付款时间:</td>
				<td width="70%" style="text-align:left" >{$buyinfo.付款时间|date='Y-m-d H:i:s',###}</td>
			</tr>
			</if>
			</neq>
			</tbody>
		</table>
		</td>
		<td width="50%" valign="top" align="left"><table width="100%"  class="list">
			<tbody>
			<tr>
				<td width="30%" >卖家编号:</td>
				<td width="70%" style="text-align:left" >{$buyinfo.卖家编号}</td>
			</tr>
			<notempty name="sellinfo['开户银行']">
			<tr>
				<td width="30%" >卖家银行:</td>
				<td width="70%" style="text-align:left" >{$sellinfo.开户银行}</td>
			</tr>
			</notempty>
			<notempty name="sellinfo['银行卡号']">
			<tr>
				<td width="30%" >卖家卡号:</td>
				<td width="70%" style="text-align:left" >{$sellinfo.银行卡号}</td>
			</tr>
			</notempty>
			<notempty name="sellinfo['开户名']">
			<tr>
				<td width="30%" >卖家开户名:</td>
				<td width="70%" style="text-align:left" >{$sellinfo.开户名}</td>
			</tr>
			</notempty>
			<notempty name="sellinfo['电话']">
			<tr>
				<td width="30%" >卖家联系电话:</td>
				<td width="70%" style="text-align:left" >{$sellinfo.电话}</td>
			</tr>
			</notempty>
			<if condition="$buyinfo['确认时间']">
			<tr>
				<td width="30%" >确认时间:</td>
				<td width="70%" style="text-align:left" >{$buyinfo.确认时间|date='Y-m-d H:i:s',###}</td>
			</tr>
			</if>
			<if condition="$buyinfo['卖家申请说明']">
			<tr>
				<td width="30%" >卖家仲裁说明:</td>
				<td width="70%" style="text-align:left" >{$buyinfo.卖家申请说明}</td>
			</tr>
			</if>
			</tbody>
		</table>
		</td>
	</tr>
	<tr>
		<td colspan="2"><table width="100%"  class="list">
		<tr><td width="15%">买家凭据:</td>
		<if condition="$buyinfo['买家凭据']">
		<td width="85%" style="text-align:left" ><img src="{$buyinfo.买家凭据}" height="300px"/></td>
		<else/>
		<td width="85%" style="height:200px;font-size:30px;color:#ccc;text-align:center;" >暂未上传凭据</td>
		</if>
		</td>
	</tr>
	<if condition="$buyinfo['状态']=='仲裁卖家' or $buyinfo['状态']=='仲裁买家'">
	<tr>
	<td width="100%" colspan="2"><table width="100%" class="list">
	<tr>
		<td width="15%" >仲裁扣星：</td>
		<td style="text-align:left">{$buyinfo.仲裁扣分}</td>
	</tr>
	<tr>
		<td>仲裁说明：</td>
		<td style="text-align:left">{$buyinfo.仲裁说明}</td>
	</tr>
	</table>
	</td>
	</tr>
	</if>
	</table>
</td>
</tr>
</table>
</div>