<div class="pageContent">

	<form method="post" action="__CONTROLLER__/editimgSave/id/{$_GET['id']}" class="pageForm required-validate" enctype='multipart/form-data' onsubmit="return iframeCallback(this,dialogAjaxDoneReload)">
		<input type="hidden" name="callbackType" value="closeCurrent" />
		<input type="hidden" name="navTabId" value="{:md5(__CONTROLLER__.'/indeximg')}"/>
		<input type="hidden" name="forwardUrl" value="__CONTROLLER__/indeximg"/>
		<input type="hidden" name="navTabTitle" value="图片修改"/>
		<div class="pageFormContent" layoutH="58">
			<table cellpadding="5" cellspacing="5">
				<tr>
					<th style="width:80px">顺序号：</th>
					<td style="text-align:left">
						<input type="text" class="number" name="顺序号" value="{$list.顺序号}" />
					</td>
				</tr>
				<tr>
					<th style="width:80px">标题：</th>
					<td style="text-align:left">
						<input type="text" class="required" name="title" value="{$list.title}"/>
					</td>
				</tr>
				<tr>
					<th>位置：</th>
					<td style="text-align:left">
									<select name='Position'>
										<option value='1' <eq name="list.位置" value="1">selected</eq> >首页轮播</option>
										<if condition="$defaultTheme eq 'muban1'">
											<option value='2' <eq name="list.位置" value="2">selected</eq> >首页列表</option>
										</if>
									</select>
					</td>
				</tr>
				<tr align="left">
           			<th>上传图片:</th>
           			<td colspan="2" style="text-align:left;">
           				<input type="text" name="img" id="image_0"  value="{$list.imgpath}" style="width:200px"/>
						&nbsp; <span style="height:20px;line-height:20px"><a href="__CONTROLLER__/getImgPath/id/{$_GET['id']}"  target="dialog" mask="true">上传</a></span>
	                    <div id="upload_panel">
	                      <ul style="clear:both;float:left">
	                      </ul>
	                    </div>
           			</td>  
        		</tr>
				<tr>
					<th style="width:80px">链接地址：<br /><span style='font-weight:normal;'>(首页列表有效)</span></th>
					<td style="text-align:left">
						<input type="text"  name="urlpath" value="{$list.urlpath}" style='width:300px;'/>
					</td>
				</tr>
			</table>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button id="submit" type="submit">确定</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>

	
</div>
