<script language="javascript" type="text/javascript"> 
function dispinput(isuser)
{
	
	if(isuser=='0')
	{
		$('#receiver',navTab.getCurrentPanel()).show();
	}
	else
	{
		$('#receiver',navTab.getCurrentPanel()).hide();
	}
}
function dialogAjaxDoneProductAddww(json)
{
	DWZ.ajaxDone(json);
	navTab.reload();          //刷新列表
		if (json.statusCode == DWZ.statusCode.ok)
		{
			$.pdialog.closeCurrent(); //关闭添加话框
		}
	
}
</script> 
<div class="pageContent">
<form id="sendform" action="__CONTROLLER__/upimgsave" method="post"  class="pageForm required-validate"  enctype='multipart/form-data' onsubmit="return iframeCallback(this,dialogAjaxDoneProductAddww)">

	<div class="pageFormContent" layoutH="58">
	<table style="width:500px">
		<tr>  
			<td  style="width:100px;">顺序号:</td>
			<td colspan="2" style="width:100px;text-align:left">
			<input type="text" name="顺序号" />
			</td>
       </tr>
		<tr>  
			<td  style="width:100px;">标题:</td>
			<td colspan="2" style="width:100px;text-align:left">
			<input type="text" name="title" />
			</td>
       </tr>
		<tr>  
			<td  style="width:100px;">位置:</td>
			<td colspan="2" style="width:100px;text-align:left">
			<select name='Position'>
				<option value='1'>首页轮播</option>
				<if condition="$defaultTheme eq 'muban1'">
				<option value='2'>首页列表</option>
				</if>
			</select>
			</td>
       </tr>
       <tr align="left">
           <td >上传图片:</td>
           <td colspan="2" style="text-align:left;">
           			<input type="file" name="img" />
           </td>  
        </tr>
		<tr>  
			<td  style="width:100px;">链接地址<br />（首页列表有效）:</td>
			<td colspan="2" style="width:100px;text-align:left">
			<input type="text" name="urlpath" style='width:300px;'/>
			</td>
       </tr>
        </table>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button id="submit" type="submit">上传</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
   </form>

</div>

 <script type="text/javascript"> 
$(function(){
KindEditor.create($("#NoticeContent",navTab.getCurrentPanel()), {
	allowFileManager : true,
	afterBlur: function(){this.sync();}
});
})
</script>