<div class="pageContent">
	<div layoutH="58">
     <table width="100%" cellspacing="0" cellpadding="0" id="checkList" class="view_list">
     <thead>
          <tr>
            <th colspan="2"  style=" text-align:left; border:none;">&nbsp;站内公告管理</strong>&nbsp;>>&nbsp;公告详细</th>
          </tr>
       </thead>
          <tr >  
          <td style="width:30%">标题</td>
           <td style="text-align:left;width:50%">{$list.标题}</td>    
          <tr>
          <td>发布人</td>
            <td style=" text-align:left;">{$list.发布人}</td>
          </tr>
          <tr>
           <td>发布内容</td>
          	<td valign="top" style="height:auto; padding:0px 10px 20px 10px;border:1px; text-align:left; word-break:break-all;">{$list.内容}</td>
          </tr>
      </thead>
        </table>
		
	</div>
	<div class="formBar">
			<ul>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
			</ul>
	</div>
</div>