<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{:CONFIG('SYSTEM_TITLE')}</title>
    <link rel="stylesheet" href="/Public/usewebreg/css/usewebreg.css">
    <style>
        body .main {
            margin-top: 10px;
            margin-left: 0;
        }
        /*.button_text {
            margin-left: 150px;
        }*/
    </style>
    <script src="/Public/usereg/js/html5.min.js"></script>
    <script src="__PUBLIC__/jquery-1.x.min.js"></script>
    <script src="/Public/directSell/area_select.js"></script>
</head>
<body>
    <header id="header">
        <div class="nav-top">
        		<div class="span-right"><if condition="C('LANG.USE') eq true">
        		<span class="nav-welcome">{:L('选择语言')}：</span>
        		<span class="nav-welcome">__LANGLINK__</span></if>
        		</div>
        </div>
        <nav class="nav">
            <div class="center">
                <h1 class="logo">
                    <p>{:L('欢迎注册')}！{:CONFIG('SYSTEM_TITLE')}</p>
                </h1>
            </div>
        </nav>
    </header>
    <div id="container">
        <div class="center">
            <div class="wrapper">
                <div class="main">

                    <php>
                    $nowtitle=L('提示').'>>'.L('推广链接');
					$now_title = (explode(">>",$nowtitle));
					</php>
					<ul class="location">
					    <li class="location-home">
					        <i class="iconfont">&#xe60f;</i>
					        <a href="javascript:void(0)">{$now_title[0]}</a>
					        <i class="iconfont">&#xe633;</i>
					    </li>
					    <li>
					        <span class="color-warning">{$now_title[1]}</span>
					    </li>
					</ul>
                    <div class="main-container">

                <div class="core_main Saleweb" id="usereg">
                    <div class="core_con">
                        <div id="salereg" style="<present name='regAgreement'>display:none</present>">
                            <form name="form1" method="post" action="__MODULE__/Saleweb/regSave:{$xpath}" id="form">
                                <input type="hidden" name="temp1" value="haha"/><input type="hidden" name='shifoutuiguang' value='1' /><input type="hidden" name="jumpUrl" value="{$jumpUrl}"/>
                                <table class="tablebg" id="table1">
                                    <tr>
                                        <td class="tbkey">{:L($user->name.'编号')}：</td>
                                        <td class="tbval">
                                            <if condition="($user:idEdit eq true) and ($user:idAutoEdit eq true)">
                                            <input type="text" value="{$userid}" name="userid" id="userid" class="reginfo" onkeyup="getInfo(this)"/>
                                            <elseif condition="($user:idAutoEdit eq true)"/>
                                            {$userid}
                                            <else/>
                                            <input type="text" value="" name="userid" id="userid" class="reginfo"/>
                                            </if>
                                            &nbsp;<span id="state_userid" class="msg"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tbkey">{:L($levels->name)}：</td>
                                        <td class="tbval">
                                            <select name='lv' id='lv' <if condition="$zkbool eq true">onChange="user_getTotalzf('{$sale:name}','Saleweb');"</if>>
                                                <foreach name='levelsopt' item='level'>
                                                <notempty name="maxlv">
                                                <if condition="$level.lv elt $maxlv">
                                                <option value="{$level.lv}">{$level.name}</option>
                                                </if>
                                                <else/>
                                                <option value="{$level.lv}">{$level.name}</option>
                                                </notempty>
                                                </foreach>
                                            </select>
                                            &nbsp;<span id="state_{$levels:name}" class="msg"></span>
                                        </td>
                                    </tr>
                                    <!--基本信息-->
                                    <if condition="in_array('name',$show) eq true">
                                    <tr>
                                        <td class="tbkey">{:L('姓名')}：</td>
                                        <td class="tbval"><span><input type="text" value="" name="name" class="reginfo" /></span>&nbsp;<span id="state_name" class="msg"><if condition="in_array('name',$require) eq true ">*</if></span></td>
                                    </tr>
                                    </if>
                                    <if condition="in_array('sex',$show) eq true">
                                    <tr>
                                        <td class="tbkey">{:L('性别')}：</td>
                                        <td class="tbval"><span class="radio"><input type="radio" name="sex" value="男" checked/>{:L('男')}&nbsp;&nbsp;<input type="radio" name="sex" value="女" />{:L('女')}</span>&nbsp;<span id="state_sex" class="msg"><if condition="in_array('sex',$require) eq true ">*</if></span></td>
                                    </tr>
                                    </if>
                                    <if condition="in_array('alias',$show) eq true">
                                    <tr>
                                        <td class="tbkey">{:L('昵称')}：</td>
                                        <td class="tbval"><span><input type="text" value="" name="alias" class="reginfo" /></span>&nbsp;<span id="state_alias" class="msg"><if condition="in_array('alias',$require) eq true ">*</if></span></td>
                                    </tr>
                                    </if>
                                    <if condition="in_array('id_card',$show) eq true">
                                    <tr>
                                        <td class="tbkey">{:L('证件号码')}：</td>
                                        <td class="tbval"><span ><input type="text" value="" name="id_card" class="reginfo"/></span>&nbsp;<span id="state_id_card" class="msg"><if condition="in_array('id_card',$require) eq true ">*</if></span></td>
                                    </tr>
                                    </if>
                                    <if condition="in_array('email',$show) eq true">
                                    <tr>
                                        <td class="tbkey">Email：</td>
                                        <td class="tbval"><span><input type="text" value="" name="email" class="reginfo" /></span>&nbsp;<span id="state_email" class="msg"><if condition="in_array('email',$require) eq true ">*</if></span></td>
                                    </tr>
                                    </if>
                                    <if condition="in_array('qq',$show) eq true">
                                    <tr>
                                        <td class="tbkey">QQ：</td>
                                        <td class="tbval"><span><input type="text" value="" name="qq" class="reginfo" /></span>&nbsp;<span id="state_qq" class="msg"><if condition="in_array('qq',$require) eq true ">*</if></span></td>
                                    </tr>
                                    </if>
                                    <if condition="in_array('weixin',$show) eq true">
                                    <tr>
                                        <td class="tbkey">微信：</td>
                                        <td class="tbval"><span><input type="text" value="" name="weixin" class="reginfo" /></span>&nbsp;<span id="state_weixin" class="msg"><if condition="in_array('weixin',$require) eq true ">*</if></span></td>
                                    </tr>
                                    </if>
                                    <if condition="in_array('alipay',$show) eq true">
                                    <tr>
                                        <td class="tbkey">支付宝：</td>
                                        <td class="tbval"><span><input type="text" value="" name="alipay" class="reginfo" /></span>&nbsp;<span id="state_alipay" class="msg"><if condition="in_array('alipay',$require) eq true ">*</if></span></td>
                                    </tr>
                                    </if>
                                    <if condition="in_array('mobile',$show) eq true">
                                    <tr>
                                        <td class="tbkey">{:L('移动电话')}：</td>
                                        <td class="tbval"><span><input type="text" value="" name="mobile" class="reginfo" /></span>&nbsp;<span id="state_mobile" class="msg"><if condition="in_array('mobile',$require) eq true ">*</if></span></td>
                                    </tr>
                                    </if>
                                    <if condition="$haveuser eq true">
                                    <notempty name="fun_val">
                                    <foreach name="fun_val" item="fun" key="key">
                                    <tr>
                                        <td class="tbkey">{$key}：</td>
                                        <td class="tbval"><input type="text" name="{$fun}" value="" class="reginfo" />&nbsp;<span id="state_{$fun}" class="msg"></span></td>
                                    </tr>
                                    </foreach>
                                    </notempty>
                                    </if>
                                    <if condition="($haveuser eq true)">
                                    <foreach name='nets' item='net'>
                                    <if condition="($net.type eq 'text')">
                                    <tr>
                                        <td class="tbkey">{$net.name}：</td>
                                        <td class="tbval">
                                            <if condition="$net['name'] eq '推荐人编号'">
                                            <span style="color:#000">{$net.value}</span>
                                            <input type="hidden" value="{$net.value}" size="20" name="{$net.inputname}"  onkeyup="getInfo(this)" id="{$net.inputname}" autocomplete="off"/>&nbsp;<span id="state_{$net.inputname}" class="msg"></span>
                                            <else />
                                            <input type="text"  class="reginfo" value="{$net.value}" size="20" name="{$net.inputname}"  onkeyup="getInfo(this)" id="{$net.inputname}" autocomplete="off"/>&nbsp;<span id="state_{$net.inputname}" class="msg">*</span>
                                            </if>
                                            
                                        </td>
                                    </tr>
                                    </if>
                                    <if condition="($net.type eq 'select')">
                                    <tr>
                                        <td class="tbkey">{$net.name}：</td>
                                        <td class="tbval">
                                            <select name='{$net.inputname}'  otherpost='{$net.otherpost}' id="{$net.inputname}" onchange="getInfo(this)">
                                                <foreach name='net.Region' item='Region'>
                                                <option value='{$Region.name}'>{$Region.name}</option>
                                                </foreach>
                                            </select>
                                            &nbsp;<span id="state_{$net.inputname}" class="msg"></span>
                                        </td>
                                    </tr>
                                    </if>
                                    </foreach>
                                    </if>
                                    <!--所属商铺-->
                                    <notempty name="shop">
                                    <tr>
                                        <td class="tbkey" >{:L($shop)}：</td>
                                        <td class="tbval" ><span><input type="text" value="" name="shop"  onkeyup="getInfo(this)" id="shop" class="reginfo" autocomplete="off"/></span>&nbsp;<span id="state_shop" class="msg"><if condition="in_array('shop',$require) eq true">*</if></span></td>
                                    </tr>
                                    </notempty>
                                    {//单数}
                                    <if condition="($sale:setNumber eq true)">
                                    <tr>
                                        <td class="tbkey" >{:L('单数')}：</td>
                                        <td class="tbval" ><input type="text" value="" name="setNumber" class="reginfo"/>&nbsp;<span id="state_setNumber" class="msg">*</span></td>
                                    </tr>
                                    </if>
                                    <if condition="($sale:setMoney eq true)">
                                    <tr>
                                        <td class="tbkey">{:L('报单金额')}：</td>
                                        <td class="tbval"><input type="text" value="" size="20" name="setMoney" class="reginfo" /></td>
                                    </tr>
                                    </if>
                                    <if condition="in_array('area',$show) eq true">
                                    <tr>
                                        <td class="tbkey">{:L('国家')}：</td>
                                        <td class="tbval">
                                            <select name="country" id="country_id">
                                                <option value="">请选择</option>
                                            </select>
                                            <select name="province" id="province_id" <if condition="$zkbool eq true">onChange="user_getTotalzf('{$sale:name}','Saleweb');"</if>>
                                                <option value="">请选择</option>
                                            </select>
                                            <select name="city" id="city_id">
                                                <option value="">请选择</option>
                                            </select>
                                            &nbsp;<span id="state_city" class="msg"><if condition="in_array('area',$require) eq true ">*</if></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tbkey">{:L('区县')}：</td>
                                        <td class="tbval">
                                            <select name="county" style="padding:0px;width:100px" id="county_id">
                                                <option value="">请选择</option>
                                            </select>
                                            <select name="town" style="padding:0px;width:100px" id="town_id">
                                                <option value="">请选择</option>
                                            </select>
                                            &nbsp;<span id="state_town" class="msg"><if condition="in_array('area',$require) eq true ">*</if></span>
                                        </td>
                                    </tr>
                                    </if>
                                    <if condition="in_array('address',$show) eq true">
                                    <tr>
                                        <td class="tbkey">{:L('地址')}：</td>
                                        <td class="tbval"><span><input type="text"  value="" name="address" class="reginfo" /></span>&nbsp;<span id="state_address" class="msg"><if condition="in_array('address',$require) eq true ">*</if></span></td>
                                    </tr>
                                    </if>
                                    <if condition="in_array('reciver',$show) eq true">
                                    <tr>
                                        <td class="tbkey">{:L('收货人')}：</td>
                                        <td class="tbval"><span><input type="text" value="" name="reciver" class="reginfo" /></span>&nbsp;<span id="state_reciver" class="msg"><if condition="in_array('reciver',$require) eq true ">*</if></span></td>
                                    </tr>
                                    </if>
                                    <if condition="in_array('bank_apply_name',$show) eq true">
                                    <tr>
                                        <td class="tbkey">{:L('开户行')}：</td>
                                        <td class="tbval">
                                            <select name="bank_apply_name" id="bank">
                                                <option value="">{:L('请选择')}</option>
                                                <foreach name="banklist" item="bank">
                                                <option value="{$bank.开户行}">{$bank['开户行']}</option>
                                                </foreach>
                                            </select>
                                            &nbsp;<span id="bank_apply_name" class="msg"><if condition="in_array('bank_apply_name',$require) eq true ">*</if></span>
                                        </td>
                                    </tr>
                                    </if>
                                    <if condition="in_array('bank_card',$show) eq true">
                                    <tr>
                                        <td class="tbkey">{:L('银行卡号')}：</td>
                                        <td class="tbval" ><span ><input  type="text" value="" name="bank_card" class="reginfo"/></span>&nbsp;<span id="state_bank_card" class="msg"><if condition="in_array('bank_card',$require) eq true ">*</if></span></td>
                                    </tr>
                                    </if>
                                    <if condition="in_array('bank_name',$show) eq true">
                                    <tr>
                                        <td class="tbkey">{:L('开户名')}：</td>
                                        <td class="tbval"><span><input type="text" value="" name="bank_name" class="reginfo" /></span>&nbsp;<span id="state_bank_name" class="msg"><if condition="in_array('bank_name',$require) eq true ">*</if></span></td>
                                    </tr>
                                    </if>
                                    <if condition="in_array('bank_apply_addr',$show) eq true">
                                    <tr>
                                        <td class="tbkey">{:L('开户地址')}：</td>
                                        <td class="tbval"><span><input type="text" value="" name="bank_apply_addr" class="reginfo" /></span>&nbsp;<span id="state_bank_apply_addr" class="msg"><if condition="in_array('bank_apply_addr',$require) eq true ">*</if></span></td>
                                    </tr>
                                    </if>
                                    <if condition="in_array('pass1',$show) eq true">
                                    <tr>
                                        <td class="tbkey">{:L('一级密码')}：</td>
                                        <td class="tbval"><span><input type="password" autocomplete="off" value="" name="pass1" /></span>&nbsp;<span id="state_pass1" class="msg"><if condition="in_array('pass1',$require) eq true ">*</if></span></td>
                                    </tr>
                                    </if>
                                    <if condition="in_array('pass1c',$show) eq true">
                                    <tr>
                                        <td class="tbkey">{:L('一级密码确认')}：</td>
                                        <td class="tbval"><span><input type="password" autocomplete="off" value="" name="pass1c" /></span>&nbsp;<span id="state_pass1c" class="msg"><if condition="in_array('pass1c',$require) eq true ">*</if></span></td>
                                    </tr>                                   
                                    </if>
                                    <if condition="in_array('pass2',$show) eq true">
                                    <tr>
                                        <td class="tbkey">{:L('二级密码')}：</td>
                                        <td class="tbval"><span><input type="password" autocomplete="off" value="" name="pass2" /></span>&nbsp;<span id="state_pass2" class="msg"><if condition="in_array('pass2',$require) eq true ">*</if></span></td>
                                    </tr>                                
                                    </if>
                                    <if condition="in_array('pass2c',$show) eq true">
                                    <tr>
                                        <td class="tbkey">{:L('二级密码确认')}：</td>
                                        <td class="tbval"><span><input type="password" autocomplete="off" value="" name="pass2c" /></span>&nbsp;<span id="state_pass2c" class="msg"><if condition="in_array('pass2c',$require) eq true ">*</if></span></td>
                                    </tr>
                                    </if>
                                    <eq name="pwd3Switch" value="true">
                                    <if condition="in_array('pass3',$show) eq true">
                                    <tr>
                                        <td class="tbkey" >{:L('三级密码')}：</td>
                                        <td class="tbval" ><span><input type="password" autocomplete="off" value="" name="pass3" /></span>&nbsp;<span id="state_pass3" class="msg"><if condition="in_array('pass3',$require) eq true ">*</if></span></td>
                                    </tr> 
                                    </if>
                                    <if condition="in_array('pass3c',$show) eq true">
                                    <tr>
                                        <td class="tbkey" >{:L('三级密码确认')}：</td>
                                        <td class="tbval" ><span><input type="password" autocomplete="off" value="" name="pass3c" /></span>&nbsp;<span id="state_pass3c" class="msg"><if condition="in_array('pass3c',$require) eq true ">*</if></span></td>
                                    </tr>
                                    </if>
                                    </eq>
                                </table>                           
                                <!--基本信息结束-->
                                <present name="productArr"><include file="product" /></present>                        
                                <table class="tablebg" id="table3">
                                    <tr>
                                        <td class="tdcenter">
                                            <button class="button_text" type="button" onclick="regAjaxall()">{:L('确定')}</button> 
                                        </td>
                                    </tr>
                                </table>    
                            </form>
                        </div>
                        <present name='regAgreement'>
                        <div id="regAgreement" style="display:block;">
                            <table class="tablebg">
                                <tr>
                                    <td class="tdcenter"><b>{:L('注册协议内容')}</b></td>
                                </tr>
                                <tr>
                                    <td>{$regAgreement}</td>
                                </tr>
                                <tr>
                                    <td class="tdcenter"><input class="button_text" type="button" value="{:L('同意并注册')}" onclick="$('#regAgreement').hide();$('#salereg').show()"/></td>
                                </tr>
                            </table>
                        </div>
                        </present>     	
                    </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 <script>
    $.area_default_show = true; //显示默认区域
    $.area_select_bind( 'country_id' , 'province_id' , 'city_id' , 'county_id','town_id' );
    var vd;
    var lastname;
function getInfo(e)
{

    var thisname=e.name;
    if(lastname == thisname){

        clearTimeout(vd);
        vd = setTimeout("regAjax('"+e.id+"')",600);
    }else{
        regAjax(e.id);
        lastname=thisname;
    }
}
function regAjaxall()
{
    var arr={$jsrequire};
    for(var i in arr)
    {
        $('#state_'+arr[i]).text("*");
    }
    //在FROM中的ONSUBMIT事件中执行此函数
    //查询事件所属的FROM对象下边的所有表单

    //遍历当前所有表单
    //并且把表单全部提交到regAjax中校验，如果有返回内容，则执行返回内容，并返回false,如果内容为空，则返回TRUE
    //var inputlist	= $("input");
    var postdata	= {};
    $("input").each(function(i,n){
            var postname	= n.name;
            var value  = n.value;
            postdata[postname]	= value;
            });
    $("select").each(function(i,n){
            var postname	= n.name;
            var value  = n.value;
            postdata[postname]	= value;
            });
    $.post('__MODULE__/Saleweb/regAjax:{$xpath}',postdata,function(data){
            if(!data)
            {
            $('#form').submit();
            }
            else
            {
            eval(data);
            return false;
            }
            });
}
function regAjax(name)
{
    var id			= $('#'+name).val();
    var postname	= name;
    var otherpost	= $('#'+name).attr('otherpost');
    var postdata = {postname:name};
    $("input").each(function(i,n){
            var postname	= n.name;
            var value  = n.value;
            postdata[postname]	= value;
            });
    $("select").each(function(i,n){
            var postname	= n.name;
            var value  = n.value;
            postdata[postname]	= value;
            });
    $.ajax({
        url:"__MODULE__/Saleweb/regAjax:{$xpath}",
        type:"POST",
        data:postdata,
        dataType:"script",
        global:false,
        success:function(data){
            if(data == ''){
				  $("#state_"+name).html('<img style="display:inline" src="__PUBLIC__/Images/ExtJSicons/tick.png"/>');
		   }else{
			  data;
		   }
        }  
    });
}
function changelang(){
	var url  = window.location.href;
	var lang = document.getElementById('lang').value;
	url = url.split('/',4);
	url = url[0]+'/'+url[1]+'/'+url[2]+'/'+url[3];
	window.history.pushState({},0,url+lang);
	window.location.reload();
}
</script>
   <footer id="footer">
        <div class="footer-link">
        </div>
        <hr class="baseline">
        <div class="copyright">©Copyright 2016 - 企业销售平台. Designed by 京ICP备16045634号-1</div>
    </footer>
</body>
</html>

